@font-face {
  font-family: 'fsi-icon-font';
  src:  url('../fonts/fsi-icon-font.eot?x3qkay');
  src:  url('../fonts/fsi-icon-font.eot?x3qkay#iefix') format('embedded-opentype'),
    url('../fonts/fsi-icon-font.ttf?x3qkay') format('truetype'),
    url('../fonts/fsi-icon-font.woff?x3qkay') format('woff'),
    url('../fonts/fsi-icon-font.svg?x3qkay#fsi-icon-font') format('svg');
  font-weight: normal;
  font-style: normal;
}

i, .icomoon-liga {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'fsi-icon-font' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fsi-ion-android-alert:before {
  content: "\e900";
}
.fsi-ion-android-apps:before {
  content: "\e901";
}
.fsi-ion-android-archive:before {
  content: "\e902";
}
.fsi-ion-android-arrow-dropdown-circle:before {
  content: "\e903";
}
.fsi-ion-android-arrow-dropleft-circle:before {
  content: "\e904";
}
.fsi-ion-android-arrow-dropright-circle:before {
  content: "\e905";
}
.fsi-ion-android-arrow-dropup-circle:before {
  content: "\e906";
}
.fsi-ion-android-attach:before {
  content: "\e907";
}
.fsi-ion-android-bookmark:before {
  content: "\e908";
}
.fsi-ion-android-bus:before {
  content: "\e909";
}
.fsi-ion-android-calendar:before {
  content: "\e90a";
}
.fsi-ion-android-call:before {
  content: "\e90b";
}
.fsi-ion-android-camera:before {
  content: "\e90c";
}
.fsi-ion-android-car:before {
  content: "\e90d";
}
.fsi-ion-android-cart:before {
  content: "\e90e";
}
.fsi-ion-android-checkbox-blank:before {
  content: "\e90f";
}
.fsi-ion-android-checkbox-outline-blank:before {
  content: "\e910";
}
.fsi-ion-android-checkbox-outline:before {
  content: "\e911";
}
.fsi-ion-android-checkbox:before {
  content: "\e912";
}
.fsi-ion-android-checkmark-circle:before {
  content: "\e913";
}
.fsi-ion-android-clipboard:before {
  content: "\e914";
}
.fsi-ion-android-close:before {
  content: "\e915";
}
.fsi-ion-android-cloud-circle:before {
  content: "\e916";
}
.fsi-ion-android-cloud-done:before {
  content: "\e917";
}
.fsi-ion-android-cloud-outline:before {
  content: "\e918";
}
.fsi-ion-android-cloud:before {
  content: "\e919";
}
.fsi-ion-android-create:before {
  content: "\e91a";
}
.fsi-ion-android-delete:before {
  content: "\e91b";
}
.fsi-ion-android-desktop:before {
  content: "\e91c";
}
.fsi-ion-android-document:before {
  content: "\e91d";
}
.fsi-ion-android-done-all:before {
  content: "\e91e";
}
.fsi-ion-android-done:before {
  content: "\e91f";
}
.fsi-ion-android-download:before {
  content: "\e920";
}
.fsi-ion-android-drafts:before {
  content: "\e921";
}
.fsi-ion-android-exit:before {
  content: "\e922";
}
.fsi-ion-android-expand:before {
  content: "\e923";
}
.fsi-ion-android-favorite-outline:before {
  content: "\e924";
}
.fsi-ion-android-favorite:before {
  content: "\e925";
}
.fsi-ion-android-film:before {
  content: "\e926";
}
.fsi-ion-android-folder-open:before {
  content: "\e927";
}
.fsi-ion-android-folder:before {
  content: "\e928";
}
.fsi-ion-android-funnel:before {
  content: "\e929";
}
.fsi-ion-android-globe:before {
  content: "\e92a";
}
.fsi-ion-android-hand:before {
  content: "\e92b";
}
.fsi-ion-android-hangout:before {
  content: "\e92c";
}
.fsi-ion-android-happy:before {
  content: "\e92d";
}
.fsi-ion-android-home:before {
  content: "\e92e";
}
.fsi-ion-android-image:before {
  content: "\e92f";
}
.fsi-ion-android-laptop:before {
  content: "\e930";
}
.fsi-ion-android-list:before {
  content: "\e931";
}
.fsi-ion-android-locate:before {
  content: "\e932";
}
.fsi-ion-android-lock:before {
  content: "\e933";
}
.fsi-ion-android-mail:before {
  content: "\e934";
}
.fsi-ion-android-map:before {
  content: "\e935";
}
.fsi-ion-android-menu:before {
  content: "\e936";
}
.fsi-ion-android-microphone-off:before {
  content: "\e937";
}
.fsi-ion-android-microphone:before {
  content: "\e938";
}
.fsi-ion-android-more-horizontal:before {
  content: "\e939";
}
.fsi-ion-android-more-vertical:before {
  content: "\e93a";
}
.fsi-ion-android-navigate:before {
  content: "\e93b";
}
.fsi-ion-android-notifications-none:before {
  content: "\e93c";
}
.fsi-ion-android-notifications-off:before {
  content: "\e93d";
}
.fsi-ion-android-notifications:before {
  content: "\e93e";
}
.fsi-ion-android-open:before {
  content: "\e93f";
}
.fsi-ion-android-options:before {
  content: "\e940";
}
.fsi-ion-android-people:before {
  content: "\e941";
}
.fsi-ion-android-person-add:before {
  content: "\e942";
}
.fsi-ion-android-person:before {
  content: "\e943";
}
.fsi-ion-android-phone-landscape:before {
  content: "\e944";
}
.fsi-ion-android-phone-portrait:before {
  content: "\e945";
}
.fsi-ion-android-pin:before {
  content: "\e946";
}
.fsi-ion-android-plane:before {
  content: "\e947";
}
.fsi-ion-android-playstore:before {
  content: "\e948";
}
.fsi-ion-android-print:before {
  content: "\e949";
}
.fsi-ion-android-radio-button-off:before {
  content: "\e94a";
}
.fsi-ion-android-radio-button-on:before {
  content: "\e94b";
}
.fsi-ion-android-refresh:before {
  content: "\e94c";
}
.fsi-ion-android-remove-circle:before {
  content: "\e94d";
}
.fsi-ion-android-remove:before {
  content: "\e94e";
}
.fsi-ion-android-restaurant:before {
  content: "\e94f";
}
.fsi-ion-android-sad:before {
  content: "\e950";
}
.fsi-ion-android-search:before {
  content: "\e951";
}
.fsi-ion-android-send:before {
  content: "\e952";
}
.fsi-ion-android-settings:before {
  content: "\e953";
}
.fsi-ion-android-share-alt:before {
  content: "\e954";
}
.fsi-ion-android-share:before {
  content: "\e955";
}
.fsi-ion-android-star-half:before {
  content: "\e956";
}
.fsi-ion-android-star-outline:before {
  content: "\e957";
}
.fsi-ion-android-star:before {
  content: "\e958";
}
.fsi-ion-android-subway:before {
  content: "\e959";
}
.fsi-ion-android-time:before {
  content: "\e95a";
}
.fsi-ion-android-train:before {
  content: "\e95b";
}
.fsi-ion-android-unlock:before {
  content: "\e95c";
}
.fsi-ion-android-upload:before {
  content: "\e95d";
}
.fsi-ion-android-watch:before {
  content: "\e95e";
}
.fsi-ion-android-wifi:before {
  content: "\e95f";
}
.fsi-ion-aperture:before {
  content: "\e960";
}
.fsi-ion-archive:before {
  content: "\e961";
}
.fsi-ion-at:before {
  content: "\e962";
}
.fsi-ion-backspace-outline:before {
  content: "\e963";
}
.fsi-ion-backspace:before {
  content: "\e964";
}
.fsi-ion-bag:before {
  content: "\e965";
}
.fsi-ion-briefcase:before {
  content: "\e966";
}
.fsi-ion-calendar:before {
  content: "\e967";
}
.fsi-ion-camera:before {
  content: "\e968";
}
.fsi-ion-card:before {
  content: "\e969";
}
.fsi-ion-chatbox-working:before {
  content: "\e96a";
}
.fsi-ion-chatbox:before {
  content: "\e96b";
}
.fsi-ion-chatboxes:before {
  content: "\e96c";
}
.fsi-ion-chatbubble-working:before {
  content: "\e96d";
}
.fsi-ion-chatbubble:before {
  content: "\e96e";
}
.fsi-ion-chatbubbles:before {
  content: "\e96f";
}
.fsi-ion-checkmark-circled:before {
  content: "\e970";
}
.fsi-ion-checkmark-round:before {
  content: "\e971";
}
.fsi-ion-close-circled:before {
  content: "\e972";
}
.fsi-ion-close-round:before {
  content: "\e973";
}
.fsi-ion-cloud:before {
  content: "\e974";
}
.fsi-ion-code-working:before {
  content: "\e975";
}
.fsi-ion-code:before {
  content: "\e976";
}
.fsi-ion-coffee:before {
  content: "\e977";
}
.fsi-ion-compass:before {
  content: "\e978";
}
.fsi-ion-compose:before {
  content: "\e979";
}
.fsi-ion-connection-bars:before {
  content: "\e97a";
}
.fsi-ion-contrast:before {
  content: "\e97b";
}
.fsi-ion-crop:before {
  content: "\e97c";
}
.fsi-ion-cube:before {
  content: "\e97d";
}
.fsi-ion-disc:before {
  content: "\e97e";
}
.fsi-ion-document:before {
  content: "\e97f";
}
.fsi-ion-drag:before {
  content: "\e980";
}
.fsi-ion-earth:before {
  content: "\e981";
}
.fsi-ion-easel:before {
  content: "\e982";
}
.fsi-ion-edit:before {
  content: "\e983";
}
.fsi-ion-egg:before {
  content: "\e984";
}
.fsi-ion-eject:before {
  content: "\e985";
}
.fsi-ion-filing:before {
  content: "\e986";
}
.fsi-ion-film-marker:before {
  content: "\e987";
}
.fsi-ion-fireball:before {
  content: "\e988";
}
.fsi-ion-flag:before {
  content: "\e989";
}
.fsi-ion-flame:before {
  content: "\e98a";
}
.fsi-ion-flash-off:before {
  content: "\e98b";
}
.fsi-ion-flash:before {
  content: "\e98c";
}
.fsi-ion-folder:before {
  content: "\e98d";
}
.fsi-ion-forward:before {
  content: "\e98e";
}
.fsi-ion-grid:before {
  content: "\e98f";
}
.fsi-ion-headphone:before {
  content: "\e990";
}
.fsi-ion-heart:before {
  content: "\e991";
}
.fsi-ion-help-circled:before {
  content: "\e992";
}
.fsi-ion-help:before {
  content: "\e993";
}
.fsi-ion-home:before {
  content: "\e994";
}
.fsi-ion-icecream:before {
  content: "\e995";
}
.fsi-ion-image:before {
  content: "\e996";
}
.fsi-ion-images:before {
  content: "\e997";
}
.fsi-ion-information-circled:before {
  content: "\e998";
}
.fsi-ion-information:before {
  content: "\e999";
}
.fsi-ion-ionic:before {
  content: "\e99a";
}
.fsi-ion-ios-alarm-outline:before {
  content: "\e99b";
}
.fsi-ion-ios-alarm:before {
  content: "\e99c";
}
.fsi-ion-ios-albums-outline:before {
  content: "\e99d";
}
.fsi-ion-ios-albums:before {
  content: "\e99e";
}
.fsi-ion-ios-arrow-down:before {
  content: "\e99f";
}
.fsi-ion-ios-arrow-left:before {
  content: "\e9a0";
}
.fsi-ion-ios-arrow-right:before {
  content: "\e9a1";
}
.fsi-ion-ios-arrow-thin-down:before {
  content: "\e9a2";
}
.fsi-ion-ios-arrow-thin-left:before {
  content: "\e9a3";
}
.fsi-ion-ios-arrow-thin-right:before {
  content: "\e9a4";
}
.fsi-ion-ios-arrow-thin-up:before {
  content: "\e9a5";
}
.fsi-ion-ios-arrow-up:before {
  content: "\e9a6";
}
.fsi-ion-ios-at-outline:before {
  content: "\e9a7";
}
.fsi-ion-ios-at:before {
  content: "\e9a8";
}
.fsi-ion-ios-bell-outline:before {
  content: "\e9a9";
}
.fsi-ion-ios-bell:before {
  content: "\e9aa";
}
.fsi-ion-ios-bolt-outline:before {
  content: "\e9ab";
}
.fsi-ion-ios-bolt:before {
  content: "\e9ac";
}
.fsi-ion-ios-book-outline:before {
  content: "\e9ad";
}
.fsi-ion-ios-book:before {
  content: "\e9ae";
}
.fsi-ion-ios-bookmarks-outline:before {
  content: "\e9af";
}
.fsi-ion-ios-bookmarks:before {
  content: "\e9b0";
}
.fsi-ion-ios-box-outline:before {
  content: "\e9b1";
}
.fsi-ion-ios-box:before {
  content: "\e9b2";
}
.fsi-ion-ios-briefcase-outline:before {
  content: "\e9b3";
}
.fsi-ion-ios-briefcase:before {
  content: "\e9b4";
}
.fsi-ion-ios-browsers-outline:before {
  content: "\e9b5";
}
.fsi-ion-ios-browsers:before {
  content: "\e9b6";
}
.fsi-ion-ios-calculator-outline:before {
  content: "\e9b7";
}
.fsi-ion-ios-calculator:before {
  content: "\e9b8";
}
.fsi-ion-ios-calendar-outline:before {
  content: "\e9b9";
}
.fsi-ion-ios-calendar:before {
  content: "\e9ba";
}
.fsi-ion-ios-camera-outline:before {
  content: "\e9bb";
}
.fsi-ion-ios-camera:before {
  content: "\e9bc";
}
.fsi-ion-ios-cart-outline:before {
  content: "\e9bd";
}
.fsi-ion-ios-cart:before {
  content: "\e9be";
}
.fsi-ion-ios-chatbubble-outline:before {
  content: "\e9bf";
}
.fsi-ion-ios-chatbubble:before {
  content: "\e9c0";
}
.fsi-ion-ios-checkmark-empty:before {
  content: "\e9c1";
}
.fsi-ion-ios-checkmark-outline:before {
  content: "\e9c2";
}
.fsi-ion-ios-checkmark:before {
  content: "\e9c3";
}
.fsi-ion-ios-circle-filled:before {
  content: "\e9c4";
}
.fsi-ion-ios-circle-outline:before {
  content: "\e9c5";
}
.fsi-ion-ios-clock-outline:before {
  content: "\e9c6";
}
.fsi-ion-ios-clock:before {
  content: "\e9c7";
}
.fsi-ion-ios-close-empty:before {
  content: "\e9c8";
}
.fsi-ion-ios-close-outline:before {
  content: "\e9c9";
}
.fsi-ion-ios-close:before {
  content: "\e9ca";
}
.fsi-ion-ios-cloud-outline:before {
  content: "\e9cb";
}
.fsi-ion-ios-cloud:before {
  content: "\e9cc";
}
.fsi-ion-ios-compose-outline:before {
  content: "\e9cd";
}
.fsi-ion-ios-compose:before {
  content: "\e9ce";
}
.fsi-ion-ios-contact-outline:before {
  content: "\e9cf";
}
.fsi-ion-ios-contact:before {
  content: "\e9d0";
}
.fsi-ion-ios-copy-outline:before {
  content: "\e9d1";
}
.fsi-ion-ios-copy:before {
  content: "\e9d2";
}
.fsi-ion-ios-crop-strong:before {
  content: "\e9d3";
}
.fsi-ion-ios-crop:before {
  content: "\e9d4";
}
.fsi-ion-ios-download-outline:before {
  content: "\e9d5";
}
.fsi-ion-ios-download:before {
  content: "\e9d6";
}
.fsi-ion-ios-drag:before {
  content: "\e9d7";
}
.fsi-ion-ios-email-outline:before {
  content: "\e9d8";
}
.fsi-ion-ios-email:before {
  content: "\e9d9";
}
.fsi-ion-ios-fastforward-outline:before {
  content: "\e9da";
}
.fsi-ion-ios-fastforward:before {
  content: "\e9db";
}
.fsi-ion-ios-filing-outline:before {
  content: "\e9dc";
}
.fsi-ion-ios-filing:before {
  content: "\e9dd";
}
.fsi-ion-ios-film-outline:before {
  content: "\e9de";
}
.fsi-ion-ios-film:before {
  content: "\e9df";
}
.fsi-ion-ios-flag-outline:before {
  content: "\e9e0";
}
.fsi-ion-ios-flag:before {
  content: "\e9e1";
}
.fsi-ion-ios-flame-outline:before {
  content: "\e9e2";
}
.fsi-ion-ios-flame:before {
  content: "\e9e3";
}
.fsi-ion-ios-folder-outline:before {
  content: "\e9e4";
}
.fsi-ion-ios-folder:before {
  content: "\e9e5";
}
.fsi-ion-ios-game-controller-a-outline:before {
  content: "\e9e6";
}
.fsi-ion-ios-game-controller-a:before {
  content: "\e9e7";
}
.fsi-ion-ios-game-controller-b-outline:before {
  content: "\e9e8";
}
.fsi-ion-ios-game-controller-b:before {
  content: "\e9e9";
}
.fsi-ion-ios-gear-outline:before {
  content: "\e9ea";
}
.fsi-ion-ios-gear:before {
  content: "\e9eb";
}
.fsi-ion-ios-grid-view-outline:before {
  content: "\e9ec";
}
.fsi-ion-ios-grid-view:before {
  content: "\e9ed";
}
.fsi-ion-ios-heart-outline:before {
  content: "\e9ee";
}
.fsi-ion-ios-heart:before {
  content: "\e9ef";
}
.fsi-ion-ios-help-empty:before {
  content: "\e9f0";
}
.fsi-ion-ios-help-outline:before {
  content: "\e9f1";
}
.fsi-ion-ios-help:before {
  content: "\e9f2";
}
.fsi-ion-ios-home-outline:before {
  content: "\e9f3";
}
.fsi-ion-ios-home:before {
  content: "\e9f4";
}
.fsi-ion-ios-infinite-outline:before {
  content: "\e9f5";
}
.fsi-ion-ios-infinite:before {
  content: "\e9f6";
}
.fsi-ion-ios-information-empty:before {
  content: "\e9f7";
}
.fsi-ion-ios-information-outline:before {
  content: "\e9f8";
}
.fsi-ion-ios-information:before {
  content: "\e9f9";
}
.fsi-ion-ios-ionic-outline:before {
  content: "\e9fa";
}
.fsi-ion-ios-keypad-outline:before {
  content: "\e9fb";
}
.fsi-ion-ios-keypad:before {
  content: "\e9fc";
}
.fsi-ion-ios-list-outline:before {
  content: "\e9fd";
}
.fsi-ion-ios-list:before {
  content: "\e9fe";
}
.fsi-ion-ios-loop-strong:before {
  content: "\e9ff";
}
.fsi-ion-ios-loop:before {
  content: "\ea00";
}
.fsi-ion-ios-mic-off:before {
  content: "\ea01";
}
.fsi-ion-ios-mic-outline:before {
  content: "\ea02";
}
.fsi-ion-ios-mic:before {
  content: "\ea03";
}
.fsi-ion-ios-minus-empty:before {
  content: "\ea04";
}
.fsi-ion-ios-minus-outline:before {
  content: "\ea05";
}
.fsi-ion-ios-minus:before {
  content: "\ea06";
}
.fsi-ion-ios-monitor-outline:before {
  content: "\ea07";
}
.fsi-ion-ios-monitor:before {
  content: "\ea08";
}
.fsi-ion-ios-moon-outline:before {
  content: "\ea09";
}
.fsi-ion-ios-moon:before {
  content: "\ea0a";
}
.fsi-ion-ios-more-outline:before {
  content: "\ea0b";
}
.fsi-ion-ios-more:before {
  content: "\ea0c";
}
.fsi-ion-ios-musical-note:before {
  content: "\ea0d";
}
.fsi-ion-ios-musical-notes:before {
  content: "\ea0e";
}
.fsi-ion-ios-paper-outline:before {
  content: "\ea0f";
}
.fsi-ion-ios-paper:before {
  content: "\ea10";
}
.fsi-ion-ios-pause-outline:before {
  content: "\ea11";
}
.fsi-ion-ios-pause:before {
  content: "\ea12";
}
.fsi-ion-ios-photos-outline:before {
  content: "\ea13";
}
.fsi-ion-ios-photos:before {
  content: "\ea14";
}
.fsi-ion-ios-pie-outline:before {
  content: "\ea15";
}
.fsi-ion-ios-pie:before {
  content: "\ea16";
}
.fsi-ion-ios-play-outline:before {
  content: "\ea17";
}
.fsi-ion-ios-play:before {
  content: "\ea18";
}
.fsi-ion-ios-plus-empty:before {
  content: "\ea19";
}
.fsi-ion-ios-plus-outline:before {
  content: "\ea1a";
}
.fsi-ion-ios-plus:before {
  content: "\ea1b";
}
.fsi-ion-ios-printer-outline:before {
  content: "\ea1c";
}
.fsi-ion-ios-printer:before {
  content: "\ea1d";
}
.fsi-ion-ios-refresh-empty:before {
  content: "\ea1e";
}
.fsi-ion-ios-refresh-outline:before {
  content: "\ea1f";
}
.fsi-ion-ios-refresh:before {
  content: "\ea20";
}
.fsi-ion-ios-reload:before {
  content: "\ea21";
}
.fsi-ion-ios-rewind-outline:before {
  content: "\ea22";
}
.fsi-ion-ios-rewind:before {
  content: "\ea23";
}
.fsi-ion-ios-search-strong:before {
  content: "\ea24";
}
.fsi-ion-ios-search:before {
  content: "\ea25";
}
.fsi-ion-ios-settings-strong:before {
  content: "\ea26";
}
.fsi-ion-ios-settings:before {
  content: "\ea27";
}
.fsi-ion-ios-shuffle-strong:before {
  content: "\ea28";
}
.fsi-ion-ios-shuffle:before {
  content: "\ea29";
}
.fsi-ion-ios-skipbackward-outline:before {
  content: "\ea2a";
}
.fsi-ion-ios-skipbackward:before {
  content: "\ea2b";
}
.fsi-ion-ios-skipforward-outline:before {
  content: "\ea2c";
}
.fsi-ion-ios-skipforward:before {
  content: "\ea2d";
}
.fsi-ion-ios-snowy:before {
  content: "\ea2e";
}
.fsi-ion-ios-telephone-outline:before {
  content: "\ea2f";
}
.fsi-ion-ios-telephone:before {
  content: "\ea30";
}
.fsi-ion-ios-toggle-outline:before {
  content: "\ea31";
}
.fsi-ion-ios-toggle:before {
  content: "\ea32";
}
.fsi-ion-ios-unlocked-outline:before {
  content: "\ea33";
}
.fsi-ion-ios-unlocked:before {
  content: "\ea34";
}
.fsi-ion-ios-upload-outline:before {
  content: "\ea35";
}
.fsi-ion-ios-upload:before {
  content: "\ea36";
}
.fsi-ion-ios-videocam-outline:before {
  content: "\ea37";
}
.fsi-ion-ios-videocam:before {
  content: "\ea38";
}
.fsi-ion-locked:before {
  content: "\ea39";
}
.fsi-ion-log-in:before {
  content: "\ea3a";
}
.fsi-ion-log-out:before {
  content: "\ea3b";
}
.fsi-ion-map:before {
  content: "\ea3c";
}
.fsi-ion-mic-a:before {
  content: "\ea3d";
}
.fsi-ion-mic-b:before {
  content: "\ea3e";
}
.fsi-ion-mic-c:before {
  content: "\ea3f";
}
.fsi-ion-minus-circled:before {
  content: "\ea40";
}
.fsi-ion-minus-round:before {
  content: "\ea41";
}
.fsi-ion-minus:before {
  content: "\ea42";
}
.fsi-ion-model-s:before {
  content: "\ea43";
}
.fsi-ion-monitor:before {
  content: "\ea44";
}
.fsi-ion-more:before {
  content: "\ea45";
}
.fsi-ion-mouse:before {
  content: "\ea46";
}
.fsi-ion-music-note:before {
  content: "\ea47";
}
.fsi-ion-navicon-round:before {
  content: "\ea48";
}
.fsi-ion-navicon:before {
  content: "\ea49";
}
.fsi-ion-paper-airplane:before {
  content: "\ea4a";
}
.fsi-ion-paperclip:before {
  content: "\ea4b";
}
.fsi-ion-pause:before {
  content: "\ea4c";
}
.fsi-ion-person-add:before {
  content: "\ea4d";
}
.fsi-ion-person-stalker:before {
  content: "\ea4e";
}
.fsi-ion-person:before {
  content: "\ea4f";
}
.fsi-ion-pie-graph:before {
  content: "\ea50";
}
.fsi-ion-play:before {
  content: "\ea51";
}
.fsi-ion-plus-circled:before {
  content: "\ea52";
}
.fsi-ion-plus-round:before {
  content: "\ea53";
}
.fsi-ion-plus:before {
  content: "\ea54";
}
.fsi-ion-podium:before {
  content: "\ea55";
}
.fsi-ion-pound:before {
  content: "\ea56";
}
.fsi-ion-power:before {
  content: "\ea57";
}
.fsi-ion-pricetag:before {
  content: "\ea58";
}
.fsi-ion-pricetags:before {
  content: "\ea59";
}
.fsi-ion-printer:before {
  content: "\ea5a";
}
.fsi-ion-qr-scanner:before {
  content: "\ea5b";
}
.fsi-ion-record:before {
  content: "\ea5c";
}
.fsi-ion-refresh:before {
  content: "\ea5d";
}
.fsi-ion-social-buffer-outline:before {
  content: "\ea5e";
}
.fsi-ion-social-buffer:before {
  content: "\ea5f";
}
.fsi-ion-stop:before {
  content: "\ea60";
}
.fsi-ion-toggle-filled:before {
  content: "\ea61";
}
.fsi-ion-toggle:before {
  content: "\ea62";
}
.fsi-ion-trash-a:before {
  content: "\ea63";
}
.fsi-ion-trash-b:before {
  content: "\ea64";
}
.fsi-ion-trophy:before {
  content: "\ea65";
}
.fsi-ion-tshirt-outline:before {
  content: "\ea66";
}
.fsi-ion-tshirt:before {
  content: "\ea67";
}
.fsi-ion-unlocked:before {
  content: "\ea68";
}
.fsi-ion-wand:before {
  content: "\ea69";
}
.fsi-ion-waterdrop:before {
  content: "\ea6a";
}
.fsi-uni21:before {
  content: "\ea6b";
}
.fsi-uni22:before {
  content: "\ea6c";
}
.fsi-uni23:before {
  content: "\ea6d";
}
.fsi-uni24:before {
  content: "\ea6e";
}
.fsi-uni25:before {
  content: "\ea6f";
}
.fsi-uni26:before {
  content: "\ea70";
}
.fsi-uni27:before {
  content: "\ea71";
}
.fsi-uni28:before {
  content: "\ea72";
}
.fsi-uni29:before {
  content: "\ea73";
}
.fsi-uni2A:before {
  content: "\ea74";
}
.fsi-uni2B:before {
  content: "\ea75";
}
.fsi-uni2C:before {
  content: "\ea76";
}
.fsi-uni2D:before {
  content: "\ea77";
}
.fsi-uni2E:before {
  content: "\ea78";
}
.fsi-uni2F:before {
  content: "\ea79";
}
.fsi-uni30:before {
  content: "\ea7a";
}
.fsi-uni31:before {
  content: "\ea7b";
}
.fsi-uni32:before {
  content: "\ea7c";
}
.fsi-uni33:before {
  content: "\ea7d";
}
.fsi-uni34:before {
  content: "\ea7e";
}
.fsi-uni35:before {
  content: "\ea7f";
}
.fsi-uni36:before {
  content: "\ea80";
}
.fsi-uni37:before {
  content: "\ea81";
}
.fsi-uni38:before {
  content: "\ea82";
}
.fsi-uni39:before {
  content: "\ea83";
}
.fsi-uni3A:before {
  content: "\ea84";
}
.fsi-uni3B:before {
  content: "\ea85";
}
.fsi-uni3C:before {
  content: "\ea86";
}
.fsi-uni3D:before {
  content: "\ea87";
}
.fsi-uni3E:before {
  content: "\ea88";
}
.fsi-uni3F:before {
  content: "\ea89";
}
.fsi-uni40:before {
  content: "\ea8a";
}
.fsi-uni41:before {
  content: "\ea8b";
}
.fsi-uni42:before {
  content: "\ea8c";
}
.fsi-uni43:before {
  content: "\ea8d";
}
.fsi-uni44:before {
  content: "\ea8e";
}
.fsi-uni45:before {
  content: "\ea8f";
}
.fsi-uni46:before {
  content: "\ea90";
}
.fsi-uni47:before {
  content: "\ea91";
}
.fsi-uni48:before {
  content: "\ea92";
}
.fsi-uni49:before {
  content: "\ea93";
}
.fsi-uni4A:before {
  content: "\ea94";
}
.fsi-uni4B:before {
  content: "\ea95";
}
.fsi-uni4C:before {
  content: "\ea96";
}
.fsi-uni4D:before {
  content: "\ea97";
}
.fsi-uni4E:before {
  content: "\ea98";
}
.fsi-uni4F:before {
  content: "\ea99";
}
.fsi-uni50:before {
  content: "\ea9a";
}
.fsi-uni51:before {
  content: "\ea9b";
}
.fsi-uni52:before {
  content: "\ea9c";
}
.fsi-uni53:before {
  content: "\ea9d";
}
.fsi-uni54:before {
  content: "\ea9e";
}
.fsi-uni55:before {
  content: "\ea9f";
}
.fsi-uni56:before {
  content: "\eaa0";
}
.fsi-uni57:before {
  content: "\eaa1";
}
.fsi-uni58:before {
  content: "\eaa2";
}
.fsi-uni59:before {
  content: "\eaa3";
}
.fsi-uni5A:before {
  content: "\eaa4";
}
.fsi-uni5B:before {
  content: "\eaa5";
}
.fsi-uni5C:before {
  content: "\eaa6";
}
.fsi-uni5D:before {
  content: "\eaa7";
}
.fsi-uni5E:before {
  content: "\eaa8";
}
.fsi-uni5F:before {
  content: "\eaa9";
}
.fsi-uni60:before {
  content: "\eaaa";
}
.fsi-uni61:before {
  content: "\eaab";
}
.fsi-uni62:before {
  content: "\eaac";
}
.fsi-uni63:before {
  content: "\eaad";
}
.fsi-uni64:before {
  content: "\eaae";
}
.fsi-uni65:before {
  content: "\eaaf";
}
.fsi-uni66:before {
  content: "\eab0";
}
.fsi-uni67:before {
  content: "\eab1";
}
.fsi-uni68:before {
  content: "\eab2";
}
.fsi-uni69:before {
  content: "\eab3";
}
.fsi-uni6A:before {
  content: "\eab4";
}
.fsi-uni6B:before {
  content: "\eab5";
}
.fsi-uni6C:before {
  content: "\eab6";
}
.fsi-uni6D:before {
  content: "\eab7";
}
.fsi-uni6E:before {
  content: "\eab8";
}
.fsi-uni6F:before {
  content: "\eab9";
}
.fsi-uni70:before {
  content: "\eaba";
}
.fsi-uni71:before {
  content: "\eabb";
}
.fsi-uni72:before {
  content: "\eabc";
}
.fsi-uni73:before {
  content: "\eabd";
}
.fsi-uni74:before {
  content: "\eabe";
}
.fsi-uni75:before {
  content: "\eabf";
}
.fsi-uni76:before {
  content: "\eac0";
}
.fsi-uni77:before {
  content: "\eac1";
}
.fsi-uni78:before {
  content: "\eac2";
}
.fsi-uni79:before {
  content: "\eac3";
}
.fsi-uni7A:before {
  content: "\eac4";
}
.fsi-uni7B:before {
  content: "\eac5";
}
.fsi-uni7C:before {
  content: "\eac6";
}
.fsi-uni7D:before {
  content: "\eac7";
}
.fsi-uni7E:before {
  content: "\eac8";
}
.fsi-uniE0A2:before {
  content: "\eac9";
}
.fsi-uniE0A3:before {
  content: "\eaca";
}
.fsi-uniE0A4:before {
  content: "\eacb";
}
.fsi-uniE0A7:before {
  content: "\eacc";
}
.fsi-uniE0A8:before {
  content: "\eacd";
}
.fsi-uniE0A9:before {
  content: "\eace";
}
.fsi-uniE0AA:before {
  content: "\eacf";
}
.fsi-uniE0AB:before {
  content: "\ead0";
}
.fsi-uniE0AD:before {
  content: "\ead1";
}
.fsi-uniE0AE:before {
  content: "\ead2";
}
.fsi-uniE0AF:before {
  content: "\ead3";
}
.fsi-uniE0B0:before {
  content: "\ead4";
}
.fsi-uniE0B1:before {
  content: "\ead5";
}
.fsi-uniE0B2:before {
  content: "\ead6";
}
.fsi-uniE0B3:before {
  content: "\ead7";
}
.fsi-uniE0B4:before {
  content: "\ead8";
}
.fsi-uniE0B5:before {
  content: "\ead9";
}
.fsi-uniE0B6:before {
  content: "\eada";
}
.fsi-uniE0B7:before {
  content: "\eadb";
}
.fsi-uniE0B8:before {
  content: "\eadc";
}
.fsi-uniE0B9:before {
  content: "\eadd";
}
.fsi-uniE0BA:before {
  content: "\eade";
}
.fsi-uniE0BB:before {
  content: "\eadf";
}
.fsi-uniE0BC:before {
  content: "\eae0";
}
.fsi-uniE0BD:before {
  content: "\eae1";
}
.fsi-uniE0BE:before {
  content: "\eae2";
}
.fsi-uniE0BF:before {
  content: "\eae3";
}
.fsi-uniE0C0:before {
  content: "\eae4";
}
.fsi-uniE0C1:before {
  content: "\eae5";
}
.fsi-uniE0C2:before {
  content: "\eae6";
}
.fsi-uniE0C3:before {
  content: "\eae7";
}
.fsi-uniE0C4:before {
  content: "\eae8";
}
.fsi-uniE0C5:before {
  content: "\eae9";
}
.fsi-uniE0C6:before {
  content: "\eaea";
}
.fsi-uniE0C7:before {
  content: "\eaeb";
}
.fsi-uniE0C8:before {
  content: "\eaec";
}
.fsi-uniE0C9:before {
  content: "\eaed";
}
.fsi-uniE0CB:before {
  content: "\eaee";
}
.fsi-uniE0CF:before {
  content: "\eaef";
}
.fsi-uniE0D0:before {
  content: "\eaf0";
}
.fsi-uniE0D1:before {
  content: "\eaf1";
}
.fsi-uniE0D2:before {
  content: "\eaf2";
}
.fsi-uniE0D3:before {
  content: "\eaf3";
}
.fsi-uniE0D4:before {
  content: "\eaf4";
}
.fsi-uniE0D5:before {
  content: "\eaf5";
}
.fsi-uniE0D6:before {
  content: "\eaf6";
}
.fsi-uniE0D7:before {
  content: "\eaf7";
}
.fsi-uniE0DB:before {
  content: "\eaf8";
}
.fsi-uniE0DC:before {
  content: "\eaf9";
}
.fsi-uniE0DD:before {
  content: "\eafa";
}
.fsi-uniE0DE:before {
  content: "\eafb";
}
.fsi-uniE0DF:before {
  content: "\eafc";
}
.fsi-uniE0E0:before {
  content: "\eafd";
}
.fsi-uniE0E1:before {
  content: "\eafe";
}
.fsi-uniE0E2:before {
  content: "\eaff";
}
.fsi-uniE0E3:before {
  content: "\eb00";
}
.fsi-uniE0E4:before {
  content: "\eb01";
}
.fsi-uniE0E5:before {
  content: "\eb02";
}
.fsi-uniE0E6:before {
  content: "\eb03";
}
.fsi-uniE0E7:before {
  content: "\eb04";
}
.fsi-uniE0E8:before {
  content: "\eb05";
}
.fsi-uniE0E9:before {
  content: "\eb06";
}
.fsi-uniE0EA:before {
  content: "\eb07";
}
.fsi-uniE0EB:before {
  content: "\eb08";
}
.fsi-uniE0EC:before {
  content: "\eb09";
}
.fsi-uniE0ED:before {
  content: "\eb0a";
}
.fsi-uniE0EE:before {
  content: "\eb0b";
}
.fsi-uniE0EF:before {
  content: "\eb0c";
}
.fsi-uniE0F0:before {
  content: "\eb0d";
}
.fsi-uniE0F1:before {
  content: "\eb0e";
}
.fsi-uniE0F2:before {
  content: "\eb0f";
}
.fsi-uniE0F3:before {
  content: "\eb10";
}
.fsi-uniE0F4:before {
  content: "\eb11";
}
.fsi-uniE0F5:before {
  content: "\eb12";
}
.fsi-uniE0F6:before {
  content: "\eb13";
}
.fsi-uniE0F7:before {
  content: "\eb14";
}
.fsi-uniE0F8:before {
  content: "\eb15";
}
.fsi-uniE0F9:before {
  content: "\eb16";
}
.fsi-uniE0FA:before {
  content: "\eb17";
}
.fsi-uniE0FB:before {
  content: "\eb18";
}
.fsi-uniE0FC:before {
  content: "\eb19";
}
.fsi-uniE0FD:before {
  content: "\eb1a";
}
.fsi-uniE0FE:before {
  content: "\eb1b";
}
.fsi-uniE0FF:before {
  content: "\eb1c";
}
.fsi-uniE100:before {
  content: "\eb1d";
}
.fsi-uniE101:before {
  content: "\eb1e";
}
.fsi-uniE102:before {
  content: "\eb1f";
}
.fsi-uniE103:before {
  content: "\eb20";
}
.fsi-uniE104:before {
  content: "\eb21";
}
.fsi-uniE105:before {
  content: "\eb22";
}
.fsi-uniE106:before {
  content: "\eb23";
}
.fsi-uniE107:before {
  content: "\eb24";
}
.fsi-uniE108:before {
  content: "\eb25";
}
.fsi-uniE109:before {
  content: "\eb26";
}
.fsi-uniE10A:before {
  content: "\eb27";
}
.fsi-uniE10B:before {
  content: "\eb28";
}
.fsi-uniE10C:before {
  content: "\eb29";
}
.fsi-uniE10D:before {
  content: "\eb2a";
}
.fsi-uniE10E:before {
  content: "\eb2b";
}
.fsi-uniE10F:before {
  content: "\eb2c";
}
.fsi-uniE110:before {
  content: "\eb2d";
}
.fsi-uniE111:before {
  content: "\eb2e";
}
.fsi-uniE112:before {
  content: "\eb2f";
}
.fsi-uniE113:before {
  content: "\eb30";
}
.fsi-uniE115:before {
  content: "\eb31";
}
.fsi-uniE116:before {
  content: "\eb32";
}
.fsi-uniE117:before {
  content: "\eb33";
}
.fsi-uniE118:before {
  content: "\eb34";
}
.fsi-uniE119:before {
  content: "\eb35";
}
.fsi-uniE11A:before {
  content: "\eb36";
}
.fsi-uniE11B:before {
  content: "\eb37";
}
.fsi-uniE11C:before {
  content: "\eb38";
}
.fsi-uniE11D:before {
  content: "\eb39";
}
.fsi-uniE11E:before {
  content: "\eb3a";
}
.fsi-uniE121:before {
  content: "\eb3b";
}
.fsi-uniE122:before {
  content: "\eb3c";
}
.fsi-uniE123:before {
  content: "\eb3d";
}
.fsi-uniE124:before {
  content: "\eb3e";
}
.fsi-uniE126:before {
  content: "\eb3f";
}
.fsi-uniE127:before {
  content: "\eb40";
}
.fsi-uniE128:before {
  content: "\eb41";
}
.fsi-uniE129:before {
  content: "\eb42";
}
.fsi-uniE12A:before {
  content: "\eb43";
}
.fsi-uniE12B:before {
  content: "\eb44";
}
.fsi-uniE12C:before {
  content: "\eb45";
}
.fsi-uniE12D:before {
  content: "\eb46";
}
.fsi-uniE12E:before {
  content: "\eb47";
}
.fsi-uniE12F:before {
  content: "\eb48";
}
.fsi-uniE130:before {
  content: "\eb49";
}
.fsi-uniE131:before {
  content: "\eb4a";
}
.fsi-uniE132:before {
  content: "\eb4b";
}
.fsi-uniE14C:before {
  content: "\eb4c";
}
.fsi-uniE14D:before {
  content: "\eb4d";
}
.fsi-uniE14E:before {
  content: "\eb4e";
}
.fsi-uniE14F:before {
  content: "\eb4f";
}
.fsi-uniE150:before {
  content: "\eb50";
}
.fsi-uniE156:before {
  content: "\eb51";
}
.fsi-uniE157:before {
  content: "\eb52";
}
.fsi-uniE15B:before {
  content: "\eb53";
}
.fsi-uniE15C:before {
  content: "\eb54";
}
.fsi-uniE17D:before {
  content: "\eb55";
}
.fsi-uniE17E:before {
  content: "\eb56";
}
.fsi-uniE182:before {
  content: "\eb57";
}
.fsi-uniE183:before {
  content: "\eb58";
}
.fsi-uniE184:before {
  content: "\eb59";
}
.fsi-uniE185:before {
  content: "\eb5a";
}
.fsi-uniE186:before {
  content: "\eb5b";
}
.fsi-uniE187:before {
  content: "\eb5c";
}
.fsi-uniE188:before {
  content: "\eb5d";
}
.fsi-uniE189:before {
  content: "\eb5e";
}
.fsi-uniE18A:before {
  content: "\eb5f";
}
.fsi-uniE18B:before {
  content: "\eb60";
}
.fsi-uniE18C:before {
  content: "\eb61";
}
.fsi-uniE18D:before {
  content: "\eb62";
}
.fsi-uniE18E:before {
  content: "\eb63";
}
.fsi-uniE18F:before {
  content: "\eb64";
}
.fsi-uniE190:before {
  content: "\eb65";
}
.fsi-uniE191:before {
  content: "\eb66";
}
.fsi-uniE192:before {
  content: "\eb67";
}
.fsi-uniE193:before {
  content: "\eb68";
}
.fsi-uniE195:before {
  content: "\eb69";
}
.fsi-uniE196:before {
  content: "\eb6a";
}
.fsi-uniE198:before {
  content: "\eb6b";
}
.fsi-uniE199:before {
  content: "\eb6c";
}
.fsi-uniE19A:before {
  content: "\eb6d";
}
.fsi-uniE19B:before {
  content: "\eb6e";
}
.fsi-uniE19C:before {
  content: "\eb6f";
}
.fsi-uniE19D:before {
  content: "\eb70";
}
.fsi-uniE19E:before {
  content: "\eb71";
}
.fsi-uniE19F:before {
  content: "\eb72";
}
.fsi-uniE1A0:before {
  content: "\eb73";
}
.fsi-uniE1A1:before {
  content: "\eb74";
}
.fsi-uniE1A2:before {
  content: "\eb75";
}
.fsi-uniE1A3:before {
  content: "\eb76";
}
.fsi-uniE1A4:before {
  content: "\eb77";
}
.fsi-uniE1A5:before {
  content: "\eb78";
}
.fsi-uniE1A6:before {
  content: "\eb79";
}
.fsi-uniE1A7:before {
  content: "\eb7a";
}
.fsi-uniE1A9:before {
  content: "\eb7b";
}
.fsi-magic:before {
  content: "\eb7c";
}
.fsi-picture2:before {
  content: "\eb7d";
}
.fsi-video:before {
  content: "\eb7e";
}
.fsi-layers-alt:before {
  content: "\eb7f";
}
.fsi-people:before {
  content: "\eb80";
}
.fsi-user-follow:before {
  content: "\eb81";
}
.fsi-user-following:before {
  content: "\eb82";
}
.fsi-user-unfollow:before {
  content: "\eb83";
}
.fsi-user:before {
  content: "\eb84";
}
.fsi-social-youtube:before {
  content: "\eb85";
}
.fsi-social-twitter:before {
  content: "\eb86";
}
.fsi-social-tumblr:before {
  content: "\eb87";
}
.fsi-social-facebook:before {
  content: "\eb88";
}
.fsi-social-dropbox:before {
  content: "\eb89";
}
.fsi-shield:before {
  content: "\eb8a";
}
.fsi-screen-tablet:before {
  content: "\eb8b";
}
.fsi-screen-smartphone:before {
  content: "\eb8c";
}
.fsi-screen-desktop:before {
  content: "\eb8d";
}
.fsi-plane:before {
  content: "\eb8e";
}
.fsi-notebook:before {
  content: "\eb8f";
}
.fsi-mustache:before {
  content: "\eb90";
}
.fsi-mouse:before {
  content: "\eb91";
}
.fsi-magnet:before {
  content: "\eb92";
}
.fsi-magic-wand:before {
  content: "\eb93";
}
.fsi-hourglass:before {
  content: "\eb94";
}
.fsi-graduation:before {
  content: "\eb95";
}
.fsi-ghost:before {
  content: "\eb96";
}
.fsi-game-controller:before {
  content: "\eb97";
}
.fsi-fire:before {
  content: "\eb98";
}
.fsi-eyeglass:before {
  content: "\eb99";
}
.fsi-envelope-open:before {
  content: "\eb9a";
}
.fsi-envolope-letter:before {
  content: "\eb9b";
}
.fsi-energy:before {
  content: "\eb9c";
}
.fsi-emotsmile:before {
  content: "\eb9d";
}
.fsi-disc:before {
  content: "\eb9e";
}
.fsi-cursor-move:before {
  content: "\eb9f";
}
.fsi-crop:before {
  content: "\eba0";
}
.fsi-credit-card:before {
  content: "\eba1";
}
.fsi-chemistry:before {
  content: "\eba2";
}
.fsi-bell:before {
  content: "\eba3";
}
.fsi-badge:before {
  content: "\eba4";
}
.fsi-anchor:before {
  content: "\eba5";
}
.fsi-wallet:before {
  content: "\eba6";
}
.fsi-vector:before {
  content: "\eba7";
}
.fsi-speech:before {
  content: "\eba8";
}
.fsi-puzzle:before {
  content: "\eba9";
}
.fsi-printer:before {
  content: "\ebaa";
}
.fsi-present:before {
  content: "\ebab";
}
.fsi-playlist:before {
  content: "\ebac";
}
.fsi-pin:before {
  content: "\ebad";
}
.fsi-picture:before {
  content: "\ebae";
}
.fsi-map:before {
  content: "\ebaf";
}
.fsi-layers:before {
  content: "\ebb0";
}
.fsi-handbag:before {
  content: "\ebb1";
}
.fsi-globe-alt:before {
  content: "\ebb2";
}
.fsi-globe:before {
  content: "\ebb3";
}
.fsi-frame:before {
  content: "\ebb4";
}
.fsi-folder-alt:before {
  content: "\ebb5";
}
.fsi-film:before {
  content: "\ebb6";
}
.fsi-feed:before {
  content: "\ebb7";
}
.fsi-earphones-alt:before {
  content: "\ebb8";
}
.fsi-earphones:before {
  content: "\ebb9";
}
.fsi-drop:before {
  content: "\ebba";
}
.fsi-drawar:before {
  content: "\ebbb";
}
.fsi-docs:before {
  content: "\ebbc";
}
.fsi-directions:before {
  content: "\ebbd";
}
.fsi-direction:before {
  content: "\ebbe";
}
.fsi-diamond:before {
  content: "\ebbf";
}
.fsi-cup:before {
  content: "\ebc0";
}
.fsi-compass:before {
  content: "\ebc1";
}
.fsi-call-out:before {
  content: "\ebc2";
}
.fsi-call-in:before {
  content: "\ebc3";
}
.fsi-call-end:before {
  content: "\ebc4";
}
.fsi-calculator:before {
  content: "\ebc5";
}
.fsi-bubbles:before {
  content: "\ebc6";
}
.fsi-briefcase:before {
  content: "\ebc7";
}
.fsi-book-open:before {
  content: "\ebc8";
}
.fsi-basket-loaded:before {
  content: "\ebc9";
}
.fsi-basket:before {
  content: "\ebca";
}
.fsi-bag:before {
  content: "\ebcb";
}
.fsi-action-undo:before {
  content: "\ebcc";
}
.fsi-action-redo:before {
  content: "\ebcd";
}
.fsi-wrench:before {
  content: "\ebce";
}
.fsi-umbrella:before {
  content: "\ebcf";
}
.fsi-trash:before {
  content: "\ebd0";
}
.fsi-tag:before {
  content: "\ebd1";
}
.fsi-support:before {
  content: "\ebd2";
}
.fsi-size-fullscreen:before {
  content: "\ebd3";
}
.fsi-size-actual:before {
  content: "\ebd4";
}
.fsi-shuffle:before {
  content: "\ebd5";
}
.fsi-share-alt:before {
  content: "\ebd6";
}
.fsi-share:before {
  content: "\ebd7";
}
.fsi-rocket:before {
  content: "\ebd8";
}
.fsi-question:before {
  content: "\ebd9";
}
.fsi-pie-chart:before {
  content: "\ebda";
}
.fsi-pencil:before {
  content: "\ebdb";
}
.fsi-note:before {
  content: "\ebdc";
}
.fsi-music-tone-alt:before {
  content: "\ebdd";
}
.fsi-music-tone:before {
  content: "\ebde";
}
.fsi-microphone:before {
  content: "\ebdf";
}
.fsi-loop:before {
  content: "\ebe0";
}
.fsi-logout:before {
  content: "\ebe1";
}
.fsi-login:before {
  content: "\ebe2";
}
.fsi-list:before {
  content: "\ebe3";
}
.fsi-like:before {
  content: "\ebe4";
}
.fsi-home:before {
  content: "\ebe5";
}
.fsi-grid:before {
  content: "\ebe6";
}
.fsi-graph:before {
  content: "\ebe7";
}
.fsi-equalizer:before {
  content: "\ebe8";
}
.fsi-dislike:before {
  content: "\ebe9";
}
.fsi-cursor:before {
  content: "\ebea";
}
.fsi-control-start:before {
  content: "\ebeb";
}
.fsi-control-rewind:before {
  content: "\ebec";
}
.fsi-control-play:before {
  content: "\ebed";
}
.fsi-control-pause:before {
  content: "\ebee";
}
.fsi-control-forward:before {
  content: "\ebef";
}
.fsi-control-end:before {
  content: "\ebf0";
}
.fsi-calender:before {
  content: "\ebf1";
}
.fsi-bulb:before {
  content: "\ebf2";
}
.fsi-chart:before {
  content: "\ebf3";
}
.fsi-arrow-up-circle:before {
  content: "\ebf4";
}
.fsi-arrow-right-circle:before {
  content: "\ebf5";
}
.fsi-arrow-left-circle:before {
  content: "\ebf6";
}
.fsi-arrow-down-circle:before {
  content: "\ebf7";
}
.fsi-ban:before {
  content: "\ebf8";
}
.fsi-bubble:before {
  content: "\ebf9";
}
.fsi-camrecorder:before {
  content: "\ebfa";
}
.fsi-camera:before {
  content: "\ebfb";
}
.fsi-check:before {
  content: "\ebfc";
}
.fsi-clock:before {
  content: "\ebfd";
}
.fsi-close:before {
  content: "\ebfe";
}
.fsi-cloud-download:before {
  content: "\ebff";
}
.fsi-cloud-upload:before {
  content: "\ec00";
}
.fsi-doc:before {
  content: "\ec01";
}
.fsi-envolope:before {
  content: "\ec02";
}
.fsi-eye:before {
  content: "\ec03";
}
.fsi-flag:before {
  content: "\ec04";
}
.fsi-folder:before {
  content: "\ec05";
}
.fsi-heart:before {
  content: "\ec06";
}
.fsi-info:before {
  content: "\ec07";
}
.fsi-key:before {
  content: "\ec08";
}
.fsi-link:before {
  content: "\ec09";
}
.fsi-lock:before {
  content: "\ec0a";
}
.fsi-lock-open:before {
  content: "\ec0b";
}
.fsi-magnifier:before {
  content: "\ec0c";
}
.fsi-magnifier-add:before {
  content: "\ec0d";
}
.fsi-magnifier-remove:before {
  content: "\ec0e";
}
.fsi-paper-clip:before {
  content: "\ec0f";
}
.fsi-paper-plane:before {
  content: "\ec10";
}
.fsi-plus:before {
  content: "\ec11";
}
.fsi-location-pin:before {
  content: "\ec12";
}
.fsi-power:before {
  content: "\ec13";
}
.fsi-refresh:before {
  content: "\ec14";
}
.fsi-reload:before {
  content: "\ec15";
}
.fsi-settings:before {
  content: "\ec16";
}
.fsi-star:before {
  content: "\ec17";
}
.fsi-symble-female:before {
  content: "\ec18";
}
.fsi-symbol-male:before {
  content: "\ec19";
}
.fsi-target:before {
  content: "\ec1a";
}
.fsi-volume-1:before {
  content: "\ec1b";
}
.fsi-volume-2:before {
  content: "\ec1c";
}
.fsi-volume-off:before {
  content: "\ec1d";
}
.fsi-phone:before {
  content: "\ec1e";
}
.fsi-menu:before {
  content: "\ec1f";
}
.fsi-options-vertical:before {
  content: "\ec20";
}
.fsi-options:before {
  content: "\ec21";
}
.fsi-arrow-down:before {
  content: "\ec22";
}
.fsi-arrow-left:before {
  content: "\ec23";
}
.fsi-arrow-right:before {
  content: "\ec24";
}
.fsi-arrow-up:before {
  content: "\ec25";
}
.fsi-paypal:before {
  content: "\ec26";
}
.fsi-social-instagram:before {
  content: "\ec27";
}
.fsi-social-linkedin:before {
  content: "\ec28";
}
.fsi-social-pintarest:before {
  content: "\ec29";
}
.fsi-social-github:before {
  content: "\ec2a";
}
.fsi-social-google:before {
  content: "\ec2b";
}
.fsi-social-skype:before {
  content: "\ec2c";
}
.fsi-minus:before {
  content: "\ec2d";
}
.fsi-organization:before {
  content: "\ec2e";
}
.fsi-exclamation:before {
  content: "\ec2f";
}
.fsi-event:before {
  content: "\ec30";
}
.fsi-cart-4:before {
  content: "\ec31";
}
.fsi-cart-5:before {
  content: "\ec32";
}
.fsi-cart-1:before {
  content: "\ec33";
}
.fsi-cart-2:before {
  content: "\ec34";
}
.fsi-cart-3:before {
  content: "\ec35";
}
.fsi-arrow-empty:before {
  content: "\ec36";
}
.fsi-close2:before {
  content: "\ec37";
}
.fsi-down:before {
  content: "\ec38";
}
.fsi-grid2:before {
  content: "\ec39";
}
.fsi-phone-1:before {
  content: "\ec3a";
}
.fsi-line-triangle:before {
  content: "\ec3b";
}
.fsi-menu-1:before {
  content: "\ec3c";
}
.fsi-menu-2:before {
  content: "\ec3d";
}
.fsi-menu-3:before {
  content: "\ec3e";
}
.fsi-next:before {
  content: "\ec3f";
}
.fsi-preview:before {
  content: "\ec40";
}
.fsi-rounded-triangle:before {
  content: "\ec41";
}
.fsi-triangle:before {
  content: "\ec42";
}
.fsi-up:before {
  content: "\ec43";
}
.fsi-phone-5:before {
  content: "\ec44";
}
.fsi-phone-6:before {
  content: "\ec45";
}
.fsi-mail-2:before {
  content: "\ec46";
}
.fsi-mail-5:before {
  content: "\ec47";
}
.fsi-map-2:before {
  content: "\ec48";
}
.fsi-map-4:before {
  content: "\ec49";
}
.fsi-map-5:before {
  content: "\ec4a";
}
.fsi-search-4:before {
  content: "\ec4b";
}
.fsi-compare-6:before {
  content: "\ec4c";
}
.fsi-compare-1:before {
  content: "\ec4d";
}
.fsi-user-1:before {
  content: "\ec4e";
}
.fsi-user-2:before {
  content: "\ec4f";
}
.fsi-user-3:before {
  content: "\ec50";
}
.fsi-user2:before {
  content: "\ec51";
}
.fsi-user-4:before {
  content: "\ec52";
}
.fsi-user-5:before {
  content: "\ec53";
}
.fsi-quickview-1:before {
  content: "\ec54";
}
.fsi-quickview-2:before {
  content: "\ec55";
}
.fsi-quickview-3:before {
  content: "\ec56";
}
.fsi-quickview-4:before {
  content: "\ec57";
}
.fsi-minus2:before {
  content: "\ec58";
}
.fsi-plus2:before {
  content: "\ec59";
}
.fsi-cart-6:before {
  content: "\ec5a";
}
.fsi-list2:before {
  content: "\ec5b";
}
.fsi-menu-6:before {
  content: "\ec5c";
}
.fsi-menu-4:before {
  content: "\ec5d";
}
.fsi-arrow-right-bold:before {
  content: "\ec5e";
}
.fsi-arrow-right-light:before {
  content: "\ec5f";
}
.fsi-arrow-right-regular:before {
  content: "\ec60";
}
.fsi-arrow-up-bold:before {
  content: "\ec61";
}
.fsi-arrow-down-bold:before {
  content: "\ec62";
}
.fsi-arrow-left-bold:before {
  content: "\ec63";
}
.fsi-arrow-down-regular:before {
  content: "\ec64";
}
.fsi-arrow-up-regular:before {
  content: "\ec65";
}
.fsi-arrow-left-regular:before {
  content: "\ec66";
}
.fsi-arrow-down-light:before {
  content: "\ec67";
}
.fsi-arrow-up-light:before {
  content: "\ec68";
}
.fsi-arrow-left-light:before {
  content: "\ec69";
}
.fsi-chart2:before {
  content: "\ec6a";
}
.fsi-hand:before {
  content: "\ec6b";
}
.fsi-layout-1:before {
  content: "\ec6c";
}
.fsi-layout:before {
  content: "\ec6d";
}
.fsi-light:before {
  content: "\ec6e";
}
.fsi-refresh2:before {
  content: "\ec6f";
}
.fsi-uniE600:before {
  content: "\ec70";
}
.fsi-uniE61E:before {
  content: "\ec71";
}
.fsi-uniE621:before {
  content: "\ec72";
}
.fsi-uniE622:before {
  content: "\ec73";
}
.fsi-uniE62D:before {
  content: "\ec74";
}
.fsi-uniE65F:before {
  content: "\ec75";
}
.fsi-uniE660:before {
  content: "\ec76";
}
.fsi-uniE663:before {
  content: "\ec77";
}
.fsi-uniE667:before {
  content: "\ec78";
}
.fsi-uniE67B:before {
  content: "\ec79";
}
.fsi-uniE6BA:before {
  content: "\ec7a";
}
.fsi-uniE6C0:before {
  content: "\ec7b";
}
.fsi-uniE6C2:before {
  content: "\ec7c";
}
.fsi-uniE6C3:before {
  content: "\ec7d";
}
.fsi-uniE6C4:before {
  content: "\ec7e";
}
.fsi-uniE6C5:before {
  content: "\ec7f";
}
.fsi-uniE6C6:before {
  content: "\ec80";
}
.fsi-uniE6C7:before {
  content: "\ec81";
}
.fsi-uniE6C8:before {
  content: "\ec82";
}
.fsi-uniE6C9:before {
  content: "\ec83";
}
.fsi-uniE6CA:before {
  content: "\ec84";
}
.fsi-uniE6CB:before {
  content: "\ec85";
}
.fsi-uniE6CC:before {
  content: "\ec86";
}
.fsi-uniE6CD:before {
  content: "\ec87";
}
.fsi-uniE6CE:before {
  content: "\ec88";
}
.fsi-uniE6CF:before {
  content: "\ec89";
}
.fsi-uniE6D0:before {
  content: "\ec8a";
}
.fsi-uniE6D1:before {
  content: "\ec8b";
}
.fsi-uniE6D2:before {
  content: "\ec8c";
}
.fsi-uniE6D3:before {
  content: "\ec8d";
}
.fsi-uniE6D4:before {
  content: "\ec8e";
}
.fsi-uniE6D5:before {
  content: "\ec8f";
}
.fsi-uniE6D6:before {
  content: "\ec90";
}
.fsi-uniE6D7:before {
  content: "\ec91";
}
.fsi-uniE6D8:before {
  content: "\ec92";
}
.fsi-uniE6D9:before {
  content: "\ec93";
}
.fsi-uniE6DA:before {
  content: "\ec94";
}
.fsi-uniE6DB:before {
  content: "\ec95";
}
.fsi-uniE6DC:before {
  content: "\ec96";
}
.fsi-uniE6DD:before {
  content: "\ec97";
}
.fsi-uniE6DE:before {
  content: "\ec98";
}
.fsi-uniE6DF:before {
  content: "\ec99";
}
.fsi-uniE6E0:before {
  content: "\ec9a";
}
.fsi-uniE6E1:before {
  content: "\ec9b";
}
.fsi-uniE6E2:before {
  content: "\ec9c";
}
.fsi-uniE6E3:before {
  content: "\ec9d";
}
.fsi-uniE6E4:before {
  content: "\ec9e";
}
.fsi-uniE6E5:before {
  content: "\ec9f";
}
.fsi-uniE6E6:before {
  content: "\eca0";
}
.fsi-uniE6E7:before {
  content: "\eca1";
}
.fsi-uniE6E8:before {
  content: "\eca2";
}
.fsi-uniE6E9:before {
  content: "\eca3";
}
.fsi-uniE6EA:before {
  content: "\eca4";
}
.fsi-uniE6EB:before {
  content: "\eca5";
}
.fsi-uniE6EC:before {
  content: "\eca6";
}
.fsi-uniE6ED:before {
  content: "\eca7";
}
.fsi-uniE6EE:before {
  content: "\eca8";
}
.fsi-uniE6EF:before {
  content: "\eca9";
}
.fsi-uniE6F0:before {
  content: "\ecaa";
}
.fsi-uniE6F1:before {
  content: "\ecab";
}
.fsi-uniE6F2:before {
  content: "\ecac";
}
.fsi-uniE6F3:before {
  content: "\ecad";
}
.fsi-uniE6F4:before {
  content: "\ecae";
}
.fsi-uniE6F5:before {
  content: "\ecaf";
}
.fsi-uniE6F6:before {
  content: "\ecb0";
}
.fsi-uniE6F7:before {
  content: "\ecb1";
}
.fsi-uniE6F8:before {
  content: "\ecb2";
}
.fsi-uniE6F9:before {
  content: "\ecb3";
}
.fsi-uniE6FA:before {
  content: "\ecb4";
}
.fsi-uniE6FB:before {
  content: "\ecb5";
}
.fsi-uniE6FC:before {
  content: "\ecb6";
}
.fsi-uniE6FD:before {
  content: "\ecb7";
}
.fsi-uniE6FE:before {
  content: "\ecb8";
}
.fsi-uniE6FF:before {
  content: "\ecb9";
}
.fsi-uniE700:before {
  content: "\ecba";
}
.fsi-uniE701:before {
  content: "\ecbb";
}
.fsi-uniE702:before {
  content: "\ecbc";
}
.fsi-uniE703:before {
  content: "\ecbd";
}
.fsi-uniE704:before {
  content: "\ecbe";
}
.fsi-uniE705:before {
  content: "\ecbf";
}
.fsi-uniE706:before {
  content: "\ecc0";
}
.fsi-uniE707:before {
  content: "\ecc1";
}
.fsi-uniE708:before {
  content: "\ecc2";
}
.fsi-uniE709:before {
  content: "\ecc3";
}
.fsi-uniE70A:before {
  content: "\ecc4";
}
.fsi-uniE70B:before {
  content: "\ecc5";
}
.fsi-uniE70C:before {
  content: "\ecc6";
}
.fsi-uniE70D:before {
  content: "\ecc7";
}
.fsi-uniE70E:before {
  content: "\ecc8";
}
.fsi-uniE710:before {
  content: "\ecc9";
}
.fsi-uniE711:before {
  content: "\ecca";
}
.fsi-uniE712:before {
  content: "\eccb";
}
.fsi-uniE713:before {
  content: "\eccc";
}
.fsi-uniE714:before {
  content: "\eccd";
}
.fsi-uniE715:before {
  content: "\ecce";
}
.fsi-uniE716:before {
  content: "\eccf";
}
.fsi-uniE717:before {
  content: "\ecd0";
}
.fsi-uniE718:before {
  content: "\ecd1";
}
.fsi-uniE719:before {
  content: "\ecd2";
}
.fsi-uniE71A:before {
  content: "\ecd3";
}
.fsi-uniE71B:before {
  content: "\ecd4";
}
.fsi-uniE71C:before {
  content: "\ecd5";
}
.fsi-uniE71E:before {
  content: "\ecd6";
}
.fsi-uniE71F:before {
  content: "\ecd7";
}
.fsi-uniE720:before {
  content: "\ecd8";
}
.fsi-uniE721:before {
  content: "\ecd9";
}
.fsi-uniE722:before {
  content: "\ecda";
}
.fsi-uniE723:before {
  content: "\ecdb";
}
.fsi-uniE724:before {
  content: "\ecdc";
}
.fsi-uniE725:before {
  content: "\ecdd";
}
.fsi-uniE726:before {
  content: "\ecde";
}
.fsi-uniE727:before {
  content: "\ecdf";
}
.fsi-uniE728:before {
  content: "\ece0";
}
.fsi-uniE729:before {
  content: "\ece1";
}
.fsi-uniE72A:before {
  content: "\ece2";
}
.fsi-uniE72D:before {
  content: "\ece3";
}
.fsi-uniE733:before {
  content: "\ece4";
}
.fsi-uniE734:before {
  content: "\ece5";
}
.fsi-uniE735:before {
  content: "\ece6";
}
.fsi-uniE73B:before {
  content: "\ece7";
}
.fsi-uniE73C:before {
  content: "\ece8";
}
.fsi-uniE73E:before {
  content: "\ece9";
}
.fsi-uniE743:before {
  content: "\ecea";
}
.fsi-uniE744:before {
  content: "\eceb";
}
.fsi-uniE745:before {
  content: "\ecec";
}
.fsi-uniE746:before {
  content: "\eced";
}
.fsi-uniE74A:before {
  content: "\ecee";
}
.fsi-uniE74B:before {
  content: "\ecef";
}
.fsi-uniE74C:before {
  content: "\ecf0";
}
.fsi-uniE74D:before {
  content: "\ecf1";
}
.fsi-uniE74E:before {
  content: "\ecf2";
}
.fsi-uniE74F:before {
  content: "\ecf3";
}
.fsi-uniE750:before {
  content: "\ecf4";
}
.fsi-uniE751:before {
  content: "\ecf5";
}
.fsi-uniE752:before {
  content: "\ecf6";
}
.fsi-uniE755:before {
  content: "\ecf7";
}
.fsi-uniE756:before {
  content: "\ecf8";
}
.fsi-uniE759:before {
  content: "\ecf9";
}
.fsi-uniE75A:before {
  content: "\ecfa";
}
.fsi-uniE75B:before {
  content: "\ecfb";
}
.fsi-uniE75C:before {
  content: "\ecfc";
}
.fsi-uniE763:before {
  content: "\ecfd";
}
.fsi-uniE767:before {
  content: "\ecfe";
}
.fsi-uniE7A2:before {
  content: "\ecff";
}
.fsi-uniE7A6:before {
  content: "\ed00";
}
.fsi-uniE7A7:before {
  content: "\ed01";
}
.fsi-uniE7A9:before {
  content: "\ed02";
}
.fsi-uniE7AA:before {
  content: "\ed03";
}
.fsi-uniE7AB:before {
  content: "\ed04";
}
.fsi-uniE7AC:before {
  content: "\ed05";
}
.fsi-uniE7AD:before {
  content: "\ed06";
}
.fsi-uniE7AE:before {
  content: "\ed07";
}
.fsi-uniE7B0:before {
  content: "\ed08";
}
.fsi-uniE7B1:before {
  content: "\ed09";
}
.fsi-uniE7B5:before {
  content: "\ed0a";
}
.fsi-uniE7B6:before {
  content: "\ed0b";
}
.fsi-uniE7B7:before {
  content: "\ed0c";
}
.fsi-uniE7B8:before {
  content: "\ed0d";
}
.fsi-uniE7B9:before {
  content: "\ed0e";
}
.fsi-uniE7BA:before {
  content: "\ed0f";
}
.fsi-uniE7BB:before {
  content: "\ed10";
}
.fsi-uniE7C5:before {
  content: "\ed11";
}
.fsi-uniE7C6:before {
  content: "\ed12";
}
.fsi-uniE7C7:before {
  content: "\ed13";
}
.fsi-uniE7C8:before {
  content: "\ed14";
}
.fsi-uniE7CA:before {
  content: "\ed15";
}
.fsi-uniE7D0:before {
  content: "\ed16";
}
.fsi-uniE7D1:before {
  content: "\ed17";
}
.fsi-uniE7D3:before {
  content: "\ed18";
}
.fsi-uniE7D5:before {
  content: "\ed19";
}
.fsi-uniE7DB:before {
  content: "\ed1a";
}
.fsi-uniE7DC:before {
  content: "\ed1b";
}
.fsi-uniE7DE:before {
  content: "\ed1c";
}
.fsi-uniE7E8:before {
  content: "\ed1d";
}
.fsi-uniE7E9:before {
  content: "\ed1e";
}
.fsi-uniE7EA:before {
  content: "\ed1f";
}
.fsi-uniE7EB:before {
  content: "\ed20";
}
.fsi-uniE7EE:before {
  content: "\ed21";
}
.fsi-uniE7EF:before {
  content: "\ed22";
}
.fsi-uniE7F0:before {
  content: "\ed23";
}
.fsi-uniE7F1:before {
  content: "\ed24";
}
.fsi-uniE7F5:before {
  content: "\ed25";
}
.fsi-uniE7F6:before {
  content: "\ed26";
}
.fsi-uniE7F7:before {
  content: "\ed27";
}
.fsi-uniE7F8:before {
  content: "\ed28";
}
.fsi-uniE800:before {
  content: "\ed29";
}
.fsi-uniE807:before {
  content: "\ed2a";
}
.fsi-uniE80A:before {
  content: "\ed2b";
}
.fsi-uniE80B:before {
  content: "\ed2c";
}
.fsi-uniE80C:before {
  content: "\ed2d";
}
.fsi-uniE816:before {
  content: "\ed2e";
}
.fsi-uniE817:before {
  content: "\ed2f";
}
.fsi-uniE81B:before {
  content: "\ed30";
}
.fsi-uniE81D:before {
  content: "\ed31";
}
.fsi-uniE823:before {
  content: "\ed32";
}
.fsi-uniE824:before {
  content: "\ed33";
}
.fsi-uniE825:before {
  content: "\ed34";
}
.fsi-uniE828:before {
  content: "\ed35";
}
.fsi-uniE829:before {
  content: "\ed36";
}
.fsi-uniE82A:before {
  content: "\ed37";
}
