    <header class="navbar navbar-expand navbar-dark bd-navbar">
        <div class="container-fluid">
            <div class="col-xs-12">
                <a aria-label="Bootstrap" class="navbar-brand" href="/">
                    <img src="stg/Assets/app/img/logo.png" title="Docpro Components">
                </a>
                <div class="navbar-nav-scroll">
                    <ul class="navbar-nav bd-navbar-nav hidden">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Components</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>