    <header class="navbar navbar-expand navbar-dark bd-navbar">
        <div class="container-fluid xs-nopad">
            <div class="col-xs-12 xs-nopad">
                <a aria-label="Bootstrap" class="navbar-brand" href="/">
                    <img src="stg/Assets/app/img/logo.png" title="Docpro Components">
                </a>
                <a href="#" class="xs-only menuBar_btn">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </a>
                <div class="navbar-nav-scroll">
                    <ul class="navbar-nav bd-navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Components (Beta)</a>
                        </li>                        
                        <li class="nav-item">
                            <a class="nav-link" href="https://drive.google.com/drive/folders/0B_uMcxAhU0ovWUJvVnNwbDFZakk" target="_blank">FSI Image</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://docs.google.com/spreadsheets/d/1CXiXWVRiKCcV-rO202Q1QCxYIud9fblFDkOmEsH80cQ/edit?usp=sharing" target="_blank">Template Checklist</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav bd-navbar-nav pull-right">
                        <li class="nav-item">
                            <a class="nav-link" href="http://beyondadmin-v1.6.0.s3-website-us-east-1.amazonaws.com/" target="_blank">Beyondadmin</a>
                        </li>
                        <li class="nav-item btn_style">
                            <a class="nav-link" href="https://drive.google.com/file/d/1xdLqKhDfuSfa0kGkHukGrZZYmvVLvMqr/view" target="_blank">Download</a>
                        </li>
                    </ul>                    
                </div>







            </div>
        </div>
    </header>