<div class="bd-sidebar-content">
    <form class="bd-search">
        <span class="algolia-autocomplete" style="position: relative; display: inline-block; direction: ltr;"><input autocomplete="off" class="form-control ds-input" id="search-input" placeholder="Search..." style="position: relative; vertical-align: top;" type="search"></span>
    </form>
    <nav class="bd-links useScrollBar" id="bd_docs_nav"> <!-- useScrollBar -->
        
        <div class="bd-toc-item active">
            <a class="bd-toc-link" data-href="#">Components<i class="fa fa-angle-right" aria-hidden="true"></i>
            </a>
            <ul class="nav bd-sidenav">               
                <li>
                    <a data-href="Views/Shared/components/Alerts.html">Alerts</a>
                </li>
                <li>
                    <a data-href="Views/Shared/components/Comment.html">Comment</a>
                </li>                                
                <li>
                    <a data-href="Views/Shared/components/dataTables-filter.html">DataTable Fillter</a>
                </li>                                                
                <li>
                    <a data-href="Views/Shared/components/DTTT-btn-group.html">DTTT Btns Group</a>
                </li>                
                <li>
                    <a data-href="Views/Shared/components/label.html">Label</a>
                </li>                                  
                <li>
                    <a data-href="Views/Shared/components/pagination.html">pagination</a>
                </li>
                <li>
                    <a data-href="Views/Shared/components/table-action-buttons.html">Table Action Buttons</a>
                </li>                
                <li>
                    <a data-href="Views/Shared/components/table.html">Table</a>
                </li>
                <li>
                    <a data-href="Views/Shared/components/TableTree.html">TableTree</a>
                </li>
                <li>
                    <a data-href="Views/Shared/components/timelline.html">Timelline</a>
                </li>
                <li>
                    <a data-href="Views/Shared/components/widget-header.html">Widget Header</a>
                </li>
                <li>
                    <a data-href="Views/Shared/components/Lightbox.html">Fancybox</a>
                </li>  
                <li>
                    <a data-href="Views/Shared/components/thong-tin-chi-tiet-table.html">Thông tin chi tiết(table)</a>
                </li>
                <li>
                    <a data-href="Views/Shared/components/block-chi-tiet-thong-tin.html">Block chi tiết thông tin</a>
                </li>
                <li>
                    <a data-href="Views/Shared/components/update-trang-thai.html">Update trạng thái</a>
                </li>
                <li>
                    <a data-href="Views/Shared/components/block_listedNumber.html">Listed Number Dashboard</a>
                </li>
                <li>
                    <a data-href="Views/Shared/components/Breadcrumb.html">Breadcrumb</a>
                </li>
                <li>
                    <a data-href="Views/Shared/components/tabCenter.html">Tab Center</a>
                </li> 
                <li>
                    <a data-href="Views/Shared/components/tableSort.html">Table Sort</a>
                </li> 
                <li>
                    <a data-href="Views/Shared/components/centerslider.html">Center slider</a>
                </li>                
                <li>
                    <a data-href="Views/Shared/components/attach_file.html">Attach File</a>
                </li> 
            </ul>                           
        </div>
        <div class="bd-toc-item">
            <a class="bd-toc-link" data-href="#">Layout<i class="fa fa-angle-right" aria-hidden="true"></i></a>
            <ul class="nav bd-sidenav">
                <li>
                    <a data-href="Views/Shared/layout/layout_home.html">Layout Home</a>
                </li>
                <li>
                    <a data-href="Views/Shared/layout/layout_leftMenu.html">Layout Menu Left</a>
                </li>
                <li>
                    <a data-href="Views/Shared/layout/layout_body.html">Body layout</a>
                </li>
                <li>
                    <a data-href="Views/Shared/layout/LeftMenu.html">Left Menu</a>
                </li>
                <li>
                    <a data-href="Views/Shared/layout/useScrollBar.html">use Scroll Bar</a>
                </li>
                
            </ul>
        </div>          
        <div class="bd-toc-item">
            <a class="bd-toc-link" data-href="#">Plugins<i class="fa fa-angle-right" aria-hidden="true"></i></a>
            <ul class="nav bd-sidenav">
                <li>
                    <a data-href="Views/Shared/plugins/highcharts.html">Highcharts</a>
                </li>
                <li>
                    <a data-href="Views/Shared/plugins/OwlCarousel2.html">Owl Carousel 2</a>
                </li>
                <li>
                    <a data-href="Views/Shared/plugins/fancybox3.html">fancyBox 3</a>
                </li>
                <li>
                    <a data-href="Views/Shared/plugins/TreeGrid.html">TreeGrid jQuery plugin</a>
                </li>
                <li>
                    <a data-href="Views/Shared/plugins/bootstrap-select.html">Bootstrap select</a>
                </li>
                <li>
                    <a data-href="Views/Shared/plugins/datetimepicker.html">DateTimePicker</a>
                </li>
                <li>
                    <a data-href="Views/Shared/plugins/fullcalendar.html">Full Calendar io</a>
                </li>
                <li>
                    <a data-href="Views/Shared/plugins/pdf.html">PDF.js</a>
                </li>
            </ul>
        </div>     
    </nav>
</div>