<div class="bd-sidebar-content">
    <form class="bd-search">
        <span class="algolia-autocomplete" style="position: relative; display: inline-block; direction: ltr;"><input autocomplete="off" class="form-control ds-input" id="search-input" placeholder="Search..." style="position: relative; vertical-align: top;" type="search"></span>
    </form>
    <nav class="bd-links useScrollBar" id="bd_docs_nav"> <!-- useScrollBar -->
        <div class="bd-toc-item">
            <a class="bd-toc-link" href="#">Getting started<i class="fa fa-angle-right" aria-hidden="true"></i>
            </a>
            <ul class="nav bd-sidenav">
                <li>
                    <a href="#">Introduction</a>
                </li>
                <li>
                    <a href="#">Download</a>
                </li>
                <li>
                    <a href="#">Contents</a>
                </li>
                <li>
                    <a href="#">Browsers &amp; devices</a>
                </li>
                <li>
                    <a href="#">JavaScript</a>
                </li>
                <li>
                    <a href="#">Theming</a>
                </li>
                <li>
                    <a href="#">Build tools</a>
                </li>
                <li>
                    <a href="#">Webpack</a>
                </li>
                <li>
                    <a href="#">Accessibility</a>
                </li>
            </ul>                            
        </div>
        <div class="bd-toc-item active">
            <a class="bd-toc-link" href="#">Components<i class="fa fa-angle-right" aria-hidden="true"></i>
            </a>
            <ul class="nav bd-sidenav">
                <li class="active">
                    <a href="Views/Shared/components/widget_header.html">Widget Header</a>
                </li>
                <li>
                    <a href="#">Badge</a>
                </li>
                <li>
                    <a href="#">Breadcrumb</a>
                </li>
                <li>
                    <a href="#">Buttons</a>
                </li>
                <li>
                    <a href="#">Button group</a>
                </li>
                <li>
                    <a href="#">Card</a>
                </li>
                <li>
                    <a href="#">Carousel</a>
                </li>
                <li>
                    <a href="#">Collapse</a>
                </li>
                <li>
                    <a href="#">Dropdowns</a>
                </li>
                <li>
                    <a href="#">Forms</a>
                </li>
                <li>
                    <a href="#">Input group</a>
                </li>
                <li>
                    <a href="#">Jumbotron</a>
                </li>
                <li>
                    <a href="#">List group</a>
                </li>
                <li>
                    <a href="#">Modal</a>
                </li>
                <li>
                    <a href="#">Navs</a>
                </li>
                <li>
                    <a href="#">Navbar</a>
                </li>
                <li>
                    <a href="#">Pagination</a>
                </li>
                <li>
                    <a href="#">Popovers</a>
                </li>
                <li>
                    <a href="#">Progress</a>
                </li>
                <li>
                    <a href="#">Scrollspy</a>
                </li>
                <li>
                    <a href="#">Tooltips</a>
                </li>
            </ul>
            <ul class="nav bd-sidenav">
                <li class="">
                    <a href="#">Alerts</a>
                </li>
                <li>
                    <a href="#">Badge</a>
                </li>
                <li>
                    <a href="#">Breadcrumb</a>
                </li>
                <li>
                    <a href="#">Buttons</a>
                </li>
                <li>
                    <a href="#">Button group</a>
                </li>
                <li>
                    <a href="#">Card</a>
                </li>
                <li>
                    <a href="#">Carousel</a>
                </li>
                <li>
                    <a href="#">Collapse</a>
                </li>
                <li>
                    <a href="#">Dropdowns</a>
                </li>
                <li>
                    <a href="#">Forms</a>
                </li>
                <li>
                    <a href="#">Input group</a>
                </li>
                <li>
                    <a href="#">Jumbotron</a>
                </li>
                <li>
                    <a href="#">List group</a>
                </li>
                <li>
                    <a href="#">Modal</a>
                </li>
                <li>
                    <a href="#">Navs</a>
                </li>
                <li>
                    <a href="#">Navbar</a>
                </li>
                <li>
                    <a href="#">Pagination</a>
                </li>
                <li>
                    <a href="#">Popovers</a>
                </li>
                <li>
                    <a href="#">Progress</a>
                </li>
                <li>
                    <a href="#">Scrollspy</a>
                </li>
                <li>
                    <a href="#">Tooltips</a>
                </li>
            </ul>                            
        </div>
        <div class="bd-toc-item">
            <a class="bd-toc-link" href="#">Utilities<i class="fa fa-angle-right" aria-hidden="true"></i></a>
            <ul class="nav bd-sidenav">
                <li>
                    <a href="#">Borders</a>
                </li>
                <li>
                    <a href="#">Clearfix</a>
                </li>
                <li>
                    <a href="#">Close icon</a>
                </li>
                <li>
                    <a href="#">Colors</a>
                </li>
                <li>
                    <a href="#">Display</a>
                </li>
                <li>
                    <a href="#">Embed</a>
                </li>
                <li>
                    <a href="#">Flex</a>
                </li>
                <li>
                    <a href="#">Float</a>
                </li>
                <li>
                    <a href="#">Image replacement</a>
                </li>
                <li>
                    <a href="#">Position</a>
                </li>
                <li>
                    <a href="#">Screenreaders</a>
                </li>
                <li>
                    <a href="#">Shadows</a>
                </li>
                <li>
                    <a href="#">Sizing</a>
                </li>
                <li>
                    <a href="#">Spacing</a>
                </li>
                <li>
                    <a href="#">Text</a>
                </li>
                <li>
                    <a href="#">Vertical align</a>
                </li>
                <li>
                    <a href="#">Visibility</a>
                </li>
            </ul>
        </div>
    </nav>
</div>