<div class="bd-sidebar-content">
    <form class="bd-search">
        <span class="algolia-autocomplete" style="position: relative; display: inline-block; direction: ltr;"><input autocomplete="off" class="form-control ds-input" id="search-input" placeholder="Search..." style="position: relative; vertical-align: top;" type="search"></span>
    </form>
    <nav class="bd-links useScrollBar" id="bd_docs_nav"> <!-- useScrollBar -->
        <div class="bd-toc-item active">
            <a class="bd-toc-link" href="#">Components<i class="fa fa-angle-right" aria-hidden="true"></i>
            </a>
            <ul class="nav bd-sidenav">               
                <li>
                    <a href="Views/Shared/components/Alerts.html">Alerts</a>
                </li>
                <li>
                    <a href="Views/Shared/components/Comment.html">Comment</a>
                </li>                                
                <li>
                    <a href="Views/Shared/components/dataTables_filter.html">DataTable Fillter</a>
                </li>                                                
                <li>
                    <a href="Views/Shared/components/DTTT_btn-group.html">DTTT Btns Group</a>
                </li>                
                <li>
                    <a href="Views/Shared/components/label.html">Label</a>
                </li>                                  
                <li>
                    <a href="Views/Shared/components/pagination.html">pagination</a>
                </li>
                <li>
                    <a href="Views/Shared/components/table_action_buttons.html">Table Action Buttons</a>
                </li>                
                <li>
                    <a href="Views/Shared/components/table.html">Table</a>
                </li>
                <li class="active">
                    <a href="Views/Shared/components/TableTree.html">TableTree</a>
                </li>
                <li>
                    <a href="Views/Shared/components/timelline.html">Timelline</a>
                </li>
                <li>
                    <a href="Views/Shared/components/Tooltips.html">Tooltips</a>
                </li>
                <li>
                    <a href="Views/Shared/components/widget_header.html">Widget Header</a>
                </li>
            </ul>                           
        </div>
        <div class="bd-toc-item">
            <a class="bd-toc-link" href="#">Chart<i class="fa fa-angle-right" aria-hidden="true"></i></a>
            <ul class="nav bd-sidenav">
                <li>
                    <a href="#">Morris BarChart</a>
                </li>
                <li>
                    <a href="#">Morris DonutChart</a>
                </li>
                <li>
                    <a href="#">Morris LineChart</a>
                </li>
                
            </ul>
        </div>     
    </nav>
</div>