<!-- MÔ TẢ -->
<h1 class="bd-title" id="content">Layout Body</h1>


<!-- DEMO -->
<div class="demo-section">
    <h3 id="cpn_demo">Demo</h3>
    <div class="demo_content">
        <a href="/Assets/app/img/layout_body.png" data-fancybox="lightbox_1"><img src="/Assets/app/img/layout_body.png"></a>
    </div>                
</div>                

<!-- HTML -->
<div class="demo-section">
    <h3 id="cpn_html">HTML</h3>
    <div class="demo-wrapper">
        <div class="demo_content">
            <pre class="brush:xml;">
                &lt;!-- Component: Breadcrumb --&gt;
                &lt;div class=&quot;page-breadcrumbs&quot;&gt;
                    &lt;ul class=&quot;breadcrumb&quot;&gt;
                    &lt;/ul&gt;
                &lt;/div&gt;
                &lt;!-- End.Component: Breadcrumb --&gt;

                &lt;!-- PAGE BODY --&gt;
                &lt;div class=&quot;page-body&quot;&gt;
                    &lt;div class=&quot;row&quot;&gt;
                        &lt;div class=&quot;col-xs-12 col-md-12&quot;&gt;
                            &lt;div class=&quot;widget&quot;&gt;

                                &lt;!-- Component: Widget Header --&gt;
                                &lt;div class=&quot;widget-header bordered-bottom&quot;&gt;&lt;/div&gt;
                                &lt;!-- End.Component: Widget Header --&gt;

                                &lt;div class=&quot;widget-body no-padding&quot;&gt;
                                    &lt;div class=&quot;dataTables_wrapper form-inline&quot;&gt;

                                        &lt;!-- Component: Widget Header --&gt;
                                        &lt;div class=&quot;dataTables_filter&quot;&gt;&lt;/div&gt;
                                        &lt;!-- End.Component: Widget Header --&gt;

                                        &lt;!-- Component: DTT Btns Group --&gt;
                                        &lt;div class=&quot;DTTT btn-group&quot;&gt;&lt;/div&gt;
                                        &lt;!-- End.Component: DTT Btns Group --&gt;
                                        
                                        &lt;!-- Component: Table --&gt;
                                        &lt;table&gt;&lt;/table&gt;
                                        &lt;!-- End.Component: Table --&gt;

                                        &lt;div class=&quot;row DTTTFooter&quot;&gt;
                                            &lt;div class=&quot;col-md-6 text-left&quot;&gt;
                                                &lt;div class=&quot;dataTables_info text-left&quot;&gt;
                                                    &lt;div&gt;
                                                        &lt;strong class=&quot;gray&quot;&gt;
                                                        C&oacute; 142 t&agrave;i liệu - thư mục được t&igrave;m thấy
                                                    &lt;/strong&gt;
                                                    &lt;/div&gt;
                                                &lt;/div&gt;
                                            &lt;/div&gt;
                                            &lt;div class=&quot;col-md-6&quot;&gt;
                                                &lt;!-- Component: Pagination --&gt;
                                                &lt;div class=&quot;dataTables_paginate paging_bootstrap&quot;&gt;&lt;/div&gt;
                                                &lt;!-- End.Component: Pagination --&gt;
                                            &lt;/div&gt;
                                        &lt;/div&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
                
            </pre>
        </div>                
    </div>                
</div>                
