<!-- MÔ TẢ -->
<h1 class="bd-title" id="content">Left Menu</h1>


<!-- DEMO -->
<div class="demo-section">
    <h3 id="cpn_demo">Demo</h3>
    <div class="demo_content">
        <a href="/Assets/app/img/leftmenu.png" data-fancybox="lightbox_1"><img src="/Assets/app/img/leftmenu.png"></a>
    </div>                
</div>                
<!-- HTML -->
<div class="demo-section">
    <h3 id="cpn_html">HTML</h3>
    <div class="demo-wrapper">
        <div class="demo_content">
            <pre class="brush:xml;">
                &lt;ul class=&quot;nav sidebar-menu&quot;&gt;
                    &lt;li class=&quot;open&quot;&gt;
                        &lt;a href=&quot;&quot; class=&quot;menu-dropdown&quot;&gt;
                            &lt;i class=&quot;menu-icon fa fa-cog&quot;&gt;&lt;/i&gt;
                            &lt;span class=&quot;menu-text&quot; title=&quot; Quản trị hệ thống&quot;&gt; Quản trị hệ thống&lt;/span&gt;
                            &lt;i class=&quot;menu-expand&quot;&gt;&lt;/i&gt;
                        &lt;/a&gt;
                        &lt;ul class=&quot;submenu&quot;&gt;
                            &lt;li&gt;
                                &lt;a href=&quot;&quot;&gt;
                                    &lt;i class=&quot;menu-icon orange ionicons ion-android-cloud-outline themesecondary&quot;&gt;&lt;/i&gt;
                                    &lt;span class=&quot;menu-text&quot; title=&quot;Cloud - Kh&aacute;ch h&agrave;ng&quot;&gt;Cloud - Kh&aacute;ch h&agrave;ng&lt;/span&gt;
                                &lt;/a&gt;
                            &lt;/li&gt;
                            &lt;li&gt;
                                &lt;a href=&quot;&quot; class=&quot;menu-dropdown&quot;&gt;
                                    &lt;i class=&quot;menu-icon glyphicon orange glyphicon-tasks&quot;&gt;&lt;/i&gt;
                                    &lt;span class=&quot;menu-text&quot; title=&quot;Cấu h&igrave;nh hệ thống&quot;&gt;Cấu h&igrave;nh hệ thống&lt;/span&gt;
                                    &lt;i class=&quot;menu-expand&quot;&gt;&lt;/i&gt;
                                &lt;/a&gt;
                            &lt;/li&gt;
                            &lt;li&gt;
                                &lt;a href=&quot;&quot; class=&quot;menu-dropdown&quot;&gt;
                                    &lt;i class=&quot;menu-icon glyphicon orange glyphicon-list-alt&quot;&gt;&lt;/i&gt;
                                    &lt;span class=&quot;menu-text&quot; title=&quot;Nhật k&yacute; hệ thống&quot;&gt;Nhật k&yacute; hệ thống&lt;/span&gt;
                                    &lt;i class=&quot;menu-expand&quot;&gt;&lt;/i&gt;
                                &lt;/a&gt;
                                &lt;ul class=&quot;submenu&quot;&gt;
                                    &lt;li&gt;
                                        &lt;a href=&quot;&quot;&gt;
                                            &lt;span class=&quot;menu-text&quot; title=&quot;Log đăng nhập&quot;&gt;Log đăng nhập&lt;/span&gt;
                                        &lt;/a&gt;
                                    &lt;/li&gt;
                                    &lt;li&gt;
                                        &lt;a href=&quot;&quot;&gt;
                                            &lt;span class=&quot;menu-text&quot; title=&quot;Log truy cập&quot;&gt;Log truy cập&lt;/span&gt;
                                        &lt;/a&gt;
                                    &lt;/li&gt;
                                    &lt;li&gt;
                                        &lt;a href=&quot;&quot;&gt;
                                            &lt;span class=&quot;menu-text&quot; title=&quot;Log thay đổi nội dung&quot;&gt;Log thay đổi nội dung&lt;/span&gt;
                                        &lt;/a&gt;
                                    &lt;/li&gt;
                                &lt;/ul&gt;
                            &lt;/li&gt;
                            &lt;li&gt;
                                &lt;a href=&quot;&quot;&gt;
                                    &lt;i class=&quot;menu-icon fa fa-refresh orange themesecondary&quot;&gt;&lt;/i&gt;
                                    &lt;span class=&quot;menu-text&quot; title=&quot;Sao lưu phục hồi&quot;&gt;Sao lưu phục hồi&lt;/span&gt;
                                &lt;/a&gt;
                            &lt;/li&gt;
                            &lt;li&gt;
                                &lt;a href=&quot;&quot;&gt;
                                    &lt;i class=&quot;menu-icon fa orange fa-language&quot;&gt;&lt;/i&gt;
                                    &lt;span class=&quot;menu-text&quot; title=&quot;Đa ng&ocirc;n ngữ&quot;&gt;Đa ng&ocirc;n ngữ&lt;/span&gt;
                                &lt;/a&gt;
                            &lt;/li&gt;
                            &lt;li&gt;
                                &lt;a href=&quot;&quot; class=&quot;menu-dropdown&quot;&gt;
                                    &lt;i class=&quot;menu-icon orange ionicons ion-android-contact&quot;&gt;&lt;/i&gt;
                                    &lt;span class=&quot;menu-text&quot; title=&quot;T&agrave;i khoản hệ thống&quot;&gt;T&agrave;i khoản hệ thống&lt;/span&gt;
                                    &lt;i class=&quot;menu-expand&quot;&gt;&lt;/i&gt;
                                &lt;/a&gt;
                            &lt;/li&gt;
                        &lt;/ul&gt;
                    &lt;/li&gt;
                &lt;/ul&gt;  
            </pre>
        </div>                
    </div>                
</div>                
