<!-- MÔ TẢ -->
<h1 class="bd-title" id="content">use Scroll Bar</h1>


<!-- DEMO -->
<div class="demo-section">
    <h3 id="cpn_demo">Demo</h3>
    <div class="demo_content">
        <a href="/Assets/app/img/useScrollBar.png" data-fancybox="lightbox_1"><img src="/Assets/app/img/useScrollBar.png"></a>
    </div>                
</div>                
<!-- HTML -->
<div class="demo-section">
    <h3 id="cpn_html">HTML</h3>
    <div class="demo-wrapper">
        <div class="demo_content">
            <pre class="brush:xml;">
                &lt;div class=&quot;useScrollBar&quot;&gt;
                    &lt;!-- Content --&gt;
                &lt;/div&gt;
            </pre>
        </div>                
    </div>                
</div>                
<!-- NOTE -->
<div class="demo-section">
    <h3 id="cpn_note">Note</h3>
    <p class="hidden">Note des</p>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><code class="highlighter-rouge">useScrollBar</code></td>
                <td>Div dùng <code>useScrollBar</code> cần set <code>height</code> hoặc <code>max-height</code></td>
            </tr>
        </tbody>
    </table>
</div>