<!-- MÔ TẢ -->
<h1 class="bd-title" id="content">Alert</h1>


<!-- DEMO -->
<div class="demo-section">
    <h3 id="cpn_demo">Demo</h3>
    <div class="demo_content">
        <div class="alert--page">
            <div class="row flash flash-error">
                <ul>
                    <li>Flash error</li>
                </ul>
                <i class="ui-icon ui-icon-closethick close-flash"></i>
            </div>
            <div class="row flash flash-warn">
                <ul>
                    <li>Flash warn</li>
                </ul>
                <i class="ui-icon ui-icon-closethick close-flash"></i>
            </div>
        </div>
    </div>                
</div>                

<!-- HTML -->
<div class="demo-section">
    <h3 id="cpn_html">HTML</h3>
    <div class="demo-wrapper">
        <div class="demo_content">
            <pre class="brush:xml;">
                &lt;div class=&quot;row flash flash-notifies&quot;&gt;
                    &lt;ul&gt;
                        &lt;li&gt;Flash notifies&lt;/li&gt;
                    &lt;/ul&gt;
                    &lt;i class=&quot;ui-icon ui-icon-closethick close-flash&quot;&gt;&lt;/i&gt;
                &lt;/div&gt;
                &lt;div class=&quot;row flash flash-error&quot;&gt;
                    &lt;ul&gt;
                        &lt;li&gt;Flash error&lt;/li&gt;
                    &lt;/ul&gt;
                    &lt;i class=&quot;ui-icon ui-icon-closethick close-flash&quot;&gt;&lt;/i&gt;
                &lt;/div&gt;
                &lt;div class=&quot;row flash flash-success&quot;&gt;
                    &lt;ul&gt;
                        &lt;li&gt;Flash success&lt;/li&gt;
                    &lt;/ul&gt;
                    &lt;i class=&quot;ui-icon ui-icon-closethick close-flash&quot;&gt;&lt;/i&gt;
                &lt;/div&gt;
                &lt;div class=&quot;row flash flash-warn&quot;&gt;
                    &lt;ul&gt;
                        &lt;li&gt;Flash warn&lt;/li&gt;
                    &lt;/ul&gt;
                    &lt;i class=&quot;ui-icon ui-icon-closethick close-flash&quot;&gt;&lt;/i&gt;
                &lt;/div&gt;
            </pre>
        </div>                
    </div>                
</div>                

<!-- CSS -->
<div class="demo-section">
    <h3 id="cpn_css">CSS</h3>
    <div class="demo-wrapper">
        <div class="demo_content">
            <pre class="brush:css;">

            </pre>
        </div>                
    </div>                
</div>                

<!-- JS -->
<div class="demo-section">
    <h3 id="cpn_js">JS</h3>
    <div class="demo-wrapper">
        <div class="demo_content ">
            <pre class="brush:js;">
     
            </pre>
        </div>                
    </div>                
</div>                
<!-- NOTE -->
<div class="demo-section">
    <h3 id="cpn_note">Note</h3>
    <p class="hidden">Note des</p>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><code class="highlighter-rouge">CSS</code></td>
                <td>Chỉ thêm <code>CSS</code> khi copy <code>HTML</code> không giống demo</td>
            </tr>
            <tr>
                <td><code class="highlighter-rouge">JS</code></td>
                <td>Chỉ thêm <code>Js</code> khi copy <code>HTML,CSS</code> không chạy giống demo</td>
            </tr>
        </tbody>
    </table>
</div>