<!-- MÔ TẢ -->
<h1 class="bd-title" id="content">Attach File</h1>


<!-- DEMO -->
<div class="demo-section">
    <h3 id="cpn_demo">Demo</h3>
    <div class="demo_content">
        <div class="jSearch_at">
            <ul class="list-unstyled">
                <!-- ẢNH -->
                <li class="attach-file-item jobFile_Attach">
                    <div class="jobFile_Media">
                        <a title="your_name-taki-and-mitsuha-sunrise-comet-night-sky-stars-clouds-(56).jpg" class="jobFile_Image jobFile_Media_Item jobFile_Fancybox" href="javascript:;">
                            <img src="stg/Assets/app/file/your_name-taki-and-mitsuha-sunrise-comet-night-sky-stars-clouds-(56).jpg" alt="your_name-taki-and-mitsuha-sunrise-comet-night-sky-stars-clouds-(56).jpg" title="your_name-taki-and-mitsuha-sunrise-comet-night-sky-stars-clouds-(56).jpg">
                        </a>
                    </div>
                    <div class="jobFile_body">
                        <a class="jobFile_Name" href="stg/Assets/app/file/your_name-taki-and-mitsuha-sunrise-comet-night-sky-stars-clouds-(56).jpg" data-fancybox="jobFile_Media" data-caption="your_name-taki-and-mitsuha-sunrise-comet-night-sky-stars-clouds-(56).jpg">
                            your_name-taki-and-mitsuha-sunrise-comet-night-sky-stars-clouds-(56).jpg
                        </a>
                        <span class="gray jobFile_Date">06/07/2018 11:00 -</span>
                        <a class="deleteFile quickDelete" href="#" data-target=".ui-dialog:visible">Xóa</a>
                    </div>
                </li>
                <!-- VIDEO -->
                <li class="attach-file-item jobFile_Attach">
                    <div class="jobFile_Media">
                        <a title="mov_bbb.mp4" class="jobFile_Video jobFile_Media_Item jobFile_Fancybox" href="javascript:;">
                            <span class="jobFile_Extension">
                                <span class="jobFile_Extension_content">
                                    <i class="exts-svg-24 ext-svg-mp4"></i>
                                    <!-- ext-svg- Đuôi file -->
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="jobFile_body">
                        <a class="jobFile_Name" href="stg/Assets/app/file/mov_bbb.mp4" data-fancybox="jobFile_Media" data-caption="mov_bbb.mp4">
                            mov_bbb.mp4
                        </a>
                        <span class="gray jobFile_Date">06/07/2018 11:00 -</span>
                        <a class="deleteFile quickDelete" href="#" data-target=".ui-dialog:visible">Xóa</a>
                    </div>
                </li>
                <!-- MP3 -->
                <li class="attach-file-item jobFile_Attach">
                    <div class="jobFile_Media">
                        <a title="horse.mp3" class="jobFile_Audio jobFile_Media_Item jobFile_Fancybox" href="javascript:;">
                            <span class="jobFile_Extension">
                                <span class="jobFile_Extension_content">
                                    <i class="exts-svg-24 ext-svg-mp3"></i>
                                    <!-- ext-svg- Đuôi file -->
                                </span>
                            </span>
                        </a>
                        <div style="display: none;" id="jobFile_id_1" class="fancybox-content">
                            <audio controls="">
                                <source src="stg/Assets/app/file/horse.mp3" type="audio/mpeg">
                                Your browser does not support the audio element.
                            </audio>
                        </div>
                    </div>
                    <div class="jobFile_body">
                        <a class="jobFile_Name" data-fancybox="jobFile_Media" data-src="#jobFile_id_1" href="javascript:;">
                            horse.mp3
                        </a>
                        <span class="gray jobFile_Date">06/07/2018 11:00 -</span>
                        <a class="deleteFile quickDelete" href="#" data-target=".ui-dialog:visible">Xóa</a>
                    </div>
                </li>
                <!-- SVG -->
                <li class="attach-file-item jobFile_Attach">
                    <div class="jobFile_Media">
                        <a title="outline-assessment-24px.svg" class="jobFile_Cover jobFile_Media_Item jobFile_Fancybox" href="javascript:;">
                            <span class="jobFile_Extension">
                                <span class="jobFile_Extension_content">
                                    <i class="exts-svg-24 ext-svg-svg"></i>
                                    <!-- ext-svg- Đuôi file -->
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="jobFile_body">
                        <a class="jobFile_Name" href="stg/Assets/app/file/outline-assessment-24px.svg" data-fancybox="jobFile_Media" data-caption="outline-assessment-24px.svg">
                            outline-assessment-24px.svg
                        </a>
                        <span class="gray jobFile_Date">06/07/2018 11:00 -</span>
                        <a class="deleteFile quickDelete" href="#" data-target=".ui-dialog:visible">Xóa</a>
                    </div>
                </li>

                <!-- CÁC TRƯỜNG KHÁC (DƯỚI ĐÂY CHỈ LÀ MỘT SỐ DEMO) CHỈ CẦN LẤY ĐUÔI FILE để chèn vào <i class="exts-svg-24 ext-svg-ĐuôiFile"></i> -->

                <!-- PDF -->
                <li class="attach-file-item jobFile_Attach">
                    <div class="jobFile_Media">
                        <a title="Sample report.pdf" class="jobFile_Cover jobFile_Media_Item" href="stg/Assets/app/file/Sample report.pdf" target="_blank">
                            <span class="jobFile_Extension">
                                <span class="jobFile_Extension_content">
                                    <i class="exts-svg-24 ext-svg-pdf"></i>
                                    <!-- ext-svg- Đuôi file -->
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="jobFile_body">
                        <a class="jobFile_Name" href="stg/Assets/app/file/Sample report.pdf" target="_blank">
                            Sample report.pdf
                        </a>
                        <span class="gray jobFile_Date">06/07/2018 11:00 -</span>
                        <a class="deleteFile quickDelete" href="#" data-target=".ui-dialog:visible">Xóa</a>
                    </div>
                </li>
                <!-- EXCEL -->
                <li class="attach-file-item jobFile_Attach">
                    <div class="jobFile_Media">
                        <a title="Sample report.pdf" class="jobFile_Cover jobFile_Media_Item" href="stg/Assets/app/file/Sample datasheet.xls" target="_blank">
                            <span class="jobFile_Extension">
                                <span class="jobFile_Extension_content">
                                    <i class="exts-svg-24 ext-svg-xls"></i>
                                    <!-- ext-svg- Đuôi file -->
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="jobFile_body">
                        <a class="jobFile_Name" href="stg/Assets/app/file/Sample datasheet.xls" target="_blank">
                            Sample datasheet.xls
                        </a>
                        <span class="gray jobFile_Date">06/07/2018 11:00 -</span>
                        <a class="deleteFile quickDelete" href="#" data-target=".ui-dialog:visible">Xóa</a>
                    </div>
                </li>
                <!-- PPT -->
                <li class="attach-file-item jobFile_Attach">
                    <div class="jobFile_Media">
                        <a title="Sample report.pdf" class="jobFile_Cover jobFile_Media_Item" href="stg/Assets/app/Sample presentation.ppt" target="_blank">
                            <span class="jobFile_Extension">
                                <span class="jobFile_Extension_content">
                                    <i class="exts-svg-24 ext-svg-ppt"></i>
                                    <!-- ext-svg- Đuôi file -->
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="jobFile_body">
                        <a class="jobFile_Name" href="stg/Assets/app/file/Sample presentation.ppt" target="_blank">
                            Sample presentation.ppt
                        </a>
                        <span class="gray jobFile_Date">06/07/2018 11:00 -</span>
                        <a class="deleteFile quickDelete" href="#" data-target=".ui-dialog:visible">Xóa</a>
                    </div>
                </li>
                <!-- DOC -->
                <li class="attach-file-item jobFile_Attach">
                    <div class="jobFile_Media">
                        <a title="DANH SÁCH ĐƠN VỊ CHUYÊN MÔN.doc" class="jobFile_Cover jobFile_Media_Item" href="stg/Assets/app/file/DANH SÁCH ĐƠN VỊ CHUYÊN MÔN.doc" target="_blank">
                            <span class="jobFile_Extension">
                                <span class="jobFile_Extension_content">
                                    <i class="exts-svg-24 ext-svg-doc"></i>
                                    <!-- ext-svg- Đuôi file -->
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="jobFile_body">
                        <a class="jobFile_Name" href="stg/Assets/app/file/DANH SÁCH ĐƠN VỊ CHUYÊN MÔN.doc" target="_blank">
                            DANH SÁCH ĐƠN VỊ CHUYÊN MÔN.doc
                        </a>
                        <span class="gray jobFile_Date">06/07/2018 11:00 -</span>
                        <a class="deleteFile quickDelete" href="#" data-target=".ui-dialog:visible">Xóa</a>
                    </div>
                </li>
                <!-- FILE NÉN -->
                <li class="attach-file-item jobFile_Attach">
                    <div class="jobFile_Media">
                        <a title="Balloon-Theme-Happy-Birthday-Card-Illustration.zip" class="jobFile_Cover jobFile_Media_Item" href="stg/Assets/app/file/Balloon-Theme-Happy-Birthday-Card-Illustration.zip" target="_blank">
                            <span class="jobFile_Extension">
                                <span class="jobFile_Extension_content">
                                    <i class="exts-svg-24 ext-svg-zip"></i>
                                    <!-- ext-svg- Đuôi file -->
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="jobFile_body">
                        <a class="jobFile_Name" href="stg/Assets/app/file/Balloon-Theme-Happy-Birthday-Card-Illustration.zip" target="_blank">
                            Balloon-Theme-Happy-Birthday-Card-Illustration.zip
                        </a>
                        <span class="gray jobFile_Date">06/07/2018 11:00 -</span>
                        <a class="deleteFile quickDelete" href="#" data-target=".ui-dialog:visible">Xóa</a>
                    </div>
                </li>
                <!-- CÁC FILE KHÁC -->
                <li class="attach-file-item jobFile_Attach">
                    <div class="jobFile_Media">
                        <a title="0747641HVN1RVYB.inv" class="jobFile_Cover jobFile_Media_Item" href="stg/Assets/app/file/0747641HVN1RVYB.inv" target="_blank">
                            <span class="jobFile_Extension">
                                <span class="jobFile_Extension_content">
                                    <i class="exts-svg-24 ext-svg-ivn"></i>
                                    <!-- ext-svg- Đuôi file -->
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="jobFile_body">
                        <a class="jobFile_Name" href="stg/Assets/app/file/0747641HVN1RVYB.inv" target="_blank">
                            0747641HVN1RVYB.inv
                        </a>
                        <span class="gray jobFile_Date">06/07/2018 11:00 -</span>
                        <a class="deleteFile quickDelete" href="#" data-target=".ui-dialog:visible">Xóa</a>
                    </div>
                </li>                                        
            </ul>
        </div>
    </div>                
</div>                

<!-- HTML -->
<div class="demo-section">
    <h3 id="cpn_html">HTML</h3>
    <div class="demo-wrapper">
        <div class="demo_content">
            <pre class="brush:xml;">
                &lt;div class=&quot;jSearch_at&quot;&gt;
                    &lt;ul class=&quot;list-unstyled&quot;&gt;
                        &lt;!-- ẢNH --&gt;
                        &lt;li class=&quot;attach-file-item jobFile_Attach&quot;&gt;
                            &lt;div class=&quot;jobFile_Media&quot;&gt;
                                &lt;a title=&quot;your_name-taki-and-mitsuha-sunrise-comet-night-sky-stars-clouds-(56).jpg&quot; class=&quot;jobFile_Image jobFile_Media_Item jobFile_Fancybox&quot; href=&quot;javascript:;&quot;&gt;
                                    &lt;img src=&quot;stg/Assets/app/file/your_name-taki-and-mitsuha-sunrise-comet-night-sky-stars-clouds-(56).jpg&quot; alt=&quot;your_name-taki-and-mitsuha-sunrise-comet-night-sky-stars-clouds-(56).jpg&quot; title=&quot;your_name-taki-and-mitsuha-sunrise-comet-night-sky-stars-clouds-(56).jpg&quot;&gt;
                                &lt;/a&gt;
                            &lt;/div&gt;
                            &lt;div class=&quot;jobFile_body&quot;&gt;
                                &lt;a class=&quot;jobFile_Name&quot; href=&quot;stg/Assets/app/file/your_name-taki-and-mitsuha-sunrise-comet-night-sky-stars-clouds-(56).jpg&quot; data-fancybox=&quot;jobFile_Media&quot; data-caption=&quot;your_name-taki-and-mitsuha-sunrise-comet-night-sky-stars-clouds-(56).jpg&quot;&gt;
                                    your_name-taki-and-mitsuha-sunrise-comet-night-sky-stars-clouds-(56).jpg
                                &lt;/a&gt;
                                &lt;span class=&quot;gray jobFile_Date&quot;&gt;06/07/2018 11:00 -&lt;/span&gt;
                                &lt;a class=&quot;deleteFile quickDelete&quot; href=&quot;#&quot; data-target=&quot;.ui-dialog:visible&quot;&gt;X&oacute;a&lt;/a&gt;
                            &lt;/div&gt;
                        &lt;/li&gt;
                        &lt;!-- VIDEO --&gt;
                        &lt;li class=&quot;attach-file-item jobFile_Attach&quot;&gt;
                            &lt;div class=&quot;jobFile_Media&quot;&gt;
                                &lt;a title=&quot;mov_bbb.mp4&quot; class=&quot;jobFile_Video jobFile_Media_Item jobFile_Fancybox&quot; href=&quot;javascript:;&quot;&gt;
                                    &lt;span class=&quot;jobFile_Extension&quot;&gt;
                                        &lt;span class=&quot;jobFile_Extension_content&quot;&gt;
                                            &lt;i class=&quot;exts-svg-24 ext-svg-mp4&quot;&gt;&lt;/i&gt;
                                            &lt;!-- ext-svg- Đu&ocirc;i file --&gt;
                                        &lt;/span&gt;
                                    &lt;/span&gt;
                                &lt;/a&gt;
                            &lt;/div&gt;
                            &lt;div class=&quot;jobFile_body&quot;&gt;
                                &lt;a class=&quot;jobFile_Name&quot; href=&quot;stg/Assets/app/file/mov_bbb.mp4&quot; data-fancybox=&quot;jobFile_Media&quot; data-caption=&quot;mov_bbb.mp4&quot;&gt;
                                    mov_bbb.mp4
                                &lt;/a&gt;
                                &lt;span class=&quot;gray jobFile_Date&quot;&gt;06/07/2018 11:00 -&lt;/span&gt;
                                &lt;a class=&quot;deleteFile quickDelete&quot; href=&quot;#&quot; data-target=&quot;.ui-dialog:visible&quot;&gt;X&oacute;a&lt;/a&gt;
                            &lt;/div&gt;
                        &lt;/li&gt;
                        &lt;!-- MP3 --&gt;
                        &lt;li class=&quot;attach-file-item jobFile_Attach&quot;&gt;
                            &lt;div class=&quot;jobFile_Media&quot;&gt;
                                &lt;a title=&quot;horse.mp3&quot; class=&quot;jobFile_Audio jobFile_Media_Item jobFile_Fancybox&quot; href=&quot;javascript:;&quot;&gt;
                                    &lt;span class=&quot;jobFile_Extension&quot;&gt;
                                        &lt;span class=&quot;jobFile_Extension_content&quot;&gt;
                                            &lt;i class=&quot;exts-svg-24 ext-svg-mp3&quot;&gt;&lt;/i&gt;
                                            &lt;!-- ext-svg- Đu&ocirc;i file --&gt;
                                        &lt;/span&gt;
                                    &lt;/span&gt;
                                &lt;/a&gt;
                                &lt;div style=&quot;display: none;&quot; id=&quot;jobFile_id_1&quot; class=&quot;fancybox-content&quot;&gt;
                                    &lt;audio controls=&quot;&quot;&gt;
                                        &lt;source src=&quot;stg/Assets/app/file/horse.mp3&quot; type=&quot;audio/mpeg&quot;&gt;
                                        Your browser does not support the audio element.
                                    &lt;/audio&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                            &lt;div class=&quot;jobFile_body&quot;&gt;
                                &lt;a class=&quot;jobFile_Name&quot; data-fancybox=&quot;jobFile_Media&quot; data-src=&quot;#jobFile_id_1&quot; href=&quot;javascript:;&quot;&gt;
                                    horse.mp3
                                &lt;/a&gt;
                                &lt;span class=&quot;gray jobFile_Date&quot;&gt;06/07/2018 11:00 -&lt;/span&gt;
                                &lt;a class=&quot;deleteFile quickDelete&quot; href=&quot;#&quot; data-target=&quot;.ui-dialog:visible&quot;&gt;X&oacute;a&lt;/a&gt;
                            &lt;/div&gt;
                        &lt;/li&gt;
                        &lt;!-- SVG --&gt;
                        &lt;li class=&quot;attach-file-item jobFile_Attach&quot;&gt;
                            &lt;div class=&quot;jobFile_Media&quot;&gt;
                                &lt;a title=&quot;outline-assessment-24px.svg&quot; class=&quot;jobFile_Cover jobFile_Media_Item jobFile_Fancybox&quot; href=&quot;javascript:;&quot;&gt;
                                    &lt;span class=&quot;jobFile_Extension&quot;&gt;
                                        &lt;span class=&quot;jobFile_Extension_content&quot;&gt;
                                            &lt;i class=&quot;exts-svg-24 ext-svg-svg&quot;&gt;&lt;/i&gt;
                                            &lt;!-- ext-svg- Đu&ocirc;i file --&gt;
                                        &lt;/span&gt;
                                    &lt;/span&gt;
                                &lt;/a&gt;
                            &lt;/div&gt;
                            &lt;div class=&quot;jobFile_body&quot;&gt;
                                &lt;a class=&quot;jobFile_Name&quot; href=&quot;stg/Assets/app/file/outline-assessment-24px.svg&quot; data-fancybox=&quot;jobFile_Media&quot; data-caption=&quot;outline-assessment-24px.svg&quot;&gt;
                                    outline-assessment-24px.svg
                                &lt;/a&gt;
                                &lt;span class=&quot;gray jobFile_Date&quot;&gt;06/07/2018 11:00 -&lt;/span&gt;
                                &lt;a class=&quot;deleteFile quickDelete&quot; href=&quot;#&quot; data-target=&quot;.ui-dialog:visible&quot;&gt;X&oacute;a&lt;/a&gt;
                            &lt;/div&gt;
                        &lt;/li&gt;

                        &lt;!-- C&Aacute;C TRƯỜNG KH&Aacute;C (DƯỚI Đ&Acirc;Y CHỈ L&Agrave; MỘT SỐ DEMO) CHỈ CẦN LẤY ĐU&Ocirc;I FILE để ch&egrave;n v&agrave;o &lt;i class=&quot;exts-svg-24 ext-svg-Đu&ocirc;iFile&quot;&gt;&lt;/i&gt; --&gt;

                        &lt;!-- PDF --&gt;
                        &lt;li class=&quot;attach-file-item jobFile_Attach&quot;&gt;
                            &lt;div class=&quot;jobFile_Media&quot;&gt;
                                &lt;a title=&quot;Sample report.pdf&quot; class=&quot;jobFile_Cover jobFile_Media_Item&quot; href=&quot;stg/Assets/app/file/Sample report.pdf&quot; target=&quot;_blank&quot;&gt;
                                    &lt;span class=&quot;jobFile_Extension&quot;&gt;
                                        &lt;span class=&quot;jobFile_Extension_content&quot;&gt;
                                            &lt;i class=&quot;exts-svg-24 ext-svg-pdf&quot;&gt;&lt;/i&gt;
                                            &lt;!-- ext-svg- Đu&ocirc;i file --&gt;
                                        &lt;/span&gt;
                                    &lt;/span&gt;
                                &lt;/a&gt;
                            &lt;/div&gt;
                            &lt;div class=&quot;jobFile_body&quot;&gt;
                                &lt;a class=&quot;jobFile_Name&quot; href=&quot;stg/Assets/app/file/Sample report.pdf&quot; target=&quot;_blank&quot;&gt;
                                    Sample report.pdf
                                &lt;/a&gt;
                                &lt;span class=&quot;gray jobFile_Date&quot;&gt;06/07/2018 11:00 -&lt;/span&gt;
                                &lt;a class=&quot;deleteFile quickDelete&quot; href=&quot;#&quot; data-target=&quot;.ui-dialog:visible&quot;&gt;X&oacute;a&lt;/a&gt;
                            &lt;/div&gt;
                        &lt;/li&gt;
                        &lt;!-- EXCEL --&gt;
                        &lt;li class=&quot;attach-file-item jobFile_Attach&quot;&gt;
                            &lt;div class=&quot;jobFile_Media&quot;&gt;
                                &lt;a title=&quot;Sample report.pdf&quot; class=&quot;jobFile_Cover jobFile_Media_Item&quot; href=&quot;stg/Assets/app/file/Sample datasheet.xls&quot; target=&quot;_blank&quot;&gt;
                                    &lt;span class=&quot;jobFile_Extension&quot;&gt;
                                        &lt;span class=&quot;jobFile_Extension_content&quot;&gt;
                                            &lt;i class=&quot;exts-svg-24 ext-svg-xls&quot;&gt;&lt;/i&gt;
                                            &lt;!-- ext-svg- Đu&ocirc;i file --&gt;
                                        &lt;/span&gt;
                                    &lt;/span&gt;
                                &lt;/a&gt;
                            &lt;/div&gt;
                            &lt;div class=&quot;jobFile_body&quot;&gt;
                                &lt;a class=&quot;jobFile_Name&quot; href=&quot;stg/Assets/app/file/Sample datasheet.xls&quot; target=&quot;_blank&quot;&gt;
                                    Sample datasheet.xls
                                &lt;/a&gt;
                                &lt;span class=&quot;gray jobFile_Date&quot;&gt;06/07/2018 11:00 -&lt;/span&gt;
                                &lt;a class=&quot;deleteFile quickDelete&quot; href=&quot;#&quot; data-target=&quot;.ui-dialog:visible&quot;&gt;X&oacute;a&lt;/a&gt;
                            &lt;/div&gt;
                        &lt;/li&gt;
                        &lt;!-- PPT --&gt;
                        &lt;li class=&quot;attach-file-item jobFile_Attach&quot;&gt;
                            &lt;div class=&quot;jobFile_Media&quot;&gt;
                                &lt;a title=&quot;Sample report.pdf&quot; class=&quot;jobFile_Cover jobFile_Media_Item&quot; href=&quot;stg/Assets/app/Sample presentation.ppt&quot; target=&quot;_blank&quot;&gt;
                                    &lt;span class=&quot;jobFile_Extension&quot;&gt;
                                        &lt;span class=&quot;jobFile_Extension_content&quot;&gt;
                                            &lt;i class=&quot;exts-svg-24 ext-svg-ppt&quot;&gt;&lt;/i&gt;
                                            &lt;!-- ext-svg- Đu&ocirc;i file --&gt;
                                        &lt;/span&gt;
                                    &lt;/span&gt;
                                &lt;/a&gt;
                            &lt;/div&gt;
                            &lt;div class=&quot;jobFile_body&quot;&gt;
                                &lt;a class=&quot;jobFile_Name&quot; href=&quot;stg/Assets/app/file/Sample presentation.ppt&quot; target=&quot;_blank&quot;&gt;
                                    Sample presentation.ppt
                                &lt;/a&gt;
                                &lt;span class=&quot;gray jobFile_Date&quot;&gt;06/07/2018 11:00 -&lt;/span&gt;
                                &lt;a class=&quot;deleteFile quickDelete&quot; href=&quot;#&quot; data-target=&quot;.ui-dialog:visible&quot;&gt;X&oacute;a&lt;/a&gt;
                            &lt;/div&gt;
                        &lt;/li&gt;
                        &lt;!-- DOC --&gt;
                        &lt;li class=&quot;attach-file-item jobFile_Attach&quot;&gt;
                            &lt;div class=&quot;jobFile_Media&quot;&gt;
                                &lt;a title=&quot;DANH S&Aacute;CH ĐƠN VỊ CHUY&Ecirc;N M&Ocirc;N.doc&quot; class=&quot;jobFile_Cover jobFile_Media_Item&quot; href=&quot;stg/Assets/app/file/DANH S&Aacute;CH ĐƠN VỊ CHUY&Ecirc;N M&Ocirc;N.doc&quot; target=&quot;_blank&quot;&gt;
                                    &lt;span class=&quot;jobFile_Extension&quot;&gt;
                                        &lt;span class=&quot;jobFile_Extension_content&quot;&gt;
                                            &lt;i class=&quot;exts-svg-24 ext-svg-doc&quot;&gt;&lt;/i&gt;
                                            &lt;!-- ext-svg- Đu&ocirc;i file --&gt;
                                        &lt;/span&gt;
                                    &lt;/span&gt;
                                &lt;/a&gt;
                            &lt;/div&gt;
                            &lt;div class=&quot;jobFile_body&quot;&gt;
                                &lt;a class=&quot;jobFile_Name&quot; href=&quot;stg/Assets/app/file/DANH S&Aacute;CH ĐƠN VỊ CHUY&Ecirc;N M&Ocirc;N.doc&quot; target=&quot;_blank&quot;&gt;
                                    DANH S&Aacute;CH ĐƠN VỊ CHUY&Ecirc;N M&Ocirc;N.doc
                                &lt;/a&gt;
                                &lt;span class=&quot;gray jobFile_Date&quot;&gt;06/07/2018 11:00 -&lt;/span&gt;
                                &lt;a class=&quot;deleteFile quickDelete&quot; href=&quot;#&quot; data-target=&quot;.ui-dialog:visible&quot;&gt;X&oacute;a&lt;/a&gt;
                            &lt;/div&gt;
                        &lt;/li&gt;
                        &lt;!-- FILE N&Eacute;N --&gt;
                        &lt;li class=&quot;attach-file-item jobFile_Attach&quot;&gt;
                            &lt;div class=&quot;jobFile_Media&quot;&gt;
                                &lt;a title=&quot;Balloon-Theme-Happy-Birthday-Card-Illustration.zip&quot; class=&quot;jobFile_Cover jobFile_Media_Item&quot; href=&quot;stg/Assets/app/file/Balloon-Theme-Happy-Birthday-Card-Illustration.zip&quot; target=&quot;_blank&quot;&gt;
                                    &lt;span class=&quot;jobFile_Extension&quot;&gt;
                                        &lt;span class=&quot;jobFile_Extension_content&quot;&gt;
                                            &lt;i class=&quot;exts-svg-24 ext-svg-zip&quot;&gt;&lt;/i&gt;
                                            &lt;!-- ext-svg- Đu&ocirc;i file --&gt;
                                        &lt;/span&gt;
                                    &lt;/span&gt;
                                &lt;/a&gt;
                            &lt;/div&gt;
                            &lt;div class=&quot;jobFile_body&quot;&gt;
                                &lt;a class=&quot;jobFile_Name&quot; href=&quot;stg/Assets/app/file/Balloon-Theme-Happy-Birthday-Card-Illustration.zip&quot; target=&quot;_blank&quot;&gt;
                                    Balloon-Theme-Happy-Birthday-Card-Illustration.zip
                                &lt;/a&gt;
                                &lt;span class=&quot;gray jobFile_Date&quot;&gt;06/07/2018 11:00 -&lt;/span&gt;
                                &lt;a class=&quot;deleteFile quickDelete&quot; href=&quot;#&quot; data-target=&quot;.ui-dialog:visible&quot;&gt;X&oacute;a&lt;/a&gt;
                            &lt;/div&gt;
                        &lt;/li&gt;
                        &lt;!-- C&Aacute;C FILE KH&Aacute;C --&gt;
                        &lt;li class=&quot;attach-file-item jobFile_Attach&quot;&gt;
                            &lt;div class=&quot;jobFile_Media&quot;&gt;
                                &lt;a title=&quot;0747641HVN1RVYB.inv&quot; class=&quot;jobFile_Cover jobFile_Media_Item&quot; href=&quot;stg/Assets/app/file/0747641HVN1RVYB.inv&quot; target=&quot;_blank&quot;&gt;
                                    &lt;span class=&quot;jobFile_Extension&quot;&gt;
                                        &lt;span class=&quot;jobFile_Extension_content&quot;&gt;
                                            &lt;i class=&quot;exts-svg-24 ext-svg-ivn&quot;&gt;&lt;/i&gt;
                                            &lt;!-- ext-svg- Đu&ocirc;i file --&gt;
                                        &lt;/span&gt;
                                    &lt;/span&gt;
                                &lt;/a&gt;
                            &lt;/div&gt;
                            &lt;div class=&quot;jobFile_body&quot;&gt;
                                &lt;a class=&quot;jobFile_Name&quot; href=&quot;stg/Assets/app/file/0747641HVN1RVYB.inv&quot; target=&quot;_blank&quot;&gt;
                                    0747641HVN1RVYB.inv
                                &lt;/a&gt;
                                &lt;span class=&quot;gray jobFile_Date&quot;&gt;06/07/2018 11:00 -&lt;/span&gt;
                                &lt;a class=&quot;deleteFile quickDelete&quot; href=&quot;#&quot; data-target=&quot;.ui-dialog:visible&quot;&gt;X&oacute;a&lt;/a&gt;
                            &lt;/div&gt;
                        &lt;/li&gt;                                        
                    &lt;/ul&gt;
                &lt;/div&gt;
            </pre>
        </div>                
    </div>                
</div>                

<!-- CSS -->
<div class="demo-section">
    <h3 id="cpn_css">CSS</h3>
    <div class="demo-wrapper">
        <div class="demo_content">
            <pre class="brush:css;">
                .jSearch_at > ul > li {
                    width: 100%;
                    float: left;
                }
                .jSearch_at > ul > li {
                    display: block;
                    margin-bottom: 6px;
                    padding-right: 0px;
                    position: relative;
                    padding-right: 30px;
                }

                .jSearch_at > ul {
                    margin-bottom: 0;
                    float: left;
                    width: 100%;
                }

                .jSearch_at > ul > li {
                    display: block;
                    margin-bottom: 6px;
                    padding-right: 0px;
                    position: relative;
                }

                .jSearch_at > ul > li > span {
                    position: relative;
                    clear: both;
                    display: block !important;
                    font-size: 12px;
                    padding-left: 15px;
                }
                .jobFile_Media {
                    margin-right: 10px;
                    max-width: 65px;
                    width: 100%;
                }

                .jobFile_body {
                    flex: 1;
                }

                .jobFile_Attach {
                    display: flex !important;
                    align-items: flex-start;
                    width: 100%;
                    overflow: hidden;
                    position: relative;
                }

                .jobFile_Media .jobFile_Media_Item {
                    width: 100%;
                    height: 0;
                    padding-bottom: 65% !important;
                    overflow: hidden;
                    background: #fff !important;
                    border: 1px solid #eee !important;
                    border-radius: 2px;
                    position: relative;
                    display: block;
                    float: left;
                    margin-right: 10px;
                }

                .jobFile_Media .jobFile_Media_Item > img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }

                .jobFile_Media .jobFile_Media_Item > img {
                    object-fit: cover;
                    object-position: top center;
                }

                .jobFile_Media .jobFile_Extension_content {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    white-space: nowrap;
                    font-size: 14px;
                    color: #888;
                    text-transform: uppercase;
                    height: 24px;
                    width: 24px;
                    margin-left: -12px;
                    margin-top: -12px;
                }

                .jobFile_body .jobFile_Name:hover,
                .jobFile_body .jobFile_Name:focus {
                    text-decoration: underline;
                    color: #23527c;
                }

                .jobFile_body .jobFile_Name {
                    display: block;
                    clear: both;
                    float: none;
                    color: #337ab7;
                    cursor: pointer;
                    -webkit-transition: all .25s;
                    -moz-transition: all .25s;
                    -ms-transition: all .25s;
                    -o-transition: all .25s;
                    transition: all .25s;
                }

                .jobFile_body .jobFile_Date, .jobFile_body .deleteFile {
                    font-size: 13px;
                }

                .jobFile_body .jobFile_Date {
                    display: inline-block;
                    line-height: 20px;
                    float: left;
                    margin: 0 0 3px 0;
                }

                .jobFile_body .deleteFile {
                    z-index: 2;
                }

                .jobFile_body .deleteFile {
                    position: relative !important;
                    opacity: 1 !important;
                    visibility: visible !important;
                    display: inline-block;
                    color: gray !important;
                    margin: 0 0 3px 5px;
                    text-decoration: underline !important;
                }

            </pre>
        </div>                
    </div>                
</div>                

<!-- JS -->
<div class="demo-section">
    <h3 id="cpn_js">JS</h3>
    <div class="demo-wrapper">
        <div class="demo_content ">
            <pre class="brush:js;">
                if(container.find("[data-fancybox]").length !=0){
                    container.find("[data-fancybox]").fancybox({
                        margin: [44, 0, 22, 0],
                        loop: true,
                        buttons: [
                            "zoom",
                            //"share",
                            //"slideShow",
                            "fullScreen",
                            "download",
                            //"thumbs",
                            "close"
                        ],        
                    });
                }     
            </pre>
        </div>                
    </div>                
</div>                
<!-- NOTE -->
<div class="demo-section">
    <h3 id="cpn_note">Note</h3>
    <p class="hidden">Note des</p>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><code class="highlighter-rouge">CSS</code></td>
                <td>Chỉ thêm <code>CSS</code> khi copy <code>HTML</code> không giống demo</td>
            </tr>
            <tr>
                <td><code class="highlighter-rouge">JS</code></td>
                <td>Chỉ thêm <code>Js</code> khi copy <code>HTML,CSS</code> không chạy giống demo</td>
            </tr>
        </tbody>
    </table>
</div>