<!-- MÔ TẢ -->
<h1 class="bd-title" id="content">Listed Number Dashboard</h1>


<!-- DEMO -->
<div class="demo-section">
    <h3 id="cpn_demo">Demo</h3>
    <div class="demo_content">
      <div class="list_items_count item_count_5">
        <div class="item_count">
          <span>
            <i class="fa fa-clone" aria-hidden="true">
            </i> Tổng số dự án
          </span>
          <span>
            49
          </span>
        </div>
        <div class="item_count">
          <span>
            <i class="fa fa-usd" aria-hidden="true">
            </i> Tổng giá trị
          </span>
          <span>
            104.71 tỷ
          </span>
        </div>
        <div class="item_count">
          <span>
            <i class="fa fa-check-circle-o" aria-hidden="true">
            </i> Đã hoàn thành
          </span>
          <span>
            0
          </span>
        </div>
        <div class="item_count">
          <span>
            <i class="fa fa-money" aria-hidden="true">
            </i> Doanh thu
          </span>
          <span>
            0 tỷ
          </span>
        </div>
        <div class="item_count">
          <span>
            <i class="fa fa-money" aria-hidden="true">
            </i> Giá trị hủy
          </span>
          <span>
            0 tỷ
          </span>
        </div>
      </div>
    </div>
</div>                

<!-- HTML -->
<div class="demo-section">
    <h3 id="cpn_html">HTML</h3>
    <div class="demo-wrapper">
        <div class="demo_content">
            <pre class="brush:xml;">
            &lt;div class=&quot;list_items_count item_count_5&quot;&gt;
                &lt;div class=&quot;item_count&quot;&gt;
                    &lt;span&gt;
                        &lt;i class=&quot;fa fa-clone&quot; aria-hidden=&quot;true&quot;&gt;&lt;/i&gt; Tổng số dự &aacute;n
                
                    &lt;/span&gt;
                    &lt;span&gt;
                  49
                &lt;/span&gt;
                &lt;/div&gt;
                &lt;div class=&quot;item_count&quot;&gt;
                    &lt;span&gt;
                        &lt;i class=&quot;fa fa-usd&quot; aria-hidden=&quot;true&quot;&gt;&lt;/i&gt; Tổng gi&aacute; trị
                
                    &lt;/span&gt;
                    &lt;span&gt;
                  104.71 tỷ
                &lt;/span&gt;
                &lt;/div&gt;
                &lt;div class=&quot;item_count&quot;&gt;
                    &lt;span&gt;
                        &lt;i class=&quot;fa fa-check-circle-o&quot; aria-hidden=&quot;true&quot;&gt;&lt;/i&gt; Đ&atilde; ho&agrave;n th&agrave;nh
                
                    &lt;/span&gt;
                    &lt;span&gt;
                  0
                &lt;/span&gt;
                &lt;/div&gt;
                &lt;div class=&quot;item_count&quot;&gt;
                    &lt;span&gt;
                        &lt;i class=&quot;fa fa-money&quot; aria-hidden=&quot;true&quot;&gt;&lt;/i&gt; Doanh thu
                
                    &lt;/span&gt;
                    &lt;span&gt;
                  0 tỷ
                &lt;/span&gt;
                &lt;/div&gt;
                &lt;div class=&quot;item_count&quot;&gt;
                    &lt;span&gt;
                        &lt;i class=&quot;fa fa-money&quot; aria-hidden=&quot;true&quot;&gt;&lt;/i&gt; Gi&aacute; trị hủy
                
                    &lt;/span&gt;
                    &lt;span&gt;
                  0 tỷ
                &lt;/span&gt;
                &lt;/div&gt;
            &lt;/div&gt;
            </pre>
        </div>                
    </div>                
</div>                

<!-- CSS -->
<div class="demo-section">
    <h3 id="cpn_css">CSS</h3>
    <div class="demo-wrapper">
        <div class="demo_content">
            <pre class="brush:css;">

            </pre>
        </div>                
    </div>                
</div>                

<!-- JS -->
<div class="demo-section">
    <h3 id="cpn_js">JS</h3>
    <div class="demo-wrapper">
        <div class="demo_content ">
            <pre class="brush:js;">
     
            </pre>
        </div>                
    </div>                
</div>                
<!-- NOTE -->
<div class="demo-section">
    <h3 id="cpn_note">Note</h3>
    <p class="hidden">Note des</p>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><code class="highlighter-rouge">CSS</code></td>
                <td>Chỉ thêm <code>CSS</code> khi copy <code>HTML</code> không giống demo</td>
            </tr>
            <tr>
                <td><code class="highlighter-rouge">JS</code></td>
                <td>Chỉ thêm <code>Js</code> khi copy <code>HTML,CSS</code> không chạy giống demo</td>
            </tr>
        </tbody>
    </table>
</div>