<!-- MÔ TẢ -->
<h1 class="bd-title" id="content">Block chi tiết thông tin</h1>


<!-- DEMO -->
<div class="demo-section">
    <h3 id="cpn_demo">Demo</h3>
    <div class="demo_content">
        <div class="project_ManagerMain">
            <div class="issue-body-content">
                <div class="module toggle-wrap">
                    <div class="mod-header">
                        <h2 class="toggle-title">Thông tin dự án</h2>
                    </div>
                    <div class="mod-content module_cmt">
                        <div>
                            <ul>
                                <li>
                                    <dl>
                                        <dt>
                                            <i class="hidden fa fa-fw fa-bookmark-o" aria-hidden="true"></i> Mã dự án:
                                        </dt>
                                        <dd>579-DA3-DN1TV-CNT-BN</dd>
                                    </dl>
                                </li>
                                <li>
                                    <dl>
                                        <dt>
                                            <i class="hidden fa fa-fw fa-calendar" aria-hidden="true"></i> Ngày ký hợp đồng dự kiến:
                                        </dt>
                                        <dd>12-12-2015 (Quý 4)</dd>
                                    </dl>
                                </li>
                                <li>
                                    <dl>
                                        <dt>
                                            <i class="hidden fa fa-fw fa-usd" aria-hidden="true"></i> Giá trị dự kiến:
                                        </dt>
                                        <dd>10,000,000,000 VNĐ</dd>
                                    </dl>
                                </li>
                                <li>
                                    <dl>
                                        <dt>
                                            <i class="hidden fa fa-fw fa-code" aria-hidden="true"></i> Loại hình dự án:
                                        </dt>
                                        <dd>Công nghệ TT</dd>
                                    </dl>
                                </li>
                                <li>
                                    <dl>
                                        <dt>
                                            <i class="hidden fa fa-fw fa-university" aria-hidden="true"></i> Loại hình doanh nghiệp:
                                        </dt>
                                        <dd>Doanh nghiệp có vốn đầu tư nước ngoài</dd>
                                    </dl>
                                </li>
                                <li>
                                    <dl>
                                        <dt>
                                            <i class="hidden fa fa-fw fa-university" aria-hidden="true"></i> Chi nhánh:
                                        </dt>
                                        <dd>CN. HCM</dd>
                                    </dl>
                                </li>
                                <li>
                                    <dl>
                                        <dt>
                                            <i class="hidden fa fa-fw fa-university" aria-hidden="true"></i> Phòng ban:
                                        </dt>
                                        <dd>TT. Kinh Doanh Phân Phối</dd>
                                    </dl>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>                
</div>                

<!-- HTML -->
<div class="demo-section">
    <h3 id="cpn_html">HTML</h3>
    <div class="demo-wrapper">
        <div class="demo_content">
            <pre class="brush:xml;">
                &lt;div class=&quot;project_ManagerMain&quot;&gt;
                    &lt;div class=&quot;issue-body-content&quot;&gt;
                        &lt;div class=&quot;module toggle-wrap&quot;&gt;
                            &lt;div class=&quot;mod-header&quot;&gt;
                                &lt;h2 class=&quot;toggle-title&quot;&gt;Th&ocirc;ng tin dự &aacute;n&lt;/h2&gt;
                            &lt;/div&gt;
                            &lt;div class=&quot;mod-content module_cmt&quot;&gt;
                                &lt;div&gt;
                                    &lt;ul&gt;
                                        &lt;li&gt;
                                            &lt;dl&gt;
                                                &lt;dt&gt;
                                                    &lt;i class=&quot;hidden fa fa-fw fa-bookmark-o&quot; aria-hidden=&quot;true&quot;&gt;&lt;/i&gt; M&atilde; dự &aacute;n:
                                                        
                                                &lt;/dt&gt;
                                                &lt;dd&gt;579-DA3-DN1TV-CNT-BN&lt;/dd&gt;
                                            &lt;/dl&gt;
                                        &lt;/li&gt;
                                        &lt;li&gt;
                                            &lt;dl&gt;
                                                &lt;dt&gt;
                                                    &lt;i class=&quot;hidden fa fa-fw fa-calendar&quot; aria-hidden=&quot;true&quot;&gt;&lt;/i&gt; Ng&agrave;y k&yacute; hợp đồng dự kiến:
                                                        
                                                &lt;/dt&gt;
                                                &lt;dd&gt;12-12-2015 (Qu&yacute; 4)&lt;/dd&gt;
                                            &lt;/dl&gt;
                                        &lt;/li&gt;
                                        &lt;li&gt;
                                            &lt;dl&gt;
                                                &lt;dt&gt;
                                                    &lt;i class=&quot;hidden fa fa-fw fa-usd&quot; aria-hidden=&quot;true&quot;&gt;&lt;/i&gt; Gi&aacute; trị dự kiến:
                                                        
                                                &lt;/dt&gt;
                                                &lt;dd&gt;10,000,000,000 VNĐ&lt;/dd&gt;
                                            &lt;/dl&gt;
                                        &lt;/li&gt;
                                        &lt;li&gt;
                                            &lt;dl&gt;
                                                &lt;dt&gt;
                                                    &lt;i class=&quot;hidden fa fa-fw fa-code&quot; aria-hidden=&quot;true&quot;&gt;&lt;/i&gt; Loại h&igrave;nh dự &aacute;n:
                                                        
                                                &lt;/dt&gt;
                                                &lt;dd&gt;C&ocirc;ng nghệ TT&lt;/dd&gt;
                                            &lt;/dl&gt;
                                        &lt;/li&gt;
                                        &lt;li&gt;
                                            &lt;dl&gt;
                                                &lt;dt&gt;
                                                    &lt;i class=&quot;hidden fa fa-fw fa-university&quot; aria-hidden=&quot;true&quot;&gt;&lt;/i&gt; Loại h&igrave;nh doanh nghiệp:
                                                        
                                                &lt;/dt&gt;
                                                &lt;dd&gt;Doanh nghiệp c&oacute; vốn đầu tư nước ngo&agrave;i&lt;/dd&gt;
                                            &lt;/dl&gt;
                                        &lt;/li&gt;
                                        &lt;li&gt;
                                            &lt;dl&gt;
                                                &lt;dt&gt;
                                                    &lt;i class=&quot;hidden fa fa-fw fa-university&quot; aria-hidden=&quot;true&quot;&gt;&lt;/i&gt; Chi nh&aacute;nh:
                                                        
                                                &lt;/dt&gt;
                                                &lt;dd&gt;CN. HCM&lt;/dd&gt;
                                            &lt;/dl&gt;
                                        &lt;/li&gt;
                                        &lt;li&gt;
                                            &lt;dl&gt;
                                                &lt;dt&gt;
                                                    &lt;i class=&quot;hidden fa fa-fw fa-university&quot; aria-hidden=&quot;true&quot;&gt;&lt;/i&gt; Ph&ograve;ng ban:
                                                        
                                                &lt;/dt&gt;
                                                &lt;dd&gt;TT. Kinh Doanh Ph&acirc;n Phối&lt;/dd&gt;
                                            &lt;/dl&gt;
                                        &lt;/li&gt;
                                    &lt;/ul&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            </pre>
        </div>                
    </div>                
</div>                

<!-- CSS -->
<div class="demo-section">
    <h3 id="cpn_css">CSS</h3>
    <div class="demo-wrapper">
        <div class="demo_content">
            <pre class="brush:css;">
                .project_ManagerMain .module_cmt ul li{
                    list-style:none;
                }
                .project_ManagerMain .module_cmt dl {
                    margin-bottom: 10px;
                }
                .project_ManagerMain .module_cmt dl > dd {
                    display: table-cell;
                    padding-left: 5px;
                }
                .project_ManagerMain .module_cmt dl > dt {
                    color: #707070;
                    display: table-cell;
                    font-weight: normal;
                    text-align: left;
                    vertical-align: top;
                    width: 190px;
                    min-width: 190px;
                }
            </pre>
        </div>                
    </div>                
</div>                

<!-- JS -->
<div class="demo-section">
    <h3 id="cpn_js">JS</h3>
    <div class="demo-wrapper">
        <div class="demo_content ">
            <pre class="brush:js;">
                
            </pre>
        </div>                
    </div>                
</div>                

<!-- NOTE -->
<div class="demo-section">
    <h3 id="cpn_note">Note</h3>
    <p class="hidden">Note des</p>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><code class="highlighter-rouge">CSS</code></td>
                <td>Chỉ thêm <code>CSS</code> khi copy <code>HTML</code> không giống demo</td>
            </tr>
            <tr>
                <td><code class="highlighter-rouge">JS</code></td>
                <td>Chỉ thêm <code>Js</code> khi copy <code>HTML,CSS</code> không chạy giống demo</td>
            </tr>
        </tbody>
    </table>
</div>