<!-- MÔ TẢ -->
<h1 class="bd-title" id="content">Breadcrumb</h1>


<!-- DEMO -->
<div class="demo-section">
    <h3 id="cpn_demo">Demo</h3>
    <div class="demo_content">
    	<div class="page-breadcrumbs">
    	    <ul class="breadcrumb">
    	        <li>
    	            <a href="/qlns/home.html"><i class="fa fa-home"></i>Tổng quan</a>
    	        </li>
    	        <li class="active">Bảng lương</li>
    	    </ul>
    	</div>
    </div>
</div>                

<!-- HTML -->
<div class="demo-section">
    <h3 id="cpn_html">HTML</h3>
    <div class="demo-wrapper">
        <div class="demo_content">
            <pre class="brush:xml;">
				&lt;div class=&quot;page-breadcrumbs&quot;&gt;
					&lt;ul class=&quot;breadcrumb&quot;&gt;
						&lt;li&gt;
							&lt;a href=&quot;/qlns/home.html&quot;&gt;
								&lt;i class=&quot;fa fa-home&quot;&gt;&lt;/i&gt;Tổng quan
							&lt;/a&gt;
						&lt;/li&gt;
						&lt;li class=&quot;active&quot;&gt;Bảng lương
				    &lt;/li&gt;
					&lt;/ul&gt;
				&lt;/div&gt;
            </pre>
        </div>                
    </div>                
</div>                

<!-- CSS -->
<div class="demo-section">
    <h3 id="cpn_css">CSS</h3>
    <div class="demo-wrapper">
        <div class="demo_content">
            <pre class="brush:css;">

            </pre>
        </div>                
    </div>                
</div>                

<!-- JS -->
<div class="demo-section">
    <h3 id="cpn_js">JS</h3>
    <div class="demo-wrapper">
        <div class="demo_content ">
            <pre class="brush:js;">
     
            </pre>
        </div>                
    </div>                
</div>                
<!-- NOTE -->
<div class="demo-section">
    <h3 id="cpn_note">Note</h3>
    <p class="hidden">Note des</p>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><code class="highlighter-rouge">CSS</code></td>
                <td>Chỉ thêm <code>CSS</code> khi copy <code>HTML</code> không giống demo</td>
            </tr>
            <tr>
                <td><code class="highlighter-rouge">JS</code></td>
                <td>Chỉ thêm <code>Js</code> khi copy <code>HTML,CSS</code> không chạy giống demo</td>
            </tr>
        </tbody>
    </table>
</div>