<!-- MÔ TẢ -->
<h1 class="bd-title" id="content">Center slider</h1>


<!-- DEMO -->
<div class="demo-section">
    <h3 id="cpn_demo">Demo</h3>
    <div class="demo_content">
        <div class="useMoreSlide" id="module_slide" data-target="module_slide">
            <div class="more_slide_nav more_slide_prev">
                <span class="slide_icon"><i class="fa fa-angle-left" aria-hidden="true"></i></span>
                <span class="prev_count"></span>
            </div>
            <div class="more_slide_nav more_slide_next">
                <span class="slide_icon"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                <span class="next_count"></span>
            </div>
            <div class="list-module more_slide">
                    <div class="module-item more_slide_item">
                        <div class="module-item-content module_sale">
                            <div class="module-item-inner">
                                <a href="" title="Quản lý kinh doanh">
                                    <img src="/stg/Assets/app/img/logo_sale.png" alt="Quản lý kinh doanh">
                                    <span>Quản lý kinh doanh</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="module-item more_slide_item">
                        <div class="module-item-content module_hr">
                            <div class="module-item-inner">
                                <a href="" title="Quản lý nhân sự">
                                    <img src="/stg/Assets/app/img/logo_hr.png" alt="Quản lý nhân sự">
                                    <span>Quản lý nhân sự</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="module-item more_slide_item">
                        <div class="module-item-content module_task">
                            <div class="module-item-inner">
                                <a href="" title="Quản lý công việc">
                                    <img src="/stg/Assets/app/img/logo_task.png" alt="Quản lý công việc">
                                    <span>Quản lý công việc</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="module-item more_slide_item">
                        <div class="module-item-content module_doc">
                            <div class="module-item-inner">
                                <a href="" title="Quản lý tài liệu">
                                    <img src="/stg/Assets/app/img/logo.png" alt="Quản lý tài liệu">
                                    <span>Quản lý tài liệu</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="module-item more_slide_item">
                        <div class="module-item-content module_equip">
                            <div class="module-item-inner">
                                <a href="" title="Quản lý tài sản">
                                    <img src="/stg/Assets/app/img/logo_equip.png" alt="Quản lý tài sản">
                                    <span>Quản lý tài sản</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="module-item more_slide_item">
                        <div class="module-item-content module_product">
                            <div class="module-item-inner">
                                <a href="" title="Quản lý sản phẩm">
                                    <img src="/stg/Assets/app/img/logo_product.png" alt="Quản lý sản phẩm">
                                    <span>Quản lý sản phẩm</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="module-item more_slide_item">
                        <div class="module-item-content module_license">
                            <div class="module-item-inner">
                                <a href="@Locate.RUrlVitualPath("qllicense", "/home.html" title="Quản lý license">
                                    <img src="/stg/Assets/app/img/logo_license.png" alt="Quản lý license">
                                    <span>Quản lý license</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="module-item more_slide_item">
                        <div class="module-item-content module_admin">
                            <div class="module-item-inner">
                                <a href="" title="Quản trị hệ thống">
                                    <img src="/stg/Assets/app/img/logo_admin.png" alt="Quản trị hệ thống">
                                    <span>Quản trị hệ thống</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="module-item more_slide_item">
                        <div class="module-item-content module_prj">
                            <div class="module-item-inner">
                                <a href="" title="Quản lý dự án">
                                    <img src="/stg/Assets/app/img/logo_projects.png" alt="Quản lý dự án">
                                    <span>Quản lý dự án</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="module-item more_slide_item">
                        <div class="module-item-content module_workflow">
                            <div class="module-item-inner">
                                <a href="" title="Quy trình thủ tục">
                                    <img src="/stg/Assets/app/img/logo_workflow.png" alt="Quy trình thủ tục">
                                    <span>Quy trình thủ tục</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="module-item more_slide_item">
                        <div class="module-item-content module_dgdoc">
                            <div class="module-item-inner">
                                <a href="" title="Số hóa tài liệu">
                                    <img src="/stg/Assets/app/img/logo_dgdoc.png" alt="Số hóa tài liệu">
                                    <span>Số hóa tài liệu</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="module-item more_slide_item">
                        <div class="module-item-content module_category">
                            <div class="module-item-inner">
                                <a href="" title="Quản lý danh mục">
                                    <img src="/stg/Assets/app/img/logo_category.png" alt="Quản lý danh mục">
                                    <span>Quản lý danh mục</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="module-item more_slide_item">
                        <div class="module-item-content module_borrow">
                            <div class="module-item-inner">
                                <a href="@Locate.RUrlVitualPath("stg",string.Format( "/{0}.html",borrow))" title="Mượn trả tài liệu">
                                    <img src="/stg/Assets/app/img/logo_borrow.png" alt="Mượn trả tài liệu">
                                    <span>Mượn trả tài liệu</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="module-item more_slide_item">
                        <div class="module-item-content module_myfile">
                            <div class="module-item-inner">
                                <a href="" title="Tài liệu cá nhân">
                                    <img src="/stg/Assets/app/img/logo_myfile.png" alt="Tài liệu cá nhân">
                                    <span>Tài liệu cá nhân</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="module-item more_slide_item">
                        <div class="module-item-content module_tdkt">
                            <div class="module-item-inner">
                                <a href="" title="Thi đua khen thưởng">
                                    <img src="/stg/Assets/app/img/logo_tdkt.png" alt="Thi đua khen thưởng">
                                    <span>Thi đua khen thưởng</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="module-item more_slide_item">
                        <div class="module-item-content module_bcy">
                            <div class="module-item-inner">
                                <a href="" title="QL Khoa học - Công nghệ">
                                    <img src="/stg/Assets/app/img/logo_bcy.png" alt="QL Khoa học - Công nghệ">
                                    <span>QL Khoa học - Công nghệ</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="module-item more_slide_item">
                        <div class="module-item-content module_qlvb">
                            <div class="module-item-inner">
                                <a href="" title="Công văn đi đến">
                                    <img src="/stg/Assets/app/img/logo_qlvb.png" alt="Công văn đi đến">
                                    <span>Công văn đi đến</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="module-item more_slide_item">
                        <div class="module-item-content module_ttcn">
                            <div class="module-item-inner">
                                <a href="" title="QL Nguồn gốc sản phẩm">
                                    <img src="/stg/Assets/app/img/logo_ttcn.png" alt="QL Nguồn gốc sản phẩm">
                                    <span>QL Nguồn gốc sản phẩm</span>
                                </a>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>                

<!-- HTML -->
<div class="demo-section">
    <h3 id="cpn_html">HTML</h3>
    <div class="demo-wrapper">
        <div class="demo_content">
            <pre class="brush:xml;">
                &lt;div class=&quot;useMoreSlide&quot; id=&quot;module_slide&quot; data-target=&quot;module_slide&quot;&gt;
                    &lt;div class=&quot;more_slide_nav more_slide_prev&quot;&gt;
                        &lt;span class=&quot;slide_icon&quot;&gt;&lt;i class=&quot;fa fa-angle-left&quot; aria-hidden=&quot;true&quot;&gt;&lt;/i&gt;&lt;/span&gt;
                        &lt;span class=&quot;prev_count&quot;&gt;&lt;/span&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;more_slide_nav more_slide_next&quot;&gt;
                        &lt;span class=&quot;slide_icon&quot;&gt;&lt;i class=&quot;fa fa-angle-right&quot; aria-hidden=&quot;true&quot;&gt;&lt;/i&gt;&lt;/span&gt;
                        &lt;span class=&quot;next_count&quot;&gt;&lt;/span&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;list-module more_slide&quot;&gt;
                            &lt;div class=&quot;module-item more_slide_item&quot;&gt;
                                &lt;div class=&quot;module-item-content module_sale&quot;&gt;
                                    &lt;div class=&quot;module-item-inner&quot;&gt;
                                        &lt;a href=&quot;&quot; title=&quot;Quản l&yacute; kinh doanh&quot;&gt;
                                            &lt;img src=&quot;/stg/Assets/app/img/logo_sale.png&quot; alt=&quot;Quản l&yacute; kinh doanh&quot;&gt;
                                            &lt;span&gt;Quản l&yacute; kinh doanh&lt;/span&gt;
                                        &lt;/a&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                            &lt;div class=&quot;module-item more_slide_item&quot;&gt;
                                &lt;div class=&quot;module-item-content module_hr&quot;&gt;
                                    &lt;div class=&quot;module-item-inner&quot;&gt;
                                        &lt;a href=&quot;&quot; title=&quot;Quản l&yacute; nh&acirc;n sự&quot;&gt;
                                            &lt;img src=&quot;/stg/Assets/app/img/logo_hr.png&quot; alt=&quot;Quản l&yacute; nh&acirc;n sự&quot;&gt;
                                            &lt;span&gt;Quản l&yacute; nh&acirc;n sự&lt;/span&gt;
                                        &lt;/a&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                            &lt;div class=&quot;module-item more_slide_item&quot;&gt;
                                &lt;div class=&quot;module-item-content module_task&quot;&gt;
                                    &lt;div class=&quot;module-item-inner&quot;&gt;
                                        &lt;a href=&quot;&quot; title=&quot;Quản l&yacute; c&ocirc;ng việc&quot;&gt;
                                            &lt;img src=&quot;/stg/Assets/app/img/logo_task.png&quot; alt=&quot;Quản l&yacute; c&ocirc;ng việc&quot;&gt;
                                            &lt;span&gt;Quản l&yacute; c&ocirc;ng việc&lt;/span&gt;
                                        &lt;/a&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                            &lt;div class=&quot;module-item more_slide_item&quot;&gt;
                                &lt;div class=&quot;module-item-content module_doc&quot;&gt;
                                    &lt;div class=&quot;module-item-inner&quot;&gt;
                                        &lt;a href=&quot;&quot; title=&quot;Quản l&yacute; t&agrave;i liệu&quot;&gt;
                                            &lt;img src=&quot;/stg/Assets/app/img/logo.png&quot; alt=&quot;Quản l&yacute; t&agrave;i liệu&quot;&gt;
                                            &lt;span&gt;Quản l&yacute; t&agrave;i liệu&lt;/span&gt;
                                        &lt;/a&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                            &lt;div class=&quot;module-item more_slide_item&quot;&gt;
                                &lt;div class=&quot;module-item-content module_equip&quot;&gt;
                                    &lt;div class=&quot;module-item-inner&quot;&gt;
                                        &lt;a href=&quot;&quot; title=&quot;Quản l&yacute; t&agrave;i sản&quot;&gt;
                                            &lt;img src=&quot;/stg/Assets/app/img/logo_equip.png&quot; alt=&quot;Quản l&yacute; t&agrave;i sản&quot;&gt;
                                            &lt;span&gt;Quản l&yacute; t&agrave;i sản&lt;/span&gt;
                                        &lt;/a&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                            &lt;div class=&quot;module-item more_slide_item&quot;&gt;
                                &lt;div class=&quot;module-item-content module_product&quot;&gt;
                                    &lt;div class=&quot;module-item-inner&quot;&gt;
                                        &lt;a href=&quot;&quot; title=&quot;Quản l&yacute; sản phẩm&quot;&gt;
                                            &lt;img src=&quot;/stg/Assets/app/img/logo_product.png&quot; alt=&quot;Quản l&yacute; sản phẩm&quot;&gt;
                                            &lt;span&gt;Quản l&yacute; sản phẩm&lt;/span&gt;
                                        &lt;/a&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                            &lt;div class=&quot;module-item more_slide_item&quot;&gt;
                                &lt;div class=&quot;module-item-content module_license&quot;&gt;
                                    &lt;div class=&quot;module-item-inner&quot;&gt;
                                        &lt;a href=&quot;@Locate.RUrlVitualPath(&quot;qllicense&quot;, &quot;/home.html&quot; title=&quot;Quản l&yacute; license&quot;&gt;
                                            &lt;img src=&quot;/stg/Assets/app/img/logo_license.png&quot; alt=&quot;Quản l&yacute; license&quot;&gt;
                                            &lt;span&gt;Quản l&yacute; license&lt;/span&gt;
                                        &lt;/a&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                            &lt;div class=&quot;module-item more_slide_item&quot;&gt;
                                &lt;div class=&quot;module-item-content module_admin&quot;&gt;
                                    &lt;div class=&quot;module-item-inner&quot;&gt;
                                        &lt;a href=&quot;&quot; title=&quot;Quản trị hệ thống&quot;&gt;
                                            &lt;img src=&quot;/stg/Assets/app/img/logo_admin.png&quot; alt=&quot;Quản trị hệ thống&quot;&gt;
                                            &lt;span&gt;Quản trị hệ thống&lt;/span&gt;
                                        &lt;/a&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                            &lt;div class=&quot;module-item more_slide_item&quot;&gt;
                                &lt;div class=&quot;module-item-content module_prj&quot;&gt;
                                    &lt;div class=&quot;module-item-inner&quot;&gt;
                                        &lt;a href=&quot;&quot; title=&quot;Quản l&yacute; dự &aacute;n&quot;&gt;
                                            &lt;img src=&quot;/stg/Assets/app/img/logo_projects.png&quot; alt=&quot;Quản l&yacute; dự &aacute;n&quot;&gt;
                                            &lt;span&gt;Quản l&yacute; dự &aacute;n&lt;/span&gt;
                                        &lt;/a&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                            &lt;div class=&quot;module-item more_slide_item&quot;&gt;
                                &lt;div class=&quot;module-item-content module_workflow&quot;&gt;
                                    &lt;div class=&quot;module-item-inner&quot;&gt;
                                        &lt;a href=&quot;&quot; title=&quot;Quy tr&igrave;nh thủ tục&quot;&gt;
                                            &lt;img src=&quot;/stg/Assets/app/img/logo_workflow.png&quot; alt=&quot;Quy tr&igrave;nh thủ tục&quot;&gt;
                                            &lt;span&gt;Quy tr&igrave;nh thủ tục&lt;/span&gt;
                                        &lt;/a&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                            &lt;div class=&quot;module-item more_slide_item&quot;&gt;
                                &lt;div class=&quot;module-item-content module_dgdoc&quot;&gt;
                                    &lt;div class=&quot;module-item-inner&quot;&gt;
                                        &lt;a href=&quot;&quot; title=&quot;Số h&oacute;a t&agrave;i liệu&quot;&gt;
                                            &lt;img src=&quot;/stg/Assets/app/img/logo_dgdoc.png&quot; alt=&quot;Số h&oacute;a t&agrave;i liệu&quot;&gt;
                                            &lt;span&gt;Số h&oacute;a t&agrave;i liệu&lt;/span&gt;
                                        &lt;/a&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                            &lt;div class=&quot;module-item more_slide_item&quot;&gt;
                                &lt;div class=&quot;module-item-content module_category&quot;&gt;
                                    &lt;div class=&quot;module-item-inner&quot;&gt;
                                        &lt;a href=&quot;&quot; title=&quot;Quản l&yacute; danh mục&quot;&gt;
                                            &lt;img src=&quot;/stg/Assets/app/img/logo_category.png&quot; alt=&quot;Quản l&yacute; danh mục&quot;&gt;
                                            &lt;span&gt;Quản l&yacute; danh mục&lt;/span&gt;
                                        &lt;/a&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                            &lt;div class=&quot;module-item more_slide_item&quot;&gt;
                                &lt;div class=&quot;module-item-content module_borrow&quot;&gt;
                                    &lt;div class=&quot;module-item-inner&quot;&gt;
                                        &lt;a href=&quot;@Locate.RUrlVitualPath(&quot;stg&quot;,string.Format( &quot;/{0}.html&quot;,borrow))&quot; title=&quot;Mượn trả t&agrave;i liệu&quot;&gt;
                                            &lt;img src=&quot;/stg/Assets/app/img/logo_borrow.png&quot; alt=&quot;Mượn trả t&agrave;i liệu&quot;&gt;
                                            &lt;span&gt;Mượn trả t&agrave;i liệu&lt;/span&gt;
                                        &lt;/a&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                            &lt;div class=&quot;module-item more_slide_item&quot;&gt;
                                &lt;div class=&quot;module-item-content module_myfile&quot;&gt;
                                    &lt;div class=&quot;module-item-inner&quot;&gt;
                                        &lt;a href=&quot;&quot; title=&quot;T&agrave;i liệu c&aacute; nh&acirc;n&quot;&gt;
                                            &lt;img src=&quot;/stg/Assets/app/img/logo_myfile.png&quot; alt=&quot;T&agrave;i liệu c&aacute; nh&acirc;n&quot;&gt;
                                            &lt;span&gt;T&agrave;i liệu c&aacute; nh&acirc;n&lt;/span&gt;
                                        &lt;/a&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                            &lt;div class=&quot;module-item more_slide_item&quot;&gt;
                                &lt;div class=&quot;module-item-content module_tdkt&quot;&gt;
                                    &lt;div class=&quot;module-item-inner&quot;&gt;
                                        &lt;a href=&quot;&quot; title=&quot;Thi đua khen thưởng&quot;&gt;
                                            &lt;img src=&quot;/stg/Assets/app/img/logo_tdkt.png&quot; alt=&quot;Thi đua khen thưởng&quot;&gt;
                                            &lt;span&gt;Thi đua khen thưởng&lt;/span&gt;
                                        &lt;/a&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                            &lt;div class=&quot;module-item more_slide_item&quot;&gt;
                                &lt;div class=&quot;module-item-content module_bcy&quot;&gt;
                                    &lt;div class=&quot;module-item-inner&quot;&gt;
                                        &lt;a href=&quot;&quot; title=&quot;QL Khoa học - C&ocirc;ng nghệ&quot;&gt;
                                            &lt;img src=&quot;/stg/Assets/app/img/logo_bcy.png&quot; alt=&quot;QL Khoa học - C&ocirc;ng nghệ&quot;&gt;
                                            &lt;span&gt;QL Khoa học - C&ocirc;ng nghệ&lt;/span&gt;
                                        &lt;/a&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                            &lt;div class=&quot;module-item more_slide_item&quot;&gt;
                                &lt;div class=&quot;module-item-content module_qlvb&quot;&gt;
                                    &lt;div class=&quot;module-item-inner&quot;&gt;
                                        &lt;a href=&quot;&quot; title=&quot;C&ocirc;ng văn đi đến&quot;&gt;
                                            &lt;img src=&quot;/stg/Assets/app/img/logo_qlvb.png&quot; alt=&quot;C&ocirc;ng văn đi đến&quot;&gt;
                                            &lt;span&gt;C&ocirc;ng văn đi đến&lt;/span&gt;
                                        &lt;/a&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                            &lt;div class=&quot;module-item more_slide_item&quot;&gt;
                                &lt;div class=&quot;module-item-content module_ttcn&quot;&gt;
                                    &lt;div class=&quot;module-item-inner&quot;&gt;
                                        &lt;a href=&quot;&quot; title=&quot;QL Nguồn gốc sản phẩm&quot;&gt;
                                            &lt;img src=&quot;/stg/Assets/app/img/logo_ttcn.png&quot; alt=&quot;QL Nguồn gốc sản phẩm&quot;&gt;
                                            &lt;span&gt;QL Nguồn gốc sản phẩm&lt;/span&gt;
                                        &lt;/a&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            </pre>
        </div>                
    </div>                
</div>                

<!-- CSS -->
<div class="demo-section">
    <h3 id="cpn_css">CSS</h3>
    <div class="demo-wrapper">
        <div class="demo_content">
            <pre class="brush:css;">
                .list-module {
                    display: flex;
                    flex-direction: row;
                    -webkit-flex-direction: row;
                    flex-wrap: nowrap;
                    -webkit-flex-wrap: nowrap;
                    justify-content: center;
                    -webkit-justify-content: center;
                    align-items: start;
                    -webkit-align-items: start;
                    align-content: center;
                    height: 88px;
                    overflow: hidden;
                    min-width: fit-content;
                    width: auto;
                }
                .module-item {
                    width: 150px;
                    order: 0;
                    -webkit-order: 0;
                    flex-grow: 0;
                    -webkit-flex-grow: 0;
                    flex-shrink: 0;
                    -webkit-flex-shrink: 0;
                    align-self: auto;
                    -webkit-align-self: auto;
                    margin: 0px 15px 15px 15px;
                    background: #fff;
                    border-radius: 3px;
                    overflow: hidden;

                }
                .module-item-content {
                    position: relative;
                    width: 100%;
                    height: auto;
                }
                .module-item-inner {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    display: block;
                    text-align: center;
                    z-index: 2;
                    padding-top: 15px;
                    padding-bottom: 12px;
                }
                .module-item-inner a {
                    text-align: center;
                    color: #fff;
                    text-decoration: none;
                    font-weight: bold;
                    display: block;
                    width: 100%;
                    padding: 0 10px;
                }
                .module-item-inner a:hover,
                .module-item-inner a:focus {
                    text-decoration: underline;
                }
                .module-item-inner a img {
                    display: block;
                    clear: both;
                    margin: 0 auto;
                    max-width: 100px;
                    max-height: 20px;
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    object-position: center;
                    margin-bottom: 5px;
                    height: 20px;
                }
                .module-item-inner a span {
                    display: block;
                    clear: both;
                    margin: 0 auto;
                    white-space: nowrap;
                    overflow: hidden;
                    position: relative;
                    text-overflow: ellipsis;    
                }
                .module-item {
                    background-color: #a0d468;
                }
                .module-item .module_admin {
                    background-color: #e75b8d;
                }
                .module-item .module_doc {
                    background-color: #3b7d9d;
                }
                .module-item .module_task {
                    background-color: #795548;
                }
                .module-item .module_hr {
                    background-color: #fb6e52;
                }
                .module-item .module_prj {
                    background-color: #FF9800;
                }
                .module-item .module_sale {
                    background-color: #00a651;
                }
                .module-item .module_equip {
                    background-color: #222222;
                }
                .module-item .module_license {
                    background-color: #2e3092;
                }
                .module-item .module_product {
                    background-color: #e74c3c;
                }
                .module-item  .module_workflow {
                    background-color: #8BC34A;
                }
                .module-item .module_dgdoc {
                    background-color: #c0392b;
                }
                .module-item .module_category {
                    background-color: #d35400;
                }
                .module-item .module_borrow {
                    background-color: #f39c12;
                }
                .module-item .module_myfile {
                    background-color: #16a085;
                }
                .module-item .module_tdkt {
                    background-color: #27ae60;
                }
                .module-item .module_bcy {
                    background-color: #2980b9;
                }
                .module-item .module_qlvb {
                    background-color: #8e44ad;
                }
                .module-item .module_ttcn {
                    background-color: #34495e;
                }
                .module-item.circle-module-item {
                    background: transparent;
                }
                .module-item.circle-module-item .module-item-inner a {
                    color: #222;
                }
                .module-item.circle-module-item .module-item-content {
                    padding-bottom: 100%;
                }
                /*SHOW MORE SLIDE*/
                .useMoreSlide {
                    position: relative;
                    overflow: hidden;
                }
                .more_slide_nav {
                    width: 40px;
                    height: 68px;
                    background: rgba(0, 0, 0, .1);
                    flex-direction: column;
                    justify-content: center;
                    position: absolute;
                    top: 50%;
                    margin-top: -42px;
                    cursor: pointer;
                    z-index: 10;
                    display: none;
                }
                .more_slide_nav:hover,
                .more_slide_nav:focus {
                    background: rgba(0, 0, 0, .2);
                    color: #fff;
                }
                .more_slide_nav span {
                    display: block;
                    text-align: center;
                    line-height: 68px;
                    font-size: 16px;
                    width: 100%;
                    height: 100%;
                    -webkit-transition: all .25s;
                        -moz-transition: all .25s;
                         -ms-transition: all .25s;
                          -o-transition: all .25s;
                             transition: all .25s; 
                    font-weight: 300;
                    color: #fff;        
                    user-select: none;     
                }
                .more_slide_prev {
                    left: 0;
                    border-top-right-radius: 68px;
                    border-bottom-right-radius: 68px;    
                }
                .more_slide_next {
                    right: 0;
                    border-top-left-radius: 68px;
                    border-bottom-left-radius: 68px;    
                }
                .page-body .more_slide_next {
                    right: -15px;
                }
                .page-body .more_slide_prev {
                    left: -15px;
                }
                .more_slide_nav span.slide_icon {
                    color: #fff;
                    display: none;    
                }
                .more_slide_nav:hover span.slide_icon,
                .more_slide_nav:focus span.slide_icon {
                    color: #fff;
                }
                .more_slide{
                    -webkit-transition: all .25s;
                       -moz-transition: all .25s;
                        -ms-transition: all .25s;
                         -o-transition: all .25s;
                            transition: all .25s;
                }
                .more_slide_nav span.prev_count:after {
                    left: 5px;
                    right: auto;
                }
                .more_slide_nav span.next_count:after {
                    right: 5px;
                    left: auto;
                }
            </pre>
        </div>                
    </div>                
</div>                

<!-- JS -->
<div class="demo-section">
    <h3 id="cpn_js">JS</h3>
    <div class="demo-wrapper">
        <div class="demo_content ">
            <pre class="brush:js;">
                $(document).ready(function () {     
                    list_pagi(0, "");
                    jQuery(document).on('click', '.more_slide_next', function () {
                        var target = $("#" + $(this).parent(".useMoreSlide").attr("data-target"));
                        var index = parseInt($(this).attr("data-index"));
                        list_pagi(index, "");
                    });
                    jQuery(document).on('click', '.more_slide_prev', function () {
                        var target = $("#" + $(this).parent(".useMoreSlide").attr("data-target"));
                        var index = parseInt($(this).attr("data-index"));
                        list_pagi(index, "");
                    });
                });

                $(window).resize(function () {
                    list_pagi(0, "resize");
                });

                function list_gen(container, resize, n, width) {
                    container.find(".more_slide_item.curent_slide").last().nextAll().addClass("temp_next");
                    container.find(".more_slide_item.temp_next").css("opacity", ".01");
                    var temp_next_length = container.find(".more_slide_item.temp_next").length;
                    var next_index = container.children(".more_slide").children(".more_slide_item").index(container.children(".more_slide").children(".more_slide_item.temp_next").first());
                    if (!container.attr("data-first-index") && resize != "resize") {
                        container.attr("data-first-index", next_index);
                    } else if (container.attr("data-first-index") && resize == "resize") {
                        container.attr("data-first-index", next_index);
                    }
                    var first_index = container.attr("data-first-index");
                    container.find(".more_slide_next").attr("data-index", next_index);
                    container.find(".more_slide_prev").attr("data-index", n - first_index);
                    if (temp_next_length != 0) {
                        container.find(".more_slide_next").show();
                        container.find(".next_count").html("+" + temp_next_length);

                    } else {
                        container.find(".more_slide_next").hide();
                    }
                    container.find(".more_slide_item.curent_slide").first().prevAll().addClass("temp_prev");
                    container.find(".more_slide_item.temp_prev").css("opacity", ".01");
                    var temp_prev_length = container.find(".more_slide_item.temp_prev").length;
                    if (temp_prev_length != 0) {
                        container.find(".more_slide_prev").show();
                        container.find(".prev_count").html("+" + temp_prev_length);

                    } else {
                        container.find(".more_slide_prev").hide();
                    }
                    var translate_x = 0;
                    for (i = 0, len = temp_prev_length; i < len; i++) {
                        translate_x = translate_x + parseInt(container.find(".more_slide_item.temp_prev").eq(i).attr("data-width"));
                    }
                    var curent_x = 0;
                    for (i = 0, len = container.find(".more_slide_item.curent_slide").length; i < len; i++) {
                        curent_x = curent_x + parseInt(container.find(".more_slide_item.curent_slide").eq(i).attr("data-width"));
                    }
                    var half_x = 0;
                    if (temp_next_length != 0 || temp_prev_length != 0) {
                        half_x = (width - curent_x) / 2;
                    }
                    container.children(".more_slide").css("transform", "translateX(" + -(translate_x - half_x) + "px)");
                }
                function list_pagi(n, resize) {
                    var width = 0,
                        more_slide_width = 0,
                        item_width = 0,
                        page_width = 0,
                        next_count = 0;
                    jQuery(document).find(".useMoreSlide").each(function () {
                        var target = $("#" + $(this).attr("data-target"));
                        target.attr("data-width", target.outerWidth(true));
                        target.children(".more_slide").attr("data-width", target.children(".more_slide").outerWidth(true));
                        target.find(".more_slide_item").each(function () {
                            $(this).attr("data-width", $(this).outerWidth(true));
                        });
                        width = parseInt(target.attr("data-width"));
                        more_slide_width = parseInt(target.children(".more_slide").attr("data-width"));
                        target.find(".more_slide_item").removeClass("temp_prev");
                        target.find(".more_slide_item").removeClass("temp_next");
                        target.find(".more_slide_item").removeClass("curent_slide");
                        var length = target.find(".more_slide_item").length;
                        for (i = n, len = length; i < len; i++) {
                            item_width = parseInt(target.find(".more_slide_item").eq(i).attr("data-width"));
                            if (page_width + item_width < width) {
                                page_width = page_width + item_width;
                                target.find(".more_slide_item").eq(i).addClass("curent_slide");
                                target.find(".more_slide_item").eq(i).css("opacity", "1");
                                if (i == len - 1) {
                                    list_gen(target, resize, n, width);
                                }
                            } else {
                                list_gen(target, resize, n, width);
                                break
                            }
                        }
                    });
                }    
            </pre>
        </div>                
    </div>                
</div>                
<!-- NOTE -->
<div class="demo-section">
    <h3 id="cpn_note">Note</h3>
    <p class="hidden">Note des</p>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><code class="highlighter-rouge">CSS</code></td>
                <td>Chỉ thêm <code>CSS</code> khi copy <code>HTML</code> không giống demo</td>
            </tr>
            <tr>
                <td><code class="highlighter-rouge">JS</code></td>
                <td>Chỉ thêm <code>Js</code> khi copy <code>HTML,CSS</code> không chạy giống demo</td>
            </tr>
        </tbody>
    </table>
</div>