<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <title>Docpro Components</title>
    <meta content="Docpro Components" name="description">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <link href="stg/Assets/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="stg/Assets/bootstrap/css/bootstrap-theme.css" rel="stylesheet">
    <link href="stg/Assets/jquery/css/jquery.ui.css" rel="stylesheet">
    <link href="stg/Assets/jquery/css/jquery.cscrollbar.css" rel="stylesheet">
    <link href="stg/Assets/jquery/css/jquery.datetimepicker.css" rel="stylesheet">
    <link href="stg/Assets/jquery/css/jquery.jcrop.css" rel="stylesheet">
    <link href="stg/Assets/jquery/css/jquery.contextMenu.css" rel="stylesheet">
    <link href="stg/Assets/jquery/css/jquery.megaimgviewer.css" rel="stylesheet">
    <link href="stg/Assets/jquery/css/jquery.selectbox.css" rel="stylesheet">
    <link href="stg/Assets/jquery/css/jquery.bootstrap-select.css" rel="stylesheet">
    <link href="stg/Assets/app/css/ionicons.min.css" rel="stylesheet">
    <link href="stg/Assets/beyond/css/font-awesome.css" rel="stylesheet">
    <link href="stg/Assets/beyond/css/weather-icons.css" rel="stylesheet">
    <link href="stg/Assets/beyond/css/beyond.css" rel="stylesheet">
    <link href="stg/Assets/beyond/css/demo.css" rel="stylesheet">
    <link href="stg/Assets/beyond/css/typicons.css" rel="stylesheet">
    <link href="stg/Assets/beyond/css/animate.css" rel="stylesheet">
    <link href="stg/Assets/beyond/css/dataTables.bootstrap.css" rel="stylesheet">
    <link href="stg/pdf/viewer.css" rel="stylesheet">
    <link href="stg/Assets/jquery/css/jquery.stacktable.css" rel="stylesheet">
    <link href="stg/Assets/app/css/main.css" rel="stylesheet">
    <link href="stg/Assets/app/css/size.css" rel="stylesheet">
    <link href="stg/Assets/app/css/icons.css" rel="stylesheet">
    <link href="stg/Assets/app/css/upfile.css" rel="stylesheet">
    <link href="stg/Assets/app/css/table.css" rel="stylesheet">
    <link href="stg/Assets/app/css/chat.css" rel="stylesheet">
    <link href="stg/Assets/app/css/ntfs.css" rel="stylesheet">
    <link href="stg/Assets/app/css/stg.css" rel="stylesheet">
    <link href="stg/Assets/app/css/cust.css" rel="stylesheet">
    <link href="stg/Assets/app/css/structure.css" rel="stylesheet">
    <link href="stg/Assets/app/css/fsi.css" rel="stylesheet">
    <link href="stg/Assets/app/css/fix_ie.css" rel="stylesheet">
    <script src="stg/Assets/app/js/modernizr-custom.js">
    </script>

    <link type="text/css" rel="stylesheet" href="syntaxhighlighter/styles/shCoreDefault.css"/>

    <link href='css/style.css' rel='stylesheet' type='text/css'>
    <link href='css/responsive.css' rel='stylesheet' type='text/css'>
</head>
<body>

    <!-- include HTML -->
    <div class="include_html" data-include-html="header"></div>

    <div class="main-container container-fluid">
        <div class="page-container">
            <!-- include HTML -->
            <div class="include_html" data-include-html="left"></div>
            <div class="page-content" id="Section">
                <div class="page-body" id="SHResult">
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <div class="widget">
                                <div class="widget-header bordered-bottom bordered-yellow">
                                    <span class="widget-caption has-sub-caption">
                                        <span class="widget-caption-left"><i class="fa fa-hashtag"></i></span> 
                                        <span class="widget-caption-right">
                                            <span class="widget-mainCaption">Comment</span> 
                                        </span>
                                    </span>
                                    <div class="widget-buttons">
                                        <a class="widget_back_btn text-btn" href="#" title="Quay lại"><i aria-hidden="true" class="fa fa-arrow-left"></i><span>Quay lại</span></a>
                                        <a data-toggle="maximize" href="javascript:;"><i class="fa fa-expand"></i></a>
                                        <a data-toggle="collapse" href="#"><i class="fa fa-minus"></i></a>
                                        <a data-toggle="dispose" href="javascript:;"><i class="fa fa-times"></i></a>
                                    </div>
                                </div>
                                    <div class="widget-body no-padding">
                                        <div class="demo-wrapper"> <!-- HTML -->
                                            <div class="demo-title">
                                                <span class="left">HTML</span>
                                            </div>
                                            <div class="demo_content useScrollBar">
                                                <pre class="brush:xml;">
                                                    <div class="issue-body-content">
                                                        <div class="module toggle-wrap">
                                                            <div class="mod-header">
                                                                <h2 class="toggle-title">Bình luận</h2>
                                                            </div>
                                                            <div class="mod-content">
                                                                <div class="timeline-comment">
                                                                    <div id="JobCmt268">
                                                                        <div id="JobCmt268Item145" class="timeline-comment-item card-profile-title itemMore">
                                                                            <div class="left-avatar-profile">
                                                                                <img height="35" src="/Thumb/100x100//thumb/120xauto/2018/06/06/c/201806061712074752-d20eee22146f46f33f562d208f6ca34b.jpg">
                                                                            </div>
                                                                            <div class="timeline-title">
                                                                                <a href="javascript:;">Admin Cloud</a>
                                                                                <span class="cmt-content">Xin chòa</span>
                                                                                <div class="comment-reply-btn">
                                                                                    <div class="hidden">
                                                                                        <a class="quickLike" href="/wfl/job/like-cmt/145.html" data-target="#JobCmt268Like145">Thích</a>
                                                                                        <a class="toogleClass" data-toogle-class="hidden" data-target="#JobCmt268Replay145Form">Trả lời</a>
                                                                                        <div class="timeline-like-count">
                                                                                            <a href="javascript:;">
                                                                                                <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                                                                                <span id="JobCmt268Like145"></span>
                                                                                            </a>
                                                                                        </div>
                                                                                    </div>
                                                                                    <span>21/06/2018 15:16</span>
                                                                                </div>
                                                                            </div>
                                                                            <div class="cmt-btn">
                                                                                <a href="/wfl/job/is-delete-cmt/145.html" class="quickDelete" data-target-delete="#JobCmt268Item145" data-target=".ui-dialog:visible" data-id="145" data-job="268" data-toggle="tooltip" data-placement="top" title="" data-original-title="Xóa">
                                                                                    <i class="ion-close-round" aria-hidden="true"></i>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <form action="/wfl/job/create-discuss.html" title="Thảo luận" class="quickSubmit" data-target="#JobCmt268" data-insert-type="append" accept-charset="utf-8" enctype="application/x-www-form-urlencoded" method="post">
                                                                        <div class="timeline-comment-item card-profile-title reply-cmt-form">
                                                                            <span class="left-avatar-profile">
                                                                                <img height="35" src="/Thumb/100xauto//thumb/120xauto/2018/06/06/c/201806061712074752-d20eee22146f46f33f562d208f6ca34b.jpg">
                                                                            </span>
                                                                            <span class="timeline-title">
                                                                                <span class="cmt-content">
                                                                                    <textarea data-message-not-empty="Vui lòng viết nội dung thảo luận của bạn?" name="Body" class="form-control p-text-area noresize pressSubmit checkrequired" rows="2" placeholder="Viết nội dung thảo luận"></textarea>
                                                                                    <input type="hidden" name="ID" value="268">
                                                                                </span>
                                                                                <button class="btn btn-info send_cmt" type="submit">Gửi</button>
                                                                            </span>
                                                                        </div>
                                                                    <input type="hidden" class="redirectauto" name="RedirectPath" value="http://local.docpro.vn/qlns/giaodien/TestCaseDetail.html?rand=1530238463874"></form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </pre>
                                            </div>
                                        </div>
                                        <div class="demo-wrapper"> <!-- CSS -->
                                            <div class="demo-title">
                                                <span class="left">CSS</span>
                                            </div>
                                            <div class="demo_content useScrollBar">
                                                <pre class="brush:css;">
/* Comment */
.issue-body-content .module:before,
.issue-body-content .module:after {
    content: " ";
    display: table;
}
.issue-body-content .module>.mod-header {
    background: url("../img/mod-header.png") repeat-x scroll 0 10px;
}
.module>.mod-header+.mod-content {
    margin-top: 10px;
}
.issue-body-content .module>.mod-header+.mod-content {
    margin-top: 5px;
}
.issue-body-content .module>.mod-content {
    padding-left: 15px;
    display: block;
}
.module>.mod-header:before, .module>.mod-header:after {
    content: " ";
    display: table;
}
.issue-body-content .module>.mod-header>h1, .issue-body-content .module>.mod-header>h2, .issue-body-content .module>.mod-header>h3, .issue-body-content .module>.mod-header>h4, .issue-body-content .module>.mod-header>h5, .issue-body-content .module>.mod-header>h6 {
    background-color: #fff;
    font-size: inherit;
    font-weight: bold !important;
    padding-right: 5px;
    margin-top: 0;
    position: relative;
    display: inline-block;
}
.module>.mod-header:after {
    clear: both;
}
.issue-body-content .module>.mod-header+.mod-content {
    margin-top: 5px;
}

.property-list.two-cols>.item,
.property-list.one-cols>.item {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    clear: right;
    float: left;
}

.property-list.one-cols>.item {
    width: 100%;
}
.property-list.two-cols>.item {
    width: 50%;
}
.property-list .timeline_job_item_status {
    height: none !important;
    width: auto !important;
}
.property-list.two-cols>.item > .wrap,
.property-list.one-cols>.item > .wrap {
    padding-left: 150px;
    width: 100%;
}

.property-list.two-cols>.item > .wrap > .name,
.property-list.one-cols>.item > .wrap > .name {
    width: 150px;
    margin-left: -150px;
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    word-break: break-word;
    color: #707070;
    display: inline-block;
    font-weight: normal;
    padding: 2px 5px 2px 0;
}

.property-list.two-cols>.item > .wrap > span,
.property-list.one-cols>.item > .wrap > span {
    display: inline-block;
}
.issue-body-content .timeline-comment > form {
    display: block;
    background: #fbfbfb;
    border: 1px solid #e9e9e9;
    padding: 10px 0;
}
.issue-body-content .timeline-comment .timeline-comment-item.card-profile-title {
    padding: 0px 10px 7px 10px;
    position: relative;
}
.property-list .item {
    margin: 1px 0 0 0;
}
.property-list>li {
    margin: 1px 0 0 0;
    padding: 0;
    position: relative;
}
.property-list {
    display: block;
    margin: 0;
    list-style: none;
    padding: 0;
}
.issue-body-content .timeline-comment {
    border-top: 0px;
}
.issue-body-content .cmt-content .form-control {
    width: 100%;
    height: 60px !important;
    margin-bottom: 10px;
}
.issue-body-content .timeline-comment > form .timeline-title .send_cmt {
    float: right;
    padding-top: 0;
    padding-bottom: 0;
    height: 32px;
    line-height: 32px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 22px;
}
.issue-body-content .timeline_job_item_attach {
    margin-bottom: 0px;
}
.issue-body-content .module {
    clear: both;
}
.jobQuickview_header .command-bar > ul {
    overflow: hidden;
    margin-bottom: 0;
}
.people-details dd > ul > li {
    display: block;
    margin: 5px 0;
}
.mod-content .box-rating {
    margin: -10px 0 5px 0;
}
.people-details dd > ul > li > a > img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    margin-right: 5px;
    margin-bottom: 5px;
}
.people-details dl {
    margin-bottom: 10px;
    clear: both;
}
.item-details dl > dt {
    color: #707070;
    font-weight: normal;
    font-size: 14px;
}
.item-details dl {
    border-spacing: 0;
    display: table;
    table-layout: fixed;
    margin: 0;
    width: 100%;
}
.issue-body-content .item-details dl>dt {
    text-align: left;
}
.issue-body-content .item-details dl>dt {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 2px 5px 2px 0;
}
.item-details dl>dt {
    color: #707070;
    display: table-cell;
    font-weight: normal;
    text-align: right;
    vertical-align: top;
    width: 115px;
}
.issue-body-content .item-details dl>dd {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 2px 0 2px 5px;
}
                                                </pre>
                                            </div>
                                        </div> <!-- demo-wrapper -->
                                        <div class="demo-wrapper hidden"> <!-- JS -->
                                            <div class="demo-title">
                                                <span class="left">JS</span>
                                            </div>
                                            <div class="demo_content useScrollBar">
                                                <pre class="brush:js;">
                                                               
                                                </pre>
                                            </div>
                                        </div> <!-- demo-wrapper -->
                                        <div class="demo-wrapper"> <!-- DEMO -->
                                            <div class="demo-title">
                                                <span class="left">DEMO</span>
                                            </div>
                                            <div class="demo_content useScrollBar">
                                                <div class="issue-body-content">
                                                    <div class="module toggle-wrap">
                                                        <div class="mod-header">
                                                            <h2 class="toggle-title">Bình luận</h2>
                                                        </div>
                                                        <div class="mod-content">
                                                            <div class="timeline-comment">
                                                                <div id="JobCmt268">
                                                                    <div id="JobCmt268Item145" class="timeline-comment-item card-profile-title itemMore">
                                                                        <div class="left-avatar-profile">
                                                                            <img height="35" src="/Thumb/100x100//thumb/120xauto/2018/06/06/c/201806061712074752-d20eee22146f46f33f562d208f6ca34b.jpg">
                                                                        </div>
                                                                        <div class="timeline-title">
                                                                            <a href="javascript:;">Admin Cloud</a>
                                                                            <span class="cmt-content">Xin chòa</span>
                                                                            <div class="comment-reply-btn">
                                                                                <div class="hidden">
                                                                                    <a class="quickLike" href="/wfl/job/like-cmt/145.html" data-target="#JobCmt268Like145">Thích</a>
                                                                                    <a class="toogleClass" data-toogle-class="hidden" data-target="#JobCmt268Replay145Form">Trả lời</a>
                                                                                    <div class="timeline-like-count">
                                                                                        <a href="javascript:;">
                                                                                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                                                                            <span id="JobCmt268Like145"></span>
                                                                                        </a>
                                                                                    </div>
                                                                                </div>
                                                                                <span>21/06/2018 15:16</span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="cmt-btn">
                                                                            <a href="/wfl/job/is-delete-cmt/145.html" class="quickDelete" data-target-delete="#JobCmt268Item145" data-target=".ui-dialog:visible" data-id="145" data-job="268" data-toggle="tooltip" data-placement="top" title="" data-original-title="Xóa">
                                                                                <i class="ion-close-round" aria-hidden="true"></i>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <form action="/wfl/job/create-discuss.html" title="Thảo luận" class="quickSubmit" data-target="#JobCmt268" data-insert-type="append" accept-charset="utf-8" enctype="application/x-www-form-urlencoded" method="post">
                                                                    <div class="timeline-comment-item card-profile-title reply-cmt-form">
                                                                        <span class="left-avatar-profile">
                                                                            <img height="35" src="/Thumb/100xauto//thumb/120xauto/2018/06/06/c/201806061712074752-d20eee22146f46f33f562d208f6ca34b.jpg">
                                                                        </span>
                                                                        <span class="timeline-title">
                                                                            <span class="cmt-content">
                                                                                <textarea data-message-not-empty="Vui lòng viết nội dung thảo luận của bạn?" name="Body" class="form-control p-text-area noresize pressSubmit checkrequired" rows="2" placeholder="Viết nội dung thảo luận"></textarea>
                                                                                <input type="hidden" name="ID" value="268">
                                                                            </span>
                                                                            <button class="btn btn-info send_cmt" type="submit">Gửi</button>
                                                                        </span>
                                                                    </div>
                                                                <input type="hidden" class="redirectauto" name="RedirectPath" value="http://local.docpro.vn/qlns/giaodien/TestCaseDetail.html?rand=1530238463874"></form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> <!-- demo-wrapper -->                         
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="stg/Assets/jquery/js/jquery.js">
    </script> 
    <script src="stg/Assets/jquery/js/jquery.ui.js">
    </script> 
    <script src="stg/Assets/jquery/js/jquery.mousewheel.js">
    </script> 
    <script src="stg/Assets/jquery/js/jquery.cscrollbar.js">
    </script> 
    <script src="stg/Assets/jquery/js/jquery.jcrop.js">
    </script> 
    <script src="stg/Assets/jquery/js/jquery.datetimepicker.js">
    </script> 
    <script src="stg/Assets/jquery/js/jquery.contextMenu.js">
    </script> 
    <script src="stg/Assets/jquery/js/jquery.dateformat.js">
    </script> 
    <script src="stg/Assets/jquery/js/jquery.serializejson.js">
    </script> 
    <script src="stg/Assets/jquery/js/jquery.megaimgviewer.js">
    </script> 
    <script src="stg/Assets/jquery/js/jquery.jwplayer.js">
    </script> 
    <script src="stg/Assets/jquery/js/jquery.selectbox.js">
    </script> 
    <script src="stg/Assets/jquery/js/jquery.rating.js">
    </script> 
    <script src="stg/Assets/jquery/js/jquery.bootstrap-select.js">
    </script> 
    <script src="stg/Assets/bootstrap/js/bootstrap.js">
    </script> 
    <script src="stg/pdf/compatibility.js">
    </script> 
    <script src="stg/pdf/l10n.js">
    </script> 
    <script src="stg/pdf/build/pdf.js">
    </script> 
    <script src="stg/pdf/viewer.js">
    </script> 
    <script src="stg/Assets/beyond/js/slimscroll/jquery.slimscroll.js">
    </script> 
    <script src="stg/Assets/beyond/js/validation/bootstrapValidator.js">
    </script> 
    <script src="stg/Assets/beyond/js/editors/summernote/summernote.js">
    </script> 
    <script src="stg/Assets/beyond/js/nestable/jquery.nestable.min.js">
    </script> 
    <script src="stg/Assets/beyond/js/charts/easypiechart/jquery.easypiechart.js">
    </script> 
    <script src="stg/Assets/beyond/js/charts/easypiechart/easypiechart-init.js">
    </script> 
    <script src="stg/Assets/beyond/js/fuelux/treeview/tree-custom.js">
    </script> 
    <script src="stg/Assets/beyond/js/charts/flot/jquery.flot.js">
    </script> 
    <script src="stg/Assets/beyond/js/charts/flot/jquery.flot.resize.js">
    </script> 
    <script src="stg/Assets/beyond/js/charts/flot/jquery.flot.pie.js">
    </script> 
    <script src="stg/Assets/beyond/js/charts/flot/jquery.flot.tooltip.js">
    </script> 
    <script src="stg/Assets/beyond/js/charts/flot/jquery.flot.orderBars.js">
    </script> 
    <script src="stg/Assets/beyond/js/skins.js">
    </script> 
    <script src="stg/Assets/beyond/js/beyond.js">
    </script> 
    <script src="stg/Assets/beyond/js/toastr/toastr.js">
    </script> 
    <script src="stg/Assets/jquery/js/jquery.stacktable.js">
    </script> 
    <script src="stg/Assets/app/js/autocomplete.js">
    </script> 
    <script src="stg/Assets/app/js/utils.js">
    </script> 
    <script src="stg/Assets/app/js/main.js">
    </script> 
    <script src="stg/Assets/app/js/uploader.js">
    </script> 
    <script src="stg/Assets/app/js/upfile.js">
    </script> 
    <script src="stg/Assets/app/js/tree.js">
    </script> 
    <script src="stg/Assets/app/js/avatar.js">
    </script> 
    <script src="stg/Assets/app/js/stgfile.js">
    </script> 
    <script src="stg/Assets/app/js/scan.js">
    </script> 
    <script src="stg/Assets/app/js/doc.note.js">
    </script> 
    <script src="stg/Assets/app/js/base64.js">
    </script> 
    <script src="stg/Assets/app/js/vgcaplugin.js">
    </script> 
    <script src="stg/Assets/app/js/cks.js">
    </script> 
    <script src="stg/Assets/app/js/test.js">
    </script> 
    <script src="stg/Assets/app/js/cust.js">
    </script> 
    <script src="stg/Assets/app/js/check-ie-version.js">
    </script>
    <script type="text/javascript" src="syntaxhighlighter/scripts/shCore.js"></script>
    <script type="text/javascript" src="syntaxhighlighter/scripts/shBrushXml.js"></script>
    <script type="text/javascript" src="syntaxhighlighter/scripts/shBrushCss.js"></script>
    <script type="text/javascript" src="syntaxhighlighter/scripts/shBrushJScript.js"></script>
    <script type="text/javascript">
        SyntaxHighlighter.config.stripBrs = false; /*SyntaxHighlighter.config.tagName = "pre";*/ 
        SyntaxHighlighter.defaults["gutter"] = true; 
        SyntaxHighlighter.all();
    </script>
    
    <script src='Include/header.js' type='text/javascript'></script>
    <script src='Include/left.js' type='text/javascript'></script>

    <script src='js/main.js' type='text/javascript'></script>

</body>
</html>