<!-- MÔ TẢ -->
<h1 class="bd-title" id="content">Comment</h1>


<!-- DEMO -->
<div class="demo-section">
    <h3 id="cpn_demo">Demo</h3>
    <div class="demo_content">
        <div class="issue-body-content">
            <div class="module toggle-wrap">
                <div class="mod-header">
                    <h2 class="toggle-title">Bình luận</h2>
                </div>
                <div class="mod-content">
                    <div class="timeline-comment">
                        <div id="JobCmt268">
                            <div id="JobCmt268Item145" class="timeline-comment-item card-profile-title itemMore">
                                <div class="left-avatar-profile">
                                    <img height="35" src="stg/Assets/app/img/ava1.jpg">
                                </div>
                                <div class="timeline-title">
                                    <a href="javascript:;">Admin Cloud</a>
                                    <span class="cmt-content">Xin chòa</span>
                                    <div class="comment-reply-btn">
                                        <div class="hidden">
                                            <a class="quickLike" href="/wfl/job/like-cmt/145.html" data-target="#JobCmt268Like145">Thích</a>
                                            <a class="toogleClass" data-toogle-class="hidden" data-target="#JobCmt268Replay145Form">Trả lời</a>
                                            <div class="timeline-like-count">
                                                <a href="javascript:;">
                                                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                                    <span id="JobCmt268Like145"></span>
                                                </a>
                                            </div>
                                        </div>
                                        <span>21/06/2018 15:16</span>
                                    </div>
                                </div>
                                <div class="cmt-btn">
                                    <a href="/wfl/job/is-delete-cmt/145.html" class="quickDelete" data-target-delete="#JobCmt268Item145" data-target=".ui-dialog:visible" data-id="145" data-job="268" data-toggle="tooltip" data-placement="top" title="" data-original-title="Xóa">
                                        <i class="ion-close-round" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <form action="/wfl/job/create-discuss.html" title="Thảo luận" class="quickSubmit" data-target="#JobCmt268" data-insert-type="append" accept-charset="utf-8" enctype="application/x-www-form-urlencoded" method="post">
                            <div class="timeline-comment-item card-profile-title reply-cmt-form">
                                <span class="left-avatar-profile">
                                    <img height="35" src="stg/Assets/app/img/ava1.jpg">
                                </span>
                                <span class="timeline-title">
                                    <span class="cmt-content">
                                        <textarea data-message-not-empty="Vui lòng viết nội dung thảo luận của bạn?" name="Body" class="form-control p-text-area noresize pressSubmit checkrequired" rows="2" placeholder="Viết nội dung thảo luận"></textarea>
                                        <input type="hidden" name="ID" value="268">
                                    </span>
                                    <button class="btn btn-info send_cmt" type="submit">Gửi</button>
                                </span>
                            </div>
                        <input type="hidden" class="redirectauto" name="RedirectPath" value="http://local.docpro.vn/qlns/giaodien/TestCaseDetail.html?rand=1530238463874"></form>
                    </div>
                </div>
            </div>
        </div>
    </div>                
</div>                

<!-- HTML -->
<div class="demo-section">
    <h3 id="cpn_html">HTML</h3>
    <div class="demo-wrapper">
        <div class="demo_content">
            <pre class="brush:xml;">
                &lt;div class=&quot;issue-body-content&quot;&gt;
                    &lt;div class=&quot;module toggle-wrap&quot;&gt;
                        &lt;div class=&quot;mod-header&quot;&gt;
                            &lt;h2 class=&quot;toggle-title&quot;&gt;B&igrave;nh luận&lt;/h2&gt;
                        &lt;/div&gt;
                        &lt;div class=&quot;mod-content&quot;&gt;
                            &lt;div class=&quot;timeline-comment&quot;&gt;
                                &lt;div id=&quot;JobCmt268&quot;&gt;
                                    &lt;div id=&quot;JobCmt268Item145&quot; class=&quot;timeline-comment-item card-profile-title itemMore&quot;&gt;
                                        &lt;div class=&quot;left-avatar-profile&quot;&gt;
                                            &lt;img height=&quot;35&quot; src=&quot;stg/Assets/app/img/ava1.jpg&quot;&gt;
                                        &lt;/div&gt;
                                        &lt;div class=&quot;timeline-title&quot;&gt;
                                            &lt;a href=&quot;javascript:;&quot;&gt;Admin Cloud&lt;/a&gt;
                                            &lt;span class=&quot;cmt-content&quot;&gt;Xin ch&ograve;a&lt;/span&gt;
                                            &lt;div class=&quot;comment-reply-btn&quot;&gt;
                                                &lt;div class=&quot;hidden&quot;&gt;
                                                    &lt;a class=&quot;quickLike&quot; href=&quot;/wfl/job/like-cmt/145.html&quot; data-target=&quot;#JobCmt268Like145&quot;&gt;Th&iacute;ch&lt;/a&gt;
                                                    &lt;a class=&quot;toogleClass&quot; data-toogle-class=&quot;hidden&quot; data-target=&quot;#JobCmt268Replay145Form&quot;&gt;Trả lời&lt;/a&gt;
                                                    &lt;div class=&quot;timeline-like-count&quot;&gt;
                                                        &lt;a href=&quot;javascript:;&quot;&gt;
                                                            &lt;i class=&quot;fa fa-thumbs-up&quot; aria-hidden=&quot;true&quot;&gt;&lt;/i&gt;
                                                            &lt;span id=&quot;JobCmt268Like145&quot;&gt;&lt;/span&gt;
                                                        &lt;/a&gt;
                                                    &lt;/div&gt;
                                                &lt;/div&gt;
                                                &lt;span&gt;21/06/2018 15:16&lt;/span&gt;
                                            &lt;/div&gt;
                                        &lt;/div&gt;
                                        &lt;div class=&quot;cmt-btn&quot;&gt;
                                            &lt;a href=&quot;/wfl/job/is-delete-cmt/145.html&quot; class=&quot;quickDelete&quot; data-target-delete=&quot;#JobCmt268Item145&quot; data-target=&quot;.ui-dialog:visible&quot; data-id=&quot;145&quot; data-job=&quot;268&quot; data-toggle=&quot;tooltip&quot; data-placement=&quot;top&quot; title=&quot;&quot; data-original-title=&quot;X&oacute;a&quot;&gt;
                                                &lt;i class=&quot;ion-close-round&quot; aria-hidden=&quot;true&quot;&gt;&lt;/i&gt;
                                            &lt;/a&gt;
                                        &lt;/div&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                                &lt;form action=&quot;/wfl/job/create-discuss.html&quot; title=&quot;Thảo luận&quot; class=&quot;quickSubmit&quot; data-target=&quot;#JobCmt268&quot; data-insert-type=&quot;append&quot; accept-charset=&quot;utf-8&quot; enctype=&quot;application/x-www-form-urlencoded&quot; method=&quot;post&quot;&gt;
                                    &lt;div class=&quot;timeline-comment-item card-profile-title reply-cmt-form&quot;&gt;
                                        &lt;span class=&quot;left-avatar-profile&quot;&gt;
                                            &lt;img height=&quot;35&quot; src=&quot;stg/Assets/app/img/ava1.jpg&quot;&gt;
                                        &lt;/span&gt;
                                        &lt;span class=&quot;timeline-title&quot;&gt;
                                            &lt;span class=&quot;cmt-content&quot;&gt;
                                                &lt;textarea data-message-not-empty=&quot;Vui l&ograve;ng viết nội dung thảo luận của bạn?&quot; name=&quot;Body&quot; class=&quot;form-control p-text-area noresize pressSubmit checkrequired&quot; rows=&quot;2&quot; placeholder=&quot;Viết nội dung thảo luận&quot;&gt;&lt;/textarea&gt;
                                                &lt;input type=&quot;hidden&quot; name=&quot;ID&quot; value=&quot;268&quot;&gt;
                                            &lt;/span&gt;
                                            &lt;button class=&quot;btn btn-info send_cmt&quot; type=&quot;submit&quot;&gt;Gửi&lt;/button&gt;
                                        &lt;/span&gt;
                                    &lt;/div&gt;
                                &lt;input type=&quot;hidden&quot; class=&quot;redirectauto&quot; name=&quot;RedirectPath&quot; value=&quot;http://local.docpro.vn/qlns/giaodien/TestCaseDetail.html?rand=1530238463874&quot;&gt;&lt;/form&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;    
            </pre>
        </div>                
    </div>                
</div>                

<!-- CSS -->
<div class="demo-section">
    <h3 id="cpn_css">CSS</h3>
    <div class="demo-wrapper">
        <div class="demo_content">
            <pre class="brush:css;">
                /* Comment */
                .issue-body-content .module:before,
                .issue-body-content .module:after {
                    content: " ";
                    display: table;
                }
                .issue-body-content .module>.mod-header {
                    background: url("../img/mod-header.png") repeat-x scroll 0 10px;
                }
                .module>.mod-header+.mod-content {
                    margin-top: 10px;
                }
                .issue-body-content .module>.mod-header+.mod-content {
                    margin-top: 5px;
                }
                .issue-body-content .module>.mod-content {
                    padding-left: 15px;
                    display: block;
                }
                .module>.mod-header:before, .module>.mod-header:after {
                    content: " ";
                    display: table;
                }
                .issue-body-content .module>.mod-header>h1, .issue-body-content .module>.mod-header>h2, .issue-body-content .module>.mod-header>h3, .issue-body-content .module>.mod-header>h4, .issue-body-content .module>.mod-header>h5, .issue-body-content .module>.mod-header>h6 {
                    background-color: #fff;
                    font-size: inherit;
                    font-weight: bold !important;
                    padding-right: 5px;
                    margin-top: 0;
                    position: relative;
                    display: inline-block;
                }
                .module>.mod-header:after {
                    clear: both;
                }
                .issue-body-content .module>.mod-header+.mod-content {
                    margin-top: 5px;
                }

                .property-list.two-cols>.item,
                .property-list.one-cols>.item {
                    -moz-box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    -ms-box-sizing: border-box;
                    box-sizing: border-box;
                    clear: right;
                    float: left;
                }

                .property-list.one-cols>.item {
                    width: 100%;
                }
                .property-list.two-cols>.item {
                    width: 50%;
                }
                .property-list .timeline_job_item_status {
                    height: none !important;
                    width: auto !important;
                }
                .property-list.two-cols>.item > .wrap,
                .property-list.one-cols>.item > .wrap {
                    padding-left: 150px;
                    width: 100%;
                }

                .property-list.two-cols>.item > .wrap > .name,
                .property-list.one-cols>.item > .wrap > .name {
                    width: 150px;
                    margin-left: -150px;
                    display: inline-block;
                    -moz-box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    -ms-box-sizing: border-box;
                    box-sizing: border-box;
                    word-wrap: break-word;
                    word-break: break-word;
                    color: #707070;
                    display: inline-block;
                    font-weight: normal;
                    padding: 2px 5px 2px 0;
                }

                .property-list.two-cols>.item > .wrap > span,
                .property-list.one-cols>.item > .wrap > span {
                    display: inline-block;
                }
                .issue-body-content .timeline-comment > form {
                    display: block;
                    background: #fbfbfb;
                    border: 1px solid #e9e9e9;
                    padding: 10px 0;
                }
                .issue-body-content .timeline-comment .timeline-comment-item.card-profile-title {
                    padding: 0px 10px 7px 10px;
                    position: relative;
                }
                .property-list .item {
                    margin: 1px 0 0 0;
                }
                .property-list>li {
                    margin: 1px 0 0 0;
                    padding: 0;
                    position: relative;
                }
                .property-list {
                    display: block;
                    margin: 0;
                    list-style: none;
                    padding: 0;
                }
                .issue-body-content .timeline-comment {
                    border-top: 0px;
                }
                .issue-body-content .cmt-content .form-control {
                    width: 100%;
                    height: 60px !important;
                    margin-bottom: 10px;
                }
                .issue-body-content .timeline-comment > form .timeline-title .send_cmt {
                    float: right;
                    padding-top: 0;
                    padding-bottom: 0;
                    height: 32px;
                    line-height: 32px;
                    padding-left: 20px;
                    padding-right: 20px;
                    border-radius: 22px;
                }
                .issue-body-content .timeline_job_item_attach {
                    margin-bottom: 0px;
                }
                .issue-body-content .module {
                    clear: both;
                }
                .jobQuickview_header .command-bar > ul {
                    overflow: hidden;
                    margin-bottom: 0;
                }
                .people-details dd > ul > li {
                    display: block;
                    margin: 5px 0;
                }
                .mod-content .box-rating {
                    margin: -10px 0 5px 0;
                }
                .people-details dd > ul > li > a > img {
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                    object-fit: cover;
                    object-position: center;
                    overflow: hidden;
                    margin-right: 5px;
                    margin-bottom: 5px;
                }
                .people-details dl {
                    margin-bottom: 10px;
                    clear: both;
                }
                .item-details dl > dt {
                    color: #707070;
                    font-weight: normal;
                    font-size: 14px;
                }
                .item-details dl {
                    border-spacing: 0;
                    display: table;
                    table-layout: fixed;
                    margin: 0;
                    width: 100%;
                }
                .issue-body-content .item-details dl>dt {
                    text-align: left;
                }
                .issue-body-content .item-details dl>dt {
                    -moz-box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                    padding: 2px 5px 2px 0;
                }
                .item-details dl>dt {
                    color: #707070;
                    display: table-cell;
                    font-weight: normal;
                    text-align: right;
                    vertical-align: top;
                    width: 115px;
                }
                .issue-body-content .item-details dl>dd {
                    -moz-box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                    padding: 2px 0 2px 5px;
                }
            </pre>
        </div>                
    </div>                
</div>                

<!-- JS -->
<div class="demo-section">
    <h3 id="cpn_js">JS</h3>
    <div class="demo-wrapper">
        <div class="demo_content ">
            <pre class="brush:js;">
                           
            </pre>
        </div>                
    </div>                
</div>                

<!-- NOTE -->
<div class="demo-section">
    <h3 id="cpn_note">Note</h3>
    <p class="hidden">Note des</p>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><code class="highlighter-rouge">CSS</code></td>
                <td>Chỉ thêm <code>CSS</code> khi copy <code>HTML</code> không giống demo</td>
            </tr>
            <tr>
                <td><code class="highlighter-rouge">JS</code></td>
                <td>Chỉ thêm <code>Js</code> khi copy <code>HTML,CSS</code> không chạy giống demo</td>
            </tr>
        </tbody>
    </table>
</div>