<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <title>Docpro Components</title>
    <meta content="Docpro Components" name="description">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <link href="stg/Assets/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="stg/Assets/bootstrap/css/bootstrap-theme.css" rel="stylesheet">
    <link href="stg/Assets/jquery/css/jquery.ui.css" rel="stylesheet">
    <link href="stg/Assets/jquery/css/jquery.cscrollbar.css" rel="stylesheet">
    <link href="stg/Assets/jquery/css/jquery.datetimepicker.css" rel="stylesheet">
    <link href="stg/Assets/jquery/css/jquery.jcrop.css" rel="stylesheet">
    <link href="stg/Assets/jquery/css/jquery.contextMenu.css" rel="stylesheet">
    <link href="stg/Assets/jquery/css/jquery.megaimgviewer.css" rel="stylesheet">
    <link href="stg/Assets/jquery/css/jquery.selectbox.css" rel="stylesheet">
    <link href="stg/Assets/jquery/css/jquery.bootstrap-select.css" rel="stylesheet">
    <link href="stg/Assets/app/css/ionicons.min.css" rel="stylesheet">
    <link href="stg/Assets/beyond/css/font-awesome.css" rel="stylesheet">
    <link href="stg/Assets/beyond/css/weather-icons.css" rel="stylesheet">
    <link href="stg/Assets/beyond/css/beyond.css" rel="stylesheet">
    <link href="stg/Assets/beyond/css/demo.css" rel="stylesheet">
    <link href="stg/Assets/beyond/css/typicons.css" rel="stylesheet">
    <link href="stg/Assets/beyond/css/animate.css" rel="stylesheet">
    <link href="stg/Assets/beyond/css/dataTables.bootstrap.css" rel="stylesheet">
    <link href="stg/pdf/viewer.css" rel="stylesheet">
    <link href="stg/Assets/jquery/css/jquery.stacktable.css" rel="stylesheet">
    <link href="stg/Assets/app/css/main.css" rel="stylesheet">
    <link href="stg/Assets/app/css/size.css" rel="stylesheet">
    <link href="stg/Assets/app/css/icons.css" rel="stylesheet">
    <link href="stg/Assets/app/css/upfile.css" rel="stylesheet">
    <link href="stg/Assets/app/css/table.css" rel="stylesheet">
    <link href="stg/Assets/app/css/chat.css" rel="stylesheet">
    <link href="stg/Assets/app/css/ntfs.css" rel="stylesheet">
    <link href="stg/Assets/app/css/stg.css" rel="stylesheet">
    <link href="stg/Assets/app/css/cust.css" rel="stylesheet">
    <link href="stg/Assets/app/css/structure.css" rel="stylesheet">
    <link href="stg/Assets/app/css/fsi.css" rel="stylesheet">
    <link href="stg/Assets/app/css/fix_ie.css" rel="stylesheet">
    <script src="stg/Assets/app/js/modernizr-custom.js">
    </script>

    <link type="text/css" rel="stylesheet" href="syntaxhighlighter/styles/shCoreDefault.css"/>

    <link href='css/style.css' rel='stylesheet' type='text/css'>
    <link href='css/responsive.css' rel='stylesheet' type='text/css'>
</head>
<body>

    <!-- include HTML -->
    <div class="include_html" data-include-html="header"></div>

    <div class="main-container container-fluid">
        <div class="page-container">
            <!-- include HTML -->
            <div class="include_html" data-include-html="left"></div>
            <div class="page-content" id="Section">
                <div class="page-body" id="SHResult">
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <div class="widget">
                                <div class="widget-header bordered-bottom bordered-yellow">
                                    <span class="widget-caption has-sub-caption">
                                        <span class="widget-caption-left"><i class="fa fa-hashtag"></i></span> 
                                        <span class="widget-caption-right">
                                            <span class="widget-mainCaption">DataBox</span> 
                                        </span>
                                    </span>
                                    <div class="widget-buttons">
                                        <a class="widget_back_btn text-btn" href="#" title="Quay lại"><i aria-hidden="true" class="fa fa-arrow-left"></i><span>Quay lại</span></a>
                                        <a data-toggle="maximize" href="javascript:;"><i class="fa fa-expand"></i></a>
                                        <a data-toggle="collapse" href="#"><i class="fa fa-minus"></i></a>
                                        <a data-toggle="dispose" href="javascript:;"><i class="fa fa-times"></i></a>
                                    </div>
                                </div>
                                <div class="widget-body no-padding">
                                    <div class="demo-wrapper"> <!-- HTML -->
                                        <div class="demo-title">
                                            <span class="left">HTML</span>
                                        </div>
                                        <div class="demo_content ">
                                            <pre class="brush:xml;">
                                                <div class="Chart-page-body"> <!-- DATABOX -->
                                                    <div class="row Chart_databox">
                                                        <div class="col-lg-3 col-md-3 col-mmd-6 col-sm-6 col-xs-12">
                                                            <div class="databox bg-white radius-bordered">
                                                                    <div class="databox-left bg-palegreen ">
                                                                        <a href="#" title="Đặt" ph&#242;ng=""><i class="fa fa-home"></i></a>
                                                                    </div>
                                                                    <div class="databox-right">
                                                                        <span class="databox-number palegreen ">0</span>
                                                                        <a href="#" title="Danh" s&#225;ch="" đặt="" ph&#242;ng=""><span class="databox-text darkgray" title="ĐĂNG KÝ ĐẶT PHÒNG">ĐĂNG KÝ ĐẶT PHÒNG</span></a>
                                                                    </div>

                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3 col-md-3 col-mmd-6 col-sm-6 col-xs-12">
                                                            <div class="databox bg-white radius-bordered">
                                                                <div class="databox-left bg-themesecondary">
                                                                    <a href="/qlns/bookcar.html" title="Đặt xe"><i class="fa fa-bus"></i></a>
                                                                </div>
                                                                <div class="databox-right">
                                                                    <span class="databox-number themesecondary">0</span>
                                                                    <a href="#" title="Danh sách đặt xe"><span class="databox-text darkgray" title="DANH SÁCH ĐẶT XE">DANH SÁCH ĐẶT XE</span></a>
                                                                </div>

                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3 col-md-3 col-mmd-6 col-sm-6 col-xs-12">
                                                            <div class="databox bg-white radius-bordered">
                                                                <div class="databox-left bg-themethirdcolor">
                                                                    <i class="fa fa-birthday-cake"></i>
                                                                </div>
                                                                <div class="databox-right">
                                                                    <span class="databox-number themethirdcolor">20</span>
                                                                    <div class="databox-text darkgray">SINH NHẬT TRONG THÁNG</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3 col-md-3 col-mmd-6 col-sm-6 col-xs-12">
                                                            <div class="databox bg-white radius-bordered">
                                                                <div class="databox-left bg-themeprimary">
                                                                    <a href="/qlns/work-schedule.html" title="Lịch công tác"><i class="fa fa-calendar"></i></a>
                                                                </div>
                                                                <div class="databox-right">
                                                                    <span class="databox-number themeprimary">0</span>
                                                                    <a href="#" title="Danh sách lịch công tác"><span class="databox-text darkgray" title="LỊCH CÔNG TÁC">LỊCH CÔNG TÁC</span></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </pre>
                                        </div>
                                    </div>
                                    <div class="demo-wrapper"> <!-- CSS -->
                                        <div class="demo-title">
                                            <span class="left">CSS</span>
                                        </div>
                                        <div class="demo_content ">
                                            <pre class="brush:css;">
/* DataBox */
.Chart_databox {
    margin-bottom: 30px;
}
.Chart-page-body .databox {
    margin: 0;
}
.Chart-page-body .databox, .Chart-page-body .databox .databox-bottom {
    height: auto !important;
}
.Chart-page-body .databox-left {
    font-size: 30px;
    line-height: 44px;
    font-weight: bold;
}
.Chart_databox .databox-left a {
    color: #fff;
}

                                            </pre>
                                        </div>
                                    </div> <!-- demo-wrapper -->
                                    <div class="demo-wrapper hidden"> <!-- JS -->
                                        <div class="demo-title">
                                            <span class="left">JS</span>
                                        </div>
                                        <div class="demo_content ">
                                            <pre class="brush:js;">
                                                           
                                            </pre>
                                        </div>
                                    </div> <!-- demo-wrapper -->
                                    <div class="demo-wrapper"> <!-- DEMO -->
                                        <div class="demo-title">
                                            <span class="left">DEMO</span>
                                        </div>
                                        <div class="demo_content ">
                                            <div class="Chart-page-body"> <!-- DATABOX -->
                                                <div class="row Chart_databox">
                                                    <div class="col-lg-3 col-md-3 col-mmd-6 col-sm-6 col-xs-12">
                                                        <div class="databox bg-white radius-bordered">
                                                                <div class="databox-left bg-palegreen ">
                                                                    <a href="#" title="Đặt" ph&#242;ng=""><i class="fa fa-home"></i></a>
                                                                </div>
                                                                <div class="databox-right">
                                                                    <span class="databox-number palegreen ">0</span>
                                                                    <a href="#" title="Danh" s&#225;ch="" đặt="" ph&#242;ng=""><span class="databox-text darkgray" title="ĐĂNG KÝ ĐẶT PHÒNG">ĐĂNG KÝ ĐẶT PHÒNG</span></a>
                                                                </div>

                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-3 col-mmd-6 col-sm-6 col-xs-12">
                                                        <div class="databox bg-white radius-bordered">
                                                            <div class="databox-left bg-themesecondary">
                                                                <a href="/qlns/bookcar.html" title="Đặt xe"><i class="fa fa-bus"></i></a>
                                                            </div>
                                                            <div class="databox-right">
                                                                <span class="databox-number themesecondary">0</span>
                                                                <a href="#" title="Danh sách đặt xe"><span class="databox-text darkgray" title="DANH SÁCH ĐẶT XE">DANH SÁCH ĐẶT XE</span></a>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-3 col-mmd-6 col-sm-6 col-xs-12">
                                                        <div class="databox bg-white radius-bordered">
                                                            <div class="databox-left bg-themethirdcolor">
                                                                <i class="fa fa-birthday-cake"></i>
                                                            </div>
                                                            <div class="databox-right">
                                                                <span class="databox-number themethirdcolor">20</span>
                                                                <div class="databox-text darkgray">SINH NHẬT TRONG THÁNG</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-3 col-mmd-6 col-sm-6 col-xs-12">
                                                        <div class="databox bg-white radius-bordered">
                                                            <div class="databox-left bg-themeprimary">
                                                                <a href="/qlns/work-schedule.html" title="Lịch công tác"><i class="fa fa-calendar"></i></a>
                                                            </div>
                                                            <div class="databox-right">
                                                                <span class="databox-number themeprimary">0</span>
                                                                <a href="#" title="Danh sách lịch công tác"><span class="databox-text darkgray" title="LỊCH CÔNG TÁC">LỊCH CÔNG TÁC</span></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> <!-- demo-wrapper -->                         
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="stg/Assets/jquery/js/jquery.js">
    </script> 
    <script src="stg/Assets/jquery/js/jquery.ui.js">
    </script> 
    <script src="stg/Assets/jquery/js/jquery.mousewheel.js">
    </script> 
    <script src="stg/Assets/jquery/js/jquery.cscrollbar.js">
    </script> 
    <script src="stg/Assets/jquery/js/jquery.jcrop.js">
    </script> 
    <script src="stg/Assets/jquery/js/jquery.datetimepicker.js">
    </script> 
    <script src="stg/Assets/jquery/js/jquery.contextMenu.js">
    </script> 
    <script src="stg/Assets/jquery/js/jquery.dateformat.js">
    </script> 
    <script src="stg/Assets/jquery/js/jquery.serializejson.js">
    </script> 
    <script src="stg/Assets/jquery/js/jquery.megaimgviewer.js">
    </script> 
    <script src="stg/Assets/jquery/js/jquery.jwplayer.js">
    </script> 
    <script src="stg/Assets/jquery/js/jquery.selectbox.js">
    </script> 
    <script src="stg/Assets/jquery/js/jquery.rating.js">
    </script> 
    <script src="stg/Assets/jquery/js/jquery.bootstrap-select.js">
    </script> 
    <script src="stg/Assets/bootstrap/js/bootstrap.js">
    </script> 
    <script src="stg/pdf/compatibility.js">
    </script> 
    <script src="stg/pdf/l10n.js">
    </script> 
    <script src="stg/pdf/build/pdf.js">
    </script> 
    <script src="stg/pdf/viewer.js">
    </script> 
    <script src="stg/Assets/beyond/js/slimscroll/jquery.slimscroll.js">
    </script> 
    <script src="stg/Assets/beyond/js/validation/bootstrapValidator.js">
    </script> 
    <script src="stg/Assets/beyond/js/editors/summernote/summernote.js">
    </script> 
    <script src="stg/Assets/beyond/js/nestable/jquery.nestable.min.js">
    </script> 
    <script src="stg/Assets/beyond/js/charts/easypiechart/jquery.easypiechart.js">
    </script> 
    <script src="stg/Assets/beyond/js/charts/easypiechart/easypiechart-init.js">
    </script> 
    <script src="stg/Assets/beyond/js/fuelux/treeview/tree-custom.js">
    </script> 
    <script src="stg/Assets/beyond/js/charts/flot/jquery.flot.js">
    </script> 
    <script src="stg/Assets/beyond/js/charts/flot/jquery.flot.resize.js">
    </script> 
    <script src="stg/Assets/beyond/js/charts/flot/jquery.flot.pie.js">
    </script> 
    <script src="stg/Assets/beyond/js/charts/flot/jquery.flot.tooltip.js">
    </script> 
    <script src="stg/Assets/beyond/js/charts/flot/jquery.flot.orderBars.js">
    </script> 
    <script src="stg/Assets/beyond/js/skins.js">
    </script> 
    <script src="stg/Assets/beyond/js/beyond.js">
    </script> 
    <script src="stg/Assets/beyond/js/toastr/toastr.js">
    </script> 
    <script src="stg/Assets/jquery/js/jquery.stacktable.js">
    </script> 
    <script src="stg/Assets/app/js/autocomplete.js">
    </script> 
    <script src="stg/Assets/app/js/utils.js">
    </script> 
    <script src="stg/Assets/app/js/main.js">
    </script> 
    <script src="stg/Assets/app/js/uploader.js">
    </script> 
    <script src="stg/Assets/app/js/upfile.js">
    </script> 
    <script src="stg/Assets/app/js/tree.js">
    </script> 
    <script src="stg/Assets/app/js/avatar.js">
    </script> 
    <script src="stg/Assets/app/js/stgfile.js">
    </script> 
    <script src="stg/Assets/app/js/scan.js">
    </script> 
    <script src="stg/Assets/app/js/doc.note.js">
    </script> 
    <script src="stg/Assets/app/js/base64.js">
    </script> 
    <script src="stg/Assets/app/js/vgcaplugin.js">
    </script> 
    <script src="stg/Assets/app/js/cks.js">
    </script> 
    <script src="stg/Assets/app/js/test.js">
    </script> 
    <script src="stg/Assets/app/js/cust.js">
    </script> 
    <script src="stg/Assets/app/js/check-ie-version.js">
    </script>
    <script type="text/javascript" src="syntaxhighlighter/scripts/shCore.js"></script>
    <script type="text/javascript" src="syntaxhighlighter/scripts/shBrushXml.js"></script>
    <script type="text/javascript" src="syntaxhighlighter/scripts/shBrushCss.js"></script>
    <script type="text/javascript" src="syntaxhighlighter/scripts/shBrushJScript.js"></script>

    
    <script src='Include/header.js' type='text/javascript'></script>
    <script src='Include/left.js' type='text/javascript'></script>

    <script src='js/main.js' type='text/javascript'></script>

</body>
</html>