<!-- MÔ TẢ -->
<h1 class="bd-title" id="content">Label</h1>


<!-- DEMO -->
<div class="demo-section">
    <h3 id="cpn_demo">Demo</h3>
    <div class="demo_content">
        <label class="label label-default">default</label>
        <label class="label label-primary">primary</label>
        <label class="label label-info">info</label>
        <label class="label label-danger">danger</label>
        <label class="label label-success">success</label>
        <label class="label label-warning">warning</label>
    </div>                
</div>                

<!-- HTML -->
<div class="demo-section">
    <h3 id="cpn_html">HTML</h3>
    <div class="demo-wrapper">
        <div class="demo_content">
            <pre class="brush:xml;">
                &lt;label class=&quot;label label-default&quot;&gt;default&lt;/label&gt;
                &lt;label class=&quot;label label-primary&quot;&gt;primary&lt;/label&gt;
                &lt;label class=&quot;label label-info&quot;&gt;info&lt;/label&gt;
                &lt;label class=&quot;label label-danger&quot;&gt;danger&lt;/label&gt;
                &lt;label class=&quot;label label-success&quot;&gt;success&lt;/label&gt;
                &lt;label class=&quot;label label-warning&quot;&gt;warning&lt;/label&gt;
            </pre>
        </div>                
    </div>                
</div>                

<!-- CSS -->
<div class="demo-section">
    <h3 id="cpn_css">CSS</h3>
    <div class="demo-wrapper">
        <div class="demo_content">
            <pre class="brush:css;">

            </pre>
        </div>                
    </div>                
</div>                

<!-- JS -->
<div class="demo-section">
    <h3 id="cpn_js">JS</h3>
    <div class="demo-wrapper">
        <div class="demo_content ">
            <pre class="brush:js;">
     
            </pre>
        </div>                
    </div>                
</div>                
<!-- NOTE -->
<div class="demo-section">
    <h3 id="cpn_note">Note</h3>
    <p class="hidden">Note des</p>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><code class="highlighter-rouge">CSS</code></td>
                <td>Chỉ thêm <code>CSS</code> khi copy <code>HTML</code> không giống demo</td>
            </tr>
            <tr>
                <td><code class="highlighter-rouge">JS</code></td>
                <td>Chỉ thêm <code>Js</code> khi copy <code>HTML,CSS</code> không chạy giống demo</td>
            </tr>
        </tbody>
    </table>
</div>