<!-- <!-- MÔ TẢ -->
<h1 class="bd-title" id="content">Alert</h1>


<!-- DEMO -->
<div class="demo-section">
    <h3 id="cpn_demo">Demo</h3>
    <div class="demo_content">
        <form method="post" data-target="#FrmCrBorrows" action="/stg/borrow/creates.html" class="_borrow--dropdown quickSubmit" id="divCartBorrow">
            <button class="btn btn-secondary" type="button" id="dropdownBorrows" aria-haspopup="true">
                <i class="fa fa-list-ul" aria-hidden="true"></i> Danh sách mượn
                <sup class="star" id="supcount" data-value="7" style="">0</sup>
            </button>
            <div class="dropdown-menu Main_dropdown open" aria-labelledby="dropdownMenuButton">
                <div class="main--all">
                    <div class="_Main useScrollBar ps-container">
                        <div class="ps-scrollbar-x-rail" style="width: 0px; display: none; left: 0px; bottom: 0px;">
                            <div class="ps-scrollbar-x" style="left: 0px; width: 0px;"></div>
                        </div>
                        <div class="ps-scrollbar-y-rail" style="top: 0px; height: 100px; display: none; right: 0px;">
                            <div class="ps-scrollbar-y" style="top: 0px; height: 0px;"></div>
                        </div>
                    </div>
                </div>
                <div class="Main--btn">
                    <button class="btn btn-info">Mượn
                    </button>
                    <a class="btn btn-default _btn--delete">Đóng
                    </a>
                </div>
            </div>
            <input type="hidden" class="redirectauto" name="RedirectPath" value="http://dev.docpro.vn/stg/borrow/search.html?rand=1546426659876">
        </form>
    </div>
</div>                

<!-- HTML -->
<div class="demo-section">
    <h3 id="cpn_html">HTML</h3>
    <div class="demo-wrapper">
        <div class="demo_content">
            <pre class="brush:xml;">
                &lt;form method=&quot;post&quot; data-target=&quot;#FrmCrBorrows&quot; action=&quot;/stg/borrow/creates.html&quot; class=&quot;_borrow--dropdown quickSubmit&quot; id=&quot;divCartBorrow&quot;&gt;
                    &lt;button class=&quot;btn btn-secondary&quot; type=&quot;button&quot; id=&quot;dropdownBorrows&quot; aria-haspopup=&quot;true&quot;&gt;
                        &lt;i class=&quot;fa fa-list-ul&quot; aria-hidden=&quot;true&quot;&gt;&lt;/i&gt; Danh s&aacute;ch mượn
                        &lt;sup class=&quot;star&quot; id=&quot;supcount&quot; data-value=&quot;7&quot; style=&quot;&quot;&gt;0&lt;/sup&gt;
                    &lt;/button&gt;
                    &lt;div class=&quot;dropdown-menu Main_dropdown open&quot; aria-labelledby=&quot;dropdownMenuButton&quot;&gt;
                        &lt;div class=&quot;main--all&quot;&gt;
                            &lt;div class=&quot;_Main useScrollBar ps-container&quot;&gt;
                                &lt;div class=&quot;ps-scrollbar-x-rail&quot; style=&quot;width: 0px; display: none; left: 0px; bottom: 0px;&quot;&gt;
                                    &lt;div class=&quot;ps-scrollbar-x&quot; style=&quot;left: 0px; width: 0px;&quot;&gt;&lt;/div&gt;
                                &lt;/div&gt;
                                &lt;div class=&quot;ps-scrollbar-y-rail&quot; style=&quot;top: 0px; height: 100px; display: none; right: 0px;&quot;&gt;
                                    &lt;div class=&quot;ps-scrollbar-y&quot; style=&quot;top: 0px; height: 0px;&quot;&gt;&lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                        &lt;div class=&quot;Main--btn&quot;&gt;
                            &lt;button class=&quot;btn btn-info&quot;&gt;Mượn
                            &lt;/button&gt;
                            &lt;a class=&quot;btn btn-default _btn--delete&quot;&gt;Đ&oacute;ng
                            &lt;/a&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                    &lt;input type=&quot;hidden&quot; class=&quot;redirectauto&quot; name=&quot;RedirectPath&quot; value=&quot;http://dev.docpro.vn/stg/borrow/search.html?rand=1546426659876&quot;&gt;
                &lt;/form&gt;
            </pre>
        </div>                
    </div>                
</div>                

<!-- CSS -->
<div class="demo-section">
    <h3 id="cpn_css">CSS</h3>
    <div class="demo-wrapper">
        <div class="demo_content">
            <pre class="brush:css;">
            </pre>
        </div>                
    </div>                
</div>                

<!-- JS -->
<div class="demo-section">
    <h3 id="cpn_js">JS</h3>
    <div class="demo-wrapper">
        <div class="demo_content ">
            <pre class="brush:js;">
     
            </pre>
        </div>                
    </div>                
</div>                
<!-- NOTE -->
<div class="demo-section">
    <h3 id="cpn_note">Note</h3>
    <p class="hidden">Note des</p>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><code class="highlighter-rouge">CSS</code></td>
                <td>Chỉ thêm <code>CSS</code> khi copy <code>HTML</code> không giống demo</td>
            </tr>
            <tr>
                <td><code class="highlighter-rouge">JS</code></td>
                <td>Chỉ thêm <code>Js</code> khi copy <code>HTML,CSS</code> không chạy giống demo</td>
            </tr>
        </tbody>
    </table>
</div> -->