<!-- MÔ TẢ -->
<h1 class="bd-title" id="content">Tab Center</h1>


<!-- DEMO -->
<div class="demo-section">
    <h3 id="cpn_demo">Demo</h3>
    <div class="demo_content">
        <div role="tabpanel" class="fsi_group_tabs">
            <ul class="nav nav-tabs tabs_visible" role="tablist" style="display: block;">
                <li role="presentation" class="active">
                    <a href="#TQKD" aria-controls="tab" role="tab" data-toggle="tab">
                        <i class="fa fa-usd"></i> Kinh doanh
                    </a>
                </li>
                <li role="presentation" class="">
                    <a href="#TQNS" aria-controls="tab" role="tab" data-toggle="tab">
                        <i class="fa fa-user-circle-o"></i> Nhân sự
                    </a>
                </li>
                <li role="presentation" class="">
                    <a href="#TQCV" aria-controls="tab" role="tab" data-toggle="tab">
                        <i class="fa fa-tasks"></i> Công việc
                    </a>
                </li>
                <li role="presentation" class="">
                    <a href="#TQTL" aria-controls="tab" role="tab" data-toggle="tab">
                        <i class="fa fa-file-text-o"></i> Tài liệu
                    </a>
                </li>
                <li role="presentation" class="">
                    <a href="#TQTS" aria-controls="tab" role="tab" data-toggle="tab">
                        <i class="fa fa-building-o"></i> Tài sản
                    </a>
                </li>
                <li role="presentation" class="hidden ">
                    <a href="#TQSP" aria-controls="tab" role="tab" data-toggle="tab">
                        <i class="fa fa-laptop"></i> Sản phẩm
                    </a>
                </li>
                <li role="presentation" class="hidden s">
                    <a href="#TQLIC" aria-controls="tab" role="tab" data-toggle="tab">
                        <i class="fa fa-id-card-o"></i> License
                    </a>
                </li>
                <li role="presentation" class="">
                    <a href="#TQAdmin" aria-controls="tab" role="tab" data-toggle="tab">
                        <i class="fa fa-cog"></i> Hệ thống
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>                

<!-- HTML -->
<div class="demo-section">
    <h3 id="cpn_html">HTML</h3>
    <div class="demo-wrapper">
        <div class="demo_content">
            <pre class="brush:xml;">
                &lt;ul class=&quot;nav nav-tabs tabs_visible&quot; role=&quot;tablist&quot; style=&quot;display: block;&quot;&gt;
                    &lt;li role=&quot;presentation&quot; class=&quot;active&quot;&gt;
                        &lt;a href=&quot;#TQKD&quot; aria-controls=&quot;tab&quot; role=&quot;tab&quot; data-toggle=&quot;tab&quot;&gt;
                            &lt;i class=&quot;fa fa-usd&quot;&gt;&lt;/i&gt; Kinh doanh
                    
                        &lt;/a&gt;
                    &lt;/li&gt;
                    &lt;li role=&quot;presentation&quot; class=&quot;&quot;&gt;
                        &lt;a href=&quot;#TQNS&quot; aria-controls=&quot;tab&quot; role=&quot;tab&quot; data-toggle=&quot;tab&quot;&gt;
                            &lt;i class=&quot;fa fa-user-circle-o&quot;&gt;&lt;/i&gt; Nh&acirc;n sự
                    
                        &lt;/a&gt;
                    &lt;/li&gt;
                    &lt;li role=&quot;presentation&quot; class=&quot;&quot;&gt;
                        &lt;a href=&quot;#TQCV&quot; aria-controls=&quot;tab&quot; role=&quot;tab&quot; data-toggle=&quot;tab&quot;&gt;
                            &lt;i class=&quot;fa fa-tasks&quot;&gt;&lt;/i&gt; C&ocirc;ng việc
                    
                        &lt;/a&gt;
                    &lt;/li&gt;
                    &lt;li role=&quot;presentation&quot; class=&quot;&quot;&gt;
                        &lt;a href=&quot;#TQTL&quot; aria-controls=&quot;tab&quot; role=&quot;tab&quot; data-toggle=&quot;tab&quot;&gt;
                            &lt;i class=&quot;fa fa-file-text-o&quot;&gt;&lt;/i&gt; T&agrave;i liệu
                    
                        &lt;/a&gt;
                    &lt;/li&gt;
                    &lt;li role=&quot;presentation&quot; class=&quot;&quot;&gt;
                        &lt;a href=&quot;#TQTS&quot; aria-controls=&quot;tab&quot; role=&quot;tab&quot; data-toggle=&quot;tab&quot;&gt;
                            &lt;i class=&quot;fa fa-building-o&quot;&gt;&lt;/i&gt; T&agrave;i sản
                    
                        &lt;/a&gt;
                    &lt;/li&gt;
                    &lt;li role=&quot;presentation&quot; class=&quot;hidden &quot;&gt;
                        &lt;a href=&quot;#TQSP&quot; aria-controls=&quot;tab&quot; role=&quot;tab&quot; data-toggle=&quot;tab&quot;&gt;
                            &lt;i class=&quot;fa fa-laptop&quot;&gt;&lt;/i&gt; Sản phẩm
                    
                        &lt;/a&gt;
                    &lt;/li&gt;
                    &lt;li role=&quot;presentation&quot; class=&quot;hidden s&quot;&gt;
                        &lt;a href=&quot;#TQLIC&quot; aria-controls=&quot;tab&quot; role=&quot;tab&quot; data-toggle=&quot;tab&quot;&gt;
                            &lt;i class=&quot;fa fa-id-card-o&quot;&gt;&lt;/i&gt; License
                    
                        &lt;/a&gt;
                    &lt;/li&gt;
                    &lt;li role=&quot;presentation&quot; class=&quot;&quot;&gt;
                        &lt;a href=&quot;#TQAdmin&quot; aria-controls=&quot;tab&quot; role=&quot;tab&quot; data-toggle=&quot;tab&quot;&gt;
                            &lt;i class=&quot;fa fa-cog&quot;&gt;&lt;/i&gt; Hệ thống
                    
                        &lt;/a&gt;
                    &lt;/li&gt;
                &lt;/ul&gt;
            </pre>
        </div>                
    </div>                
</div>                

<!-- CSS -->
<div class="demo-section">
    <h3 id="cpn_css">CSS</h3>
    <div class="demo-wrapper">
        <div class="demo_content">
            <pre class="brush:css;">
                .fsi_group_tabs .nav-tabs {
                    display: none;
                }
                .fsi_group_tabs .nav-tabs {
                    background-color: transparent;
                    box-shadow: none !important;
                }
                ul.tabs_visible {
                    height: auto;
                }
                ul.tabs_visible {
                    border: 1px solid #ccc;
                    border-bottom: 0;
                    text-align: center;
                }
                .fsi_group_tabs .nav-tabs &gt; li {
                    border-left: 1px solid transparent;
                    border-right: 1px solid transparent;
                }
                .fsi_group_tabs .nav-tabs &gt; li.active {
                    border-left: 0;
                    border-right: 0;
                }
                .fsi_group_tabs .nav-tabs &gt; li.active {
                    border-left: 1px solid #ddd;
                    border-right: 1px solid #ddd;
                }
                .fsi_group_tabs .nav-tabs &gt; li {
                    float: none;
                    display: inline-block;
                    margin-top: -3px;
                }
                .fsi_group_tabs .nav-tabs &gt; li.active &gt; a {
                    border-top: 0 !important;
                    color: #fff;
                    background: #57b5e3;
                }
                .fsi_group_tabs .nav-tabs &gt; li.active &gt; a {
                    border-top: 2px solid #2dc3e8 !important;
                    color: #57b5e3;
                    font-weight: 600;
                }
                .fsi_group_tabs .nav-tabs &gt; li &gt; a {
                    border-top: 2px solid transparent !important;
                    margin: 0 !important;
                    line-height: 1.4 !important;
                }
                .fsi_group_tabs .nav-tabs &gt; li &gt; a {
                    border: none;
                }
                .fsi_group_tabs .nav-tabs &gt; li.active:after {
                    content: &quot;&quot;;
                    display: block;
                    transform: translateX(-50%);
                    position: absolute;
                    bottom: -7px;
                    left: 50%;
                    z-index: 20;
                    border-right: 7px solid transparent;
                    border-left: 7px solid transparent;
                    border-top: 7px solid #57b5e3;
                }
                .fsi_group_tabs .nav-tabs &gt; li.active &gt; a {
                    border-top: 0 !important;
                    color: #fff;
                    background: #57b5e3;
                }
                .fsi_group_tabs .nav-tabs &gt; li.active &gt; a {
                    border-top: 2px solid #2dc3e8 !important;
                    font-weight: 600;
                }
                .fsi_group_tabs .nav-tabs &gt; li &gt; a {
                    border-top: 2px solid transparent !important;
                    margin: 0 !important;
                    line-height: 1.4 !important;
                }
                .fsi_group_tabs .nav-tabs &gt; li &gt; a {
                    border: none;
                }
            </pre>
        </div>                
    </div>                
</div>                

<!-- JS -->
<div class="demo-section">
    <h3 id="cpn_js">JS</h3>
    <div class="demo-wrapper">
        <div class="demo_content ">
            <pre class="brush:js;">
     
            </pre>
        </div>                
    </div>                
</div>                
<!-- NOTE -->
<div class="demo-section">
    <h3 id="cpn_note">Note</h3>
    <p class="hidden">Note des</p>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><code class="highlighter-rouge">CSS</code></td>
                <td>Chỉ thêm <code>CSS</code> khi copy <code>HTML</code> không giống demo</td>
            </tr>
            <tr>
                <td><code class="highlighter-rouge">JS</code></td>
                <td>Chỉ thêm <code>Js</code> khi copy <code>HTML,CSS</code> không chạy giống demo</td>
            </tr>
        </tbody>
    </table>
</div>