<!-- MÔ TẢ -->
<h1 class="bd-title" id="content">Button</h1>


<!-- DEMO -->
<div class="demo-section">
    <h3 id="cpn_demo">Demo</h3>
    <div class="demo_content">
        <ul class="important_action_btn">
            <li>
                <a class="quickUpdate" title="Chỉnh sửa" href="#">
                    <i class="fa fa-pencil btn-info" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a class="quickUpdate" title="Sắp xếp" href="#">
                    <i class="fa fa-sort btn-warning" aria-hidden="true"></i>
                </a>
            </li>
            <li class="">
                <a href="#" title="Đặt mặc định">
                    <i class="fa fa-check btn-success"></i>
                </a>
            </li>
            <li>
                <a class="quickDelete" title="Xóa" href="#">
                    <i class="fa fa-trash btn-danger"></i>
                </a>
            </li>
        </ul>
    </div>                
</div>                

<!-- HTML -->
<div class="demo-section">
    <h3 id="cpn_html">HTML</h3>
    <div class="demo-wrapper">
        <div class="demo_content">
            <pre class="brush:xml;">
                &lt;ul class=&quot;important_action_btn&quot;&gt;
                    &lt;li&gt;
                        &lt;a class=&quot;quickUpdate&quot; title=&quot;Chỉnh sửa&quot; href=&quot;#&quot;&gt;
                            &lt;i class=&quot;fa fa-pencil btn-info&quot; aria-hidden=&quot;true&quot;&gt;&lt;/i&gt;
                        &lt;/a&gt;
                    &lt;/li&gt;
                    &lt;li&gt;
                        &lt;a class=&quot;quickUpdate&quot; title=&quot;Sắp xếp&quot; href=&quot;#&quot;&gt;
                            &lt;i class=&quot;fa fa-sort btn-warning&quot; aria-hidden=&quot;true&quot;&gt;&lt;/i&gt;
                        &lt;/a&gt;
                    &lt;/li&gt;
                    &lt;li class=&quot;&quot;&gt;
                        &lt;a href=&quot;#&quot; title=&quot;Đặt mặc định&quot;&gt;
                            &lt;i class=&quot;fa fa-check btn-success&quot;&gt;&lt;/i&gt;
                        &lt;/a&gt;
                    &lt;/li&gt;
                    &lt;li&gt;
                        &lt;a class=&quot;quickDelete&quot; title=&quot;X&oacute;a&quot; href=&quot;#&quot;&gt;
                            &lt;i class=&quot;fa fa-trash btn-danger&quot;&gt;&lt;/i&gt;
                        &lt;/a&gt;
                    &lt;/li&gt;
                &lt;/ul&gt;
            </pre>
        </div>                
    </div>                
</div>                

<!-- CSS -->
<div class="demo-section">
    <h3 id="cpn_css">CSS</h3>
    <div class="demo-wrapper">
        <div class="demo_content">
            <pre class="brush:css;">
                /* BUTTON */
                .important_action_btn {
                    list-style: none;
                    margin: 0;
                    display: inline-block;
                    padding-top: 7px;
                    position: relative;
                    width: 100%;
                    max-width: 245px;
                    text-align: right;
                }
                .important_action_btn li {
                    float: none;
                    margin-right: 8px;
                    display: inline-block;
                    vertical-align: top;
                    margin-bottom: 3px;
                }
                .important_action_btn li a {
                    padding: 0;
                }
                .important_action_btn li a i {
                    color: #fff !important;
                    padding: 1px 0!important;
                    font-size: 15px !important;
                    line-height: 1.5 !important;
                    border-radius: 3px !important;
                    background-image: none !important;
                    box-shadow: none !important;
                    margin: 0 !important;
                    opacity: .7;
                    -webkit-transition: all .25s;
                    -moz-transition: all .25s;
                    -ms-transition: all .25s;
                    -o-transition: all .25s;
                    transition: all .25s;
                    width: calc(1.28571429em + 4px);
                    width: -webkit-calc(1.28571429em + 4px);
                    width: -moz-calc(1.28571429em + 4px);
                    width: -ms-calc(1.28571429em + 4px);
                    width: -o-calc(1.28571429em + 4px);
                    text-align: center;
                }
            </pre>
        </div>                
    </div>                
</div>                

<!-- JS -->
<div class="demo-section">
    <h3 id="cpn_js">JS</h3>
    <div class="demo-wrapper">
        <div class="demo_content ">
            <pre class="brush:js;">
     
            </pre>
        </div>                
    </div>                
</div>                
<!-- NOTE -->
<div class="demo-section">
    <h3 id="cpn_note">Note</h3>
    <p class="hidden">Note des</p>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><code class="highlighter-rouge">CSS</code></td>
                <td>Chỉ thêm <code>CSS</code> khi copy <code>HTML</code> không giống demo</td>
            </tr>
            <tr>
                <td><code class="highlighter-rouge">JS</code></td>
                <td>Chỉ thêm <code>Js</code> khi copy <code>HTML,CSS</code> không chạy giống demo</td>
            </tr>
        </tbody>
    </table>
</div>