<!-- MÔ TẢ -->
<h1 class="bd-title" id="content">Table Tree</h1>


<!-- DEMO -->
<div class="demo-section">
    <h3 id="cpn_demo">Demo</h3>
    <div class="demo_content">
      <table class="table table-hover useTreegrid">
        <thead>
          <tr>
            <th>Title 1</th>
            <th>Title 2</th>
          </tr>
        </thead>
        <tbody>
          <tr class="treegrid-1">
            <td>
            <label>
              <input class="group-checkable" type="checkbox">
              <span class="text"></span>
            </label>
            Root node 1</td>
            <td>Additional info</td>
          </tr>
          <tr class="treegrid-2 treegrid-parent-1">
            <td>
            <label>
              <input class="group-checkable" type="checkbox">
              <span class="text"></span>
            </label>
            Root node 1</td>
            <td>Additional info</td>
          </tr>
          <tr class="treegrid-3 treegrid-parent-1">
            <td>
            <label>
              <input class="group-checkable" type="checkbox">
              <span class="text"></span>
            </label>
            Root node 1</td>
            <td>Additional info</td>
          </tr>
          <tr class="treegrid-4 treegrid-parent-3">
            <td>
            <label>
              <input class="group-checkable" type="checkbox">
              <span class="text"></span>
            </label>
            Root node 1</td>
            <td>Additional info</td>
          </tr>
          <tr class="treegrid-5">
            <td>
            <label>
              <input class="group-checkable" type="checkbox">
              <span class="text"></span>
            </label>
            Root node 1</td>
            <td>Additional info</td>
          </tr>
          <tr class="treegrid-6 treegrid-parent-5">
            <td>
            <label>
              <input class="group-checkable" type="checkbox">
              <span class="text"></span>
            </label>
            Root node 1</td>
            <td>Additional info</td>
          </tr>
          <tr class="treegrid-7 treegrid-parent-5">
            <td>
            <label>
              <input class="group-checkable" type="checkbox">
              <span class="text"></span>
            </label>
            Root node 1</td>
            <td>Additional info</td>
          </tr>
          <tr class="treegrid-8 treegrid-parent-7">
            <td>
            <label>
              <input class="group-checkable" type="checkbox">
              <span class="text"></span>
            </label>
            Root node 1</td>
            <td>Additional info</td>
          </tr>
        </tbody>
      </table>
    </div>                
</div>                

<!-- HTML -->
<div class="demo-section">
    <h3 id="cpn_html">HTML</h3>
    <div class="demo-wrapper">
        <div class="demo_content">
            <pre class="brush:xml;">
              &lt;table class=&quot;table table-hover useTreegrid&quot;&gt;
                &lt;thead&gt;
                  &lt;tr&gt;
                    &lt;th&gt;Title 1&lt;/th&gt;
                    &lt;th&gt;Title 2&lt;/th&gt;
                  &lt;/tr&gt;
                &lt;/thead&gt;
                &lt;tbody&gt;
                  &lt;tr class=&quot;treegrid-1&quot;&gt;
                    &lt;td&gt;
                    &lt;label&gt;
                      &lt;input class=&quot;group-checkable&quot; type=&quot;checkbox&quot;&gt;
                      &lt;span class=&quot;text&quot;&gt;&lt;/span&gt;
                    &lt;/label&gt;
                    Root node 1&lt;/td&gt;
                    &lt;td&gt;Additional info&lt;/td&gt;
                  &lt;/tr&gt;
                  &lt;tr class=&quot;treegrid-2 treegrid-parent-1&quot;&gt;
                    &lt;td&gt;
                    &lt;label&gt;
                      &lt;input class=&quot;group-checkable&quot; type=&quot;checkbox&quot;&gt;
                      &lt;span class=&quot;text&quot;&gt;&lt;/span&gt;
                    &lt;/label&gt;
                    Root node 1&lt;/td&gt;
                    &lt;td&gt;Additional info&lt;/td&gt;
                  &lt;/tr&gt;
                  &lt;tr class=&quot;treegrid-3 treegrid-parent-1&quot;&gt;
                    &lt;td&gt;
                    &lt;label&gt;
                      &lt;input class=&quot;group-checkable&quot; type=&quot;checkbox&quot;&gt;
                      &lt;span class=&quot;text&quot;&gt;&lt;/span&gt;
                    &lt;/label&gt;
                    Root node 1&lt;/td&gt;
                    &lt;td&gt;Additional info&lt;/td&gt;
                  &lt;/tr&gt;
                  &lt;tr class=&quot;treegrid-4 treegrid-parent-3&quot;&gt;
                    &lt;td&gt;
                    &lt;label&gt;
                      &lt;input class=&quot;group-checkable&quot; type=&quot;checkbox&quot;&gt;
                      &lt;span class=&quot;text&quot;&gt;&lt;/span&gt;
                    &lt;/label&gt;
                    Root node 1&lt;/td&gt;
                    &lt;td&gt;Additional info&lt;/td&gt;
                  &lt;/tr&gt;
                  &lt;tr class=&quot;treegrid-5&quot;&gt;
                    &lt;td&gt;
                    &lt;label&gt;
                      &lt;input class=&quot;group-checkable&quot; type=&quot;checkbox&quot;&gt;
                      &lt;span class=&quot;text&quot;&gt;&lt;/span&gt;
                    &lt;/label&gt;
                    Root node 1&lt;/td&gt;
                    &lt;td&gt;Additional info&lt;/td&gt;
                  &lt;/tr&gt;
                  &lt;tr class=&quot;treegrid-6 treegrid-parent-5&quot;&gt;
                    &lt;td&gt;
                    &lt;label&gt;
                      &lt;input class=&quot;group-checkable&quot; type=&quot;checkbox&quot;&gt;
                      &lt;span class=&quot;text&quot;&gt;&lt;/span&gt;
                    &lt;/label&gt;
                    Root node 1&lt;/td&gt;
                    &lt;td&gt;Additional info&lt;/td&gt;
                  &lt;/tr&gt;
                  &lt;tr class=&quot;treegrid-7 treegrid-parent-5&quot;&gt;
                    &lt;td&gt;
                    &lt;label&gt;
                      &lt;input class=&quot;group-checkable&quot; type=&quot;checkbox&quot;&gt;
                      &lt;span class=&quot;text&quot;&gt;&lt;/span&gt;
                    &lt;/label&gt;
                    Root node 1&lt;/td&gt;
                    &lt;td&gt;Additional info&lt;/td&gt;
                  &lt;/tr&gt;
                  &lt;tr class=&quot;treegrid-8 treegrid-parent-7&quot;&gt;
                    &lt;td&gt;
                    &lt;label&gt;
                      &lt;input class=&quot;group-checkable&quot; type=&quot;checkbox&quot;&gt;
                      &lt;span class=&quot;text&quot;&gt;&lt;/span&gt;
                    &lt;/label&gt;
                    Root node 1&lt;/td&gt;
                    &lt;td&gt;Additional info&lt;/td&gt;
                  &lt;/tr&gt;
                &lt;/tbody&gt;
              &lt;/table&gt;
            </pre>
        </div>                
    </div>                
</div>                

<!-- CSS -->
<div class="demo-section">
    <h3 id="cpn_css">CSS</h3>
    <div class="demo-wrapper">
        <div class="demo_content">
            <pre class="brush:css;">

            </pre>
        </div>                
    </div>                
</div>                

<!-- JS -->
<div class="demo-section">
    <h3 id="cpn_js">JS</h3>
    <div class="demo-wrapper">
        <div class="demo_content ">
            <pre class="brush:js;">
              jQuery(document).find(".useTreegrid").each(function () {
                  jQuery(this).treegrid();
              });     
            </pre>
        </div>                
    </div>                
</div>                
<!-- NOTE -->
<div class="demo-section">
    <h3 id="cpn_note">Note</h3>
    <p class="hidden">Note des</p>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><code class="highlighter-rouge">CSS</code></td>
                <td>Chỉ thêm <code>CSS</code> khi copy <code>HTML</code> không giống demo</td>
            </tr>
            <tr>
                <td><code class="highlighter-rouge">JS</code></td>
                <td>Chỉ thêm <code>Js</code> khi copy <code>HTML,CSS</code> không chạy giống demo</td>
            </tr>
        </tbody>
    </table>
</div>