<!-- MÔ TẢ -->
<h1 class="bd-title" id="content">Tooltips</h1>


<!-- DEMO -->
<div class="demo-section">
    <h3 id="cpn_demo">Demo</h3>
    <div class="demo_content">
        <button class="btn btn-default" data-toggle="tooltip" data-placement="top" data-original-title="Tooltip in top">Top</button>
        <button class="btn btn-default" data-toggle="tooltip" data-placement="left" data-original-title="Tooltip in left">Left</button>
        <button class="btn btn-default" data-toggle="tooltip" data-placement="right" data-original-title="Tooltip in right">Right</button>
        <button class="btn btn-default" data-toggle="tooltip" data-placement="bottom" data-original-title="Tooltip in bottom">Bottom</button>
        <br><br>
        <button class="btn btn-danger tooltip-danger" data-toggle="tooltip" data-placement="top" data-original-title="Danger Tooltip">Danger</button>
        <button class="btn btn-warning tooltip-warning" data-toggle="tooltip" data-placement="top" data-original-title="Warning Tooltip">Warning</button>
        <button class="btn btn-info tooltip-info" data-toggle="tooltip" data-placement="top" data-original-title="Info Tooltip">Info</button>
        <button class="btn btn-success tooltip-success" data-toggle="tooltip" data-placement="top" data-original-title="Success Tooltip">Success</button>
        <button class="btn btn-blue tooltip-blue" data-toggle="tooltip" data-placement="top" data-original-title="Blue Tooltip">Blue</button>
        <button class="btn btn-palegreen tooltip-palegreen" data-toggle="tooltip" data-placement="top" data-original-title="Pale Green Tooltip">Pale Green</button>
        <button class="btn btn-darkorange tooltip-darkorange" data-toggle="tooltip" data-placement="top" data-original-title="Dark Orange Tooltip">Dark Orange</button>
        <button class="btn btn-magenta tooltip-magenta" data-toggle="tooltip" data-placement="top" data-original-title="Magenta Tooltip">Magenta</button>
        <button class="btn btn-purple tooltip-purple" data-toggle="tooltip" data-placement="top" data-original-title="Blue Tooltip">Purple</button>
        <button class="btn btn-maroon tooltip-maroon" data-toggle="tooltip" data-placement="top" data-original-title="Maroon Tooltip">Maroon</button>
    </div>                
</div>                

<!-- HTML -->
<div class="demo-section">
    <h3 id="cpn_html">HTML</h3>
    <div class="demo-wrapper">
        <div class="demo_content">
            <pre class="brush:xml;">
                &lt;button class=&quot;btn btn-default&quot; data-toggle=&quot;tooltip&quot; data-placement=&quot;top&quot; data-original-title=&quot;Tooltip in top&quot;&gt;Top&lt;/button&gt;
                &lt;button class=&quot;btn btn-default&quot; data-toggle=&quot;tooltip&quot; data-placement=&quot;left&quot; data-original-title=&quot;Tooltip in left&quot;&gt;Left&lt;/button&gt;
                &lt;button class=&quot;btn btn-default&quot; data-toggle=&quot;tooltip&quot; data-placement=&quot;right&quot; data-original-title=&quot;Tooltip in right&quot;&gt;Right&lt;/button&gt;
                &lt;button class=&quot;btn btn-default&quot; data-toggle=&quot;tooltip&quot; data-placement=&quot;bottom&quot; data-original-title=&quot;Tooltip in bottom&quot;&gt;Bottom&lt;/button&gt;
                &lt;br&gt;&lt;br&gt;
                &lt;button class=&quot;btn btn-danger tooltip-danger&quot; data-toggle=&quot;tooltip&quot; data-placement=&quot;top&quot; data-original-title=&quot;Danger Tooltip&quot;&gt;Danger&lt;/button&gt;
                &lt;button class=&quot;btn btn-warning tooltip-warning&quot; data-toggle=&quot;tooltip&quot; data-placement=&quot;top&quot; data-original-title=&quot;Warning Tooltip&quot;&gt;Warning&lt;/button&gt;
                &lt;button class=&quot;btn btn-info tooltip-info&quot; data-toggle=&quot;tooltip&quot; data-placement=&quot;top&quot; data-original-title=&quot;Info Tooltip&quot;&gt;Info&lt;/button&gt;
                &lt;button class=&quot;btn btn-success tooltip-success&quot; data-toggle=&quot;tooltip&quot; data-placement=&quot;top&quot; data-original-title=&quot;Success Tooltip&quot;&gt;Success&lt;/button&gt;
                &lt;button class=&quot;btn btn-blue tooltip-blue&quot; data-toggle=&quot;tooltip&quot; data-placement=&quot;top&quot; data-original-title=&quot;Blue Tooltip&quot;&gt;Blue&lt;/button&gt;
                &lt;button class=&quot;btn btn-palegreen tooltip-palegreen&quot; data-toggle=&quot;tooltip&quot; data-placement=&quot;top&quot; data-original-title=&quot;Pale Green Tooltip&quot;&gt;Pale Green&lt;/button&gt;
                &lt;button class=&quot;btn btn-darkorange tooltip-darkorange&quot; data-toggle=&quot;tooltip&quot; data-placement=&quot;top&quot; data-original-title=&quot;Dark Orange Tooltip&quot;&gt;Dark Orange&lt;/button&gt;
                &lt;button class=&quot;btn btn-magenta tooltip-magenta&quot; data-toggle=&quot;tooltip&quot; data-placement=&quot;top&quot; data-original-title=&quot;Magenta Tooltip&quot;&gt;Magenta&lt;/button&gt;
                &lt;button class=&quot;btn btn-purple tooltip-purple&quot; data-toggle=&quot;tooltip&quot; data-placement=&quot;top&quot; data-original-title=&quot;Blue Tooltip&quot;&gt;Purple&lt;/button&gt;
                &lt;button class=&quot;btn btn-maroon tooltip-maroon&quot; data-toggle=&quot;tooltip&quot; data-placement=&quot;top&quot; data-original-title=&quot;Maroon Tooltip&quot;&gt;Maroon&lt;/button&gt;
            </pre>
        </div>                
    </div>                
</div>                

<!-- CSS -->
<div class="demo-section">
    <h3 id="cpn_css">CSS</h3>
    <div class="demo-wrapper">
        <div class="demo_content">
            <pre class="brush:css;">

            </pre>
        </div>                
    </div>                
</div>                

<!-- JS -->
<div class="demo-section">
    <h3 id="cpn_js">JS</h3>
    <div class="demo-wrapper">
        <div class="demo_content ">
            <pre class="brush:js;">
     
            </pre>
        </div>                
    </div>                
</div>                
<!-- NOTE -->
<div class="demo-section">
    <h3 id="cpn_note">Note</h3>
    <p class="hidden">Note des</p>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><code class="highlighter-rouge">CSS</code></td>
                <td>Chỉ thêm <code>CSS</code> khi copy <code>HTML</code> không giống demo</td>
            </tr>
            <tr>
                <td><code class="highlighter-rouge">JS</code></td>
                <td>Chỉ thêm <code>Js</code> khi copy <code>HTML,CSS</code> không chạy giống demo</td>
            </tr>
        </tbody>
    </table>
</div>