<!-- MÔ TẢ -->
<h1 class="bd-title" id="content">Update trạng thái</h1>


<!-- DEMO -->
<div class="demo-section">
    <h3 id="cpn_demo">Demo</h3>
    <div class="demo_content">
        <div class="timeline_job_item_status">
            <span id="JobDetailStatus910">
                <span class="label label-danger">
              Quá hạn
            </span>
            </span>
            <div class="dropdown jobitem-action-btn">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true" title="Thay đổi trạng thái công việc">
                    <i class="fa fa-pencil" aria-hidden="true" title="Thay đổi trạng thái công việc"></i>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a class="quickUpdate" data-target="#JobDetailStatus910" data-is-label="1" data-id-job="910" data-status="3" href="/wfl/job/change-status/kiem-tra-danh-sach-cac-truong-thong-tin-tren-form1-910.html">
                  Từ chối
                </a>
                    </li>
                    <li>
                        <a class="quickUpdate" data-target="#JobDetailStatus910" data-on-success-refresh="1" data-is-label="1" data-id-job="910" data-status="2" href="/wfl/job/change-status/kiem-tra-danh-sach-cac-truong-thong-tin-tren-form1-910.html">
                  Đang xử lý
                </a>
                    </li>
                    <li>
                        <a class="quickUpdate" data-target="#JobDetailStatus910" data-on-success-refresh="1" data-is-label="1" data-id-job="910" data-status="1" href="/wfl/job/change-status/kiem-tra-danh-sach-cac-truong-thong-tin-tren-form1-910.html">
                  Hoàn thành
                </a>
                    </li>
                    <li>
                        <a class="quickUpdate" data-target="#JobDetailStatus910" data-is-label="1" data-id-job="910" data-status="5" href="/wfl/job/change-status/kiem-tra-danh-sach-cac-truong-thong-tin-tren-form1-910.html">
                  Đóng
                </a>
                    </li>
                    <li>
                        <a class="quickUpdate" data-target="#JobDetailStatus910" data-is-label="1" data-id-job="910" data-status="7" href="/wfl/job/change-status/kiem-tra-danh-sach-cac-truong-thong-tin-tren-form1-910.html">
                  Làm lại
                </a>
                    </li>
                    <li>
                        <a class="quickUpdate" data-target="#JobDetailStatus910" data-is-label="1" data-id-job="910" data-status="8" href="/wfl/job/change-status/kiem-tra-danh-sach-cac-truong-thong-tin-tren-form1-910.html">
                  Làm bổ sung
                </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>                
</div>                

<!-- HTML -->
<div class="demo-section">
    <h3 id="cpn_html">HTML</h3>
    <div class="demo-wrapper">
        <div class="demo_content">
            <pre class="brush:xml;">
                &lt;div class=&quot;timeline_job_item_status&quot;&gt;
                    &lt;span id=&quot;JobDetailStatus910&quot;&gt;
                        &lt;span class=&quot;label label-danger&quot;&gt;
                      Qu&aacute; hạn
                    &lt;/span&gt;
                    &lt;/span&gt;
                    &lt;div class=&quot;dropdown jobitem-action-btn&quot;&gt;
                        &lt;button class=&quot;btn btn-primary dropdown-toggle&quot; type=&quot;button&quot; data-toggle=&quot;dropdown&quot; aria-expanded=&quot;true&quot; title=&quot;Thay đổi trạng th&aacute;i c&ocirc;ng việc&quot;&gt;
                            &lt;i class=&quot;fa fa-pencil&quot; aria-hidden=&quot;true&quot; title=&quot;Thay đổi trạng th&aacute;i c&ocirc;ng việc&quot;&gt;&lt;/i&gt;
                        &lt;/button&gt;
                        &lt;ul class=&quot;dropdown-menu&quot;&gt;
                            &lt;li&gt;
                                &lt;a class=&quot;quickUpdate&quot; data-target=&quot;#JobDetailStatus910&quot; data-is-label=&quot;1&quot; data-id-job=&quot;910&quot; data-status=&quot;3&quot; href=&quot;/wfl/job/change-status/kiem-tra-danh-sach-cac-truong-thong-tin-tren-form1-910.html&quot;&gt;
                          Từ chối
                        &lt;/a&gt;
                            &lt;/li&gt;
                            &lt;li&gt;
                                &lt;a class=&quot;quickUpdate&quot; data-target=&quot;#JobDetailStatus910&quot; data-on-success-refresh=&quot;1&quot; data-is-label=&quot;1&quot; data-id-job=&quot;910&quot; data-status=&quot;2&quot; href=&quot;/wfl/job/change-status/kiem-tra-danh-sach-cac-truong-thong-tin-tren-form1-910.html&quot;&gt;
                          Đang xử l&yacute;
                        &lt;/a&gt;
                            &lt;/li&gt;
                            &lt;li&gt;
                                &lt;a class=&quot;quickUpdate&quot; data-target=&quot;#JobDetailStatus910&quot; data-on-success-refresh=&quot;1&quot; data-is-label=&quot;1&quot; data-id-job=&quot;910&quot; data-status=&quot;1&quot; href=&quot;/wfl/job/change-status/kiem-tra-danh-sach-cac-truong-thong-tin-tren-form1-910.html&quot;&gt;
                          Ho&agrave;n th&agrave;nh
                        &lt;/a&gt;
                            &lt;/li&gt;
                            &lt;li&gt;
                                &lt;a class=&quot;quickUpdate&quot; data-target=&quot;#JobDetailStatus910&quot; data-is-label=&quot;1&quot; data-id-job=&quot;910&quot; data-status=&quot;5&quot; href=&quot;/wfl/job/change-status/kiem-tra-danh-sach-cac-truong-thong-tin-tren-form1-910.html&quot;&gt;
                          Đ&oacute;ng
                        &lt;/a&gt;
                            &lt;/li&gt;
                            &lt;li&gt;
                                &lt;a class=&quot;quickUpdate&quot; data-target=&quot;#JobDetailStatus910&quot; data-is-label=&quot;1&quot; data-id-job=&quot;910&quot; data-status=&quot;7&quot; href=&quot;/wfl/job/change-status/kiem-tra-danh-sach-cac-truong-thong-tin-tren-form1-910.html&quot;&gt;
                          L&agrave;m lại
                        &lt;/a&gt;
                            &lt;/li&gt;
                            &lt;li&gt;
                                &lt;a class=&quot;quickUpdate&quot; data-target=&quot;#JobDetailStatus910&quot; data-is-label=&quot;1&quot; data-id-job=&quot;910&quot; data-status=&quot;8&quot; href=&quot;/wfl/job/change-status/kiem-tra-danh-sach-cac-truong-thong-tin-tren-form1-910.html&quot;&gt;
                          L&agrave;m bổ sung
                        &lt;/a&gt;
                            &lt;/li&gt;
                        &lt;/ul&gt;
                    &lt;/div&gt;
                &lt;/div&gt;

            </pre>
        </div>                
    </div>                
</div>                

<!-- CSS -->
<div class="demo-section">
    <h3 id="cpn_css">CSS</h3>
    <div class="demo-wrapper">
        <div class="demo_content">
            <pre class="brush:css;">
                .timeline_job_item_status span.label {
                    float: left;
                }
                .timeline_job_item_status .jobitem-action-btn {
                    position: relative;
                    top: 0;
                    right: 0;
                    display: inline-block;
                    z-index: 100;
                }     
                .timeline_job_item_status .jobitem-action-btn.open .dropdown-toggle, .timeline_job_item_status .jobitem-action-btn .dropdown-toggle {
                    margin: 0;
                    background: none !important;
                    border: none !important;
                    color: #777 !important;
                    text-shadow: none !important;
                    box-shadow: none;
                    font-size: 18px;
                    height: auto !important;
                    line-height: 18px !important;
                    margin-top: -4px;
                    padding-left: 5px;
                }
                .job_search_quickview_content .timeline_job_item_status .dropdown-menu {
                    border-radius: 3px !important;
                    border: 1px solid #ddd !important;
                }
                .timeline_job_item_status .jobitem-action-btn .dropdown-menu {
                    right: auto;
                    left: 0;
                }           
            </pre>
        </div>                
    </div>                
</div>                

<!-- JS -->
<div class="demo-section">
    <h3 id="cpn_js">JS</h3>
    <div class="demo-wrapper">
        <div class="demo_content ">
            <pre class="brush:js;">
                
            </pre>
        </div>                
    </div>                
</div>                

<!-- NOTE -->
<div class="demo-section">
    <h3 id="cpn_note">Note</h3>
    <p class="hidden">Note des</p>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><code class="highlighter-rouge">CSS</code></td>
                <td>Chỉ thêm <code>CSS</code> khi copy <code>HTML</code> không giống demo</td>
            </tr>
            <tr>
                <td><code class="highlighter-rouge">JS</code></td>
                <td>Chỉ thêm <code>Js</code> khi copy <code>HTML,CSS</code> không chạy giống demo</td>
            </tr>
        </tbody>
    </table>
</div>