<!-- MÔ TẢ -->
<h1 class="bd-title" id="content">Widget Header</h1>


<!-- DEMO -->
<div class="demo-section">
    <h3 id="cpn_demo">Demo</h3>
    <p>Widget Header nằm trong <strong>widget</strong> (<code class="highlighter-rouge">&lt;div class=&quot;widget&quot;&gt;&lt;/div&gt;</code> ).</p>
    <div class="demo_content">
        <div class="widget">
            <div class="widget-header bordered-bottom bordered-yellow">
                <span class="widget-caption has-sub-caption">
                    <span class="widget-caption-left"><i class="fa fa-folder-open"></i></span> 
                    <span class="widget-caption-right">
                        <span class="widget-mainCaption">Kho lưu trữ</span> 
                        <span class="widget-subCaption">Có 26 tài liệu - thư mục được tìm thấy</span>
                    </span>
                </span>
                <div class="widget-buttons">
                    <a class="widget_back_btn text-btn hidden" href="#" title="Quay lại"><i aria-hidden="true" class="fa fa-arrow-left"></i><span>Quay lại</span></a>
                    <a data-toggle="maximize" href="javascript:;"><i class="fa fa-expand"></i></a>
                    <a data-toggle="collapse" href="#"><i class="fa fa-minus"></i></a>
                    <a data-toggle="dispose" href="javascript:;"><i class="fa fa-times"></i></a>
                </div>
            </div> 
        </div>
    </div>                
</div>                

<!-- HTML -->
<div class="demo-section">
    <h3 id="cpn_html">HTML</h3>
    <div class="demo-wrapper">
        <div class="demo_content">
            <pre class="brush:xml;">
                    &lt;div class=&quot;widget-header bordered-bottom bordered-yellow&quot;&gt;
                        &lt;span class=&quot;widget-caption has-sub-caption&quot;&gt;
                            &lt;span class=&quot;widget-caption-left&quot;&gt;&lt;i class=&quot;fa fa-folder-open&quot;&gt;&lt;/i&gt;&lt;/span&gt; 
                            &lt;span class=&quot;widget-caption-right&quot;&gt;
                                &lt;span class=&quot;widget-mainCaption&quot;&gt;Kho lưu trữ&lt;/span&gt; 
                                &lt;span class=&quot;widget-subCaption&quot;&gt;C&amp;#243; 26 t&amp;#224;i liệu - thư mục được t&amp;#236;m thấy&lt;/span&gt;
                            &lt;/span&gt;
                        &lt;/span&gt;
                        &lt;div class=&quot;widget-buttons&quot;&gt;
                            &lt;a class=&quot;widget_back_btn text-btn&quot; href=&quot;#&quot; title=&quot;Quay lại&quot;&gt;&lt;i aria-hidden=&quot;true&quot; class=&quot;fa fa-arrow-left&quot;&gt;&lt;/i&gt;&lt;span&gt;Quay lại&lt;/span&gt;&lt;/a&gt;
                            &lt;a data-toggle=&quot;maximize&quot; href=&quot;javascript:;&quot;&gt;&lt;i class=&quot;fa fa-expand&quot;&gt;&lt;/i&gt;&lt;/a&gt;
                            &lt;a data-toggle=&quot;collapse&quot; href=&quot;#&quot;&gt;&lt;i class=&quot;fa fa-minus&quot;&gt;&lt;/i&gt;&lt;/a&gt;
                            &lt;a data-toggle=&quot;dispose&quot; href=&quot;javascript:;&quot;&gt;&lt;i class=&quot;fa fa-times&quot;&gt;&lt;/i&gt;&lt;/a&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;    
            </pre>
        </div>                
    </div>                
</div>                

<!-- CSS -->
<div class="demo-section">
    <h3 id="cpn_css">CSS</h3>
    <div class="demo-wrapper">
        <div class="demo_content">
            <pre class="brush:css;">
                /* widget */
                .widget {
                    padding: 0;
                    -webkit-box-shadow: 1px 0px 20px rgba(0,0,0,0.08) !important;
                    -moz-box-shadow: 1px 0px 20px rgba(0,0,0,0.08) !important;
                    box-shadow: 1px 0px 20px rgba(0,0,0,0.08) !important;
                }
                .widget-header.bordered-bottom {
                    border-bottom: 1px solid #eee !important;
                }
                .widget .widget-header {
                    min-height: 50px;
                }

                .widget .widget-header {
                    overflow: hidden;
                    height: auto;
                }
                .widget-header, .widget-body {
                    box-shadow: none !important;
                }
                .widget-header {
                    padding-left: 10px;
                    padding-right: 5px;
                }
                .widget-header {
                    text-align: center !important;
                }

                /* widget header */
                /* widget caption  */

                /* widget button */
                .widget-buttons {
                    padding-top: 9px;
                }

            </pre>
        </div>                
    </div>                
</div>                

<!-- JS -->
<div class="demo-section">
    <h3 id="cpn_js">JS</h3>
    <div class="demo-wrapper">
        <div class="demo_content ">
            <pre class="brush:js;">
                           
            </pre>
        </div>                
    </div>                
</div>                

<!-- NOTE -->
<div class="demo-section">
    <h3 id="cpn_note">Note</h3>
    <p class="hidden">Note des</p>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><code class="highlighter-rouge">CSS</code></td>
                <td>Chỉ thêm <code>CSS</code> khi copy <code>HTML</code> không giống demo</td>
            </tr>
            <tr>
                <td><code class="highlighter-rouge">JS</code></td>
                <td>Chỉ thêm <code>Js</code> khi copy <code>HTML,CSS</code> không chạy giống demo</td>
            </tr>
        </tbody>
    </table>
</div>