@media(max-width: 991px){
    body{
        padding-top: 75px;
    }
    .bd-sidebar {
        top: 0;
        position: relative;
    }    
    .bd-content {
        padding-left: 15px !important;
    }    
}
@media(min-width: 768px){
    .xs-only{
        display: none;
    }
    header.bd-navbar .navbar-nav-scroll .navbar-nav.pull-right{
        margin-right: -15px;
    }
    
}
@media(max-width: 767px){
    .xs-nopad{
        padding: 0;
    }
    header .navbar-nav-scroll {
        position: absolute;
        top: 45px;
        left: 0;
        background: #fff;
        width: 100%;
        box-shadow: 0px 5px 10px rgba(0,0,0,.123);
    }   
    header.bd-navbar .navbar-brand {
        padding: 2px 15px;
    }

    header.bd-navbar .bd-navbar-nav {
        margin: 0;
        display: block;
        width: 100%;
        position: relative;
    }
    header.bd-navbar .navbar-nav .nav-item.active .nav-link,
    header.bd-navbar .navbar-nav .nav-link:hover {
        color: rgba(0,0,0,1);
    }
    header.bd-navbar .navbar-nav .nav-link {
        color: rgba(0,0,0,.75);
        text-decoration: none;
    }
    header.bd-navbar .bd-navbar-nav > li {
        display: block;
        width: 100%;
        padding: 5px 15px;
        margin-right: 0;
    }

    header.bd-navbar .bd-navbar-nav > li > a {
        display: block;
        padding: 5px !important;
    }

    header.bd-navbar .bd-navbar-nav:last-child {
        padding-bottom: 10px;
    } 
    header.bd-navbar .navbar-nav .nav-item.btn_style .nav-link {
        border: 1px solid #e4ca6c;
        color: #8a6d3b;
        background: #ffe484;
        text-align: center;
    }       
    header.bd-navbar .navbar-nav .nav-item.btn_style .nav-link:hover {
        color: #8a6d3b;
    }

    body.showmenu:after {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, .25);
        z-index: 999;
        -webkit-transition: all .25s;
           -moz-transition: all .25s;
            -ms-transition: all .25s;
             -o-transition: all .25s;
                transition: all .25s;
    }

    header .navbar-nav-scroll {
        display: none;
    }    
}
